interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "WEDNESDAY", "SUNDAY", "TUESDAY", "SATURDAY", "FRIDAY", "THURSDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24048184816
  response:
    body:
      string: '{"activityId": 24048184816, "activityUUID": {"uuid": "fbde6aff-a3b0-413e-b9ca-375cbeac3d01"},
        "activityName": "Verdellino Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1015377, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-20T12:17:31.0", "uploadedDate":
        "2026-08-20T12:17:30.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 11, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1015377}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "thirdPartyGymEquipment": [], "personalRecord": false, "gcj02": false, "runPowerWindDataEnabled":
        true, "trimmed": false, "elevationCorrected": false, "manualActivity": false,
        "autoCalcCalories": false, "favorite": false}, "summaryDTO": {"startTimeLocal":
        "2026-08-20T13:04:05.0", "startTimeGMT": "2026-08-20T11:04:05.0", "startLatitude":
        45.60879489406943, "startLongitude": 9.616376208141446, "distance": 10035.62,
        "duration": 3376.07, "movingDuration": 3371.501, "elapsedDuration": 3812.561,
        "elevationGain": 36.0, "elevationLoss": 29.0, "maxElevation": 191.4, "minElevation":
        172.4, "avgElevation": 181.07, "averageSpeed": 2.9730000495910645, "averageMovingSpeed":
        2.97660303114634, "maxSpeed": 3.86299991607666, "calories": 759.0, "bmrCalories":
        83.0, "averageHR": 115.0, "maxHR": 124.0, "minHR": 71.0, "averageRunCadence":
        166.59375, "maxRunCadence": 179.0, "averageTemperature": 33.50505853454191,
        "maxTemperature": 36.0, "minTemperature": 31.0, "averagePower": 358.0, "maxPower":
        495.0, "minPower": 0.0, "normalizedPower": 359.0, "totalWork": 288.54277545214586,
        "groundContactTime": 269.0, "strideLength": 107.50999755859375, "verticalOscillation":
        8.990000152587891, "trainingEffect": 3.0, "anaerobicTrainingEffect": 0.0,
        "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "verticalRatio": 8.369999885559082, "endLatitude":
        45.60942018404603, "endLongitude": 9.616780886426568, "maxVerticalSpeed":
        0.4000091552734375, "waterEstimated": 937.0, "minRespirationRate": 17.43000030517578,
        "maxRespirationRate": 42.11000061035156, "avgRespirationRate": 33.189998626708984,
        "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad": 62.34556579589844,
        "minActivityLapDuration": 41.898, "directWorkoutFeel": 50, "directWorkoutRpe":
        20, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes": 59, "steps":
        9358, "beginPotentialStamina": 100.0, "endPotentialStamina": 77.0, "minAvailableStamina":
        77.0, "avgGradeAdjustedSpeed": 2.990000009536743, "differenceBodyBattery":
        -18}, "locationName": "Verdellino", "splitSummaries": [{"distance": 10021.46,
        "duration": 3370.363, "movingDuration": 3367.0, "elevationGain": 36.0, "elevationLoss":
        29.0, "averageSpeed": 2.9730000495910645, "averageMovingSpeed": 2.976393125917701,
        "maxSpeed": 3.86299991607666, "calories": 759.0, "bmrCalories": 83.0, "averageHR":
        116.0, "maxHR": 124.0, "averageRunCadence": 166.78125, "maxRunCadence": 179.0,
        "averageTemperature": 33.0, "maxTemperature": 36.0, "minTemperature": 31.0,
        "averagePower": 358.0, "maxPower": 495.0, "normalizedPower": 360.0, "groundContactTime":
        269.0, "strideLength": 107.50999755859375, "verticalOscillation": 8.990000152587891,
        "verticalRatio": 8.369999885559082, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0020000000949949026, "avgGradeAdjustedSpeed": 2.99399995803833, "splitType":
        "RWD_RUN", "noOfSplits": 9, "maxElevationGain": 17.0, "averageElevationGain":
        12.0, "maxDistance": 6726, "maxDistanceWithPrecision": 6726.89, "avgStepFrequency":
        166.78125, "avgStepLength": 1.0750999755859376}, {"duration": 0.0, "totalExerciseReps":
        0, "splitType": "RWD_STAND", "noOfSplits": 3}, {"distance": 14.16, "duration":
        5.689, "movingDuration": 1.0, "elevationGain": 0.0, "elevationLoss": 0.0,
        "averageSpeed": 2.489000082015991, "averageMovingSpeed": 3.4603622426936895,
        "maxSpeed": 2.1740000247955322, "calories": 0.0, "bmrCalories": 0.0, "averageHR":
        86.0, "maxHR": 88.0, "averageRunCadence": 107.65625, "maxRunCadence": 108.0,
        "a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24048184816/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24048184816, "measurementCount": 26, "metricsCount":
        3380, "totalMetricsCount": 3380, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directFractionalCadence", "unit": {"id": 92, "key": "stepsPerMinute",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "sumDistance", "unit": {"id":
        1, "key": "meter", "factor": 100.0}}, {"metricsIndex": 2, "key": "directPotentialStamina",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directGradeAdjustedSpeed", "unit": {"id": 20, "key": "mps", "factor":
        0.1}}, {"metricsIndex": 4, "key": "directTimestamp", "unit": {"id": 120, "key":
        "gmt", "facto[...]
