interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "TUESDAY", "FRIDAY", "SATURDAY", "THURSDAY", "MONDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=4&activityType=running
  response:
    body:
      string: '[{"activityId": 24135607183, "activityName": "Verdellino Running",
        "startTimeLocal": "2026-08-27 13:21:11", "startTimeGMT": "2026-08-27 11:21:11",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        false, "isAutoCalcCalories": false, "isParent": false, "distance": 8015.2001953125,
        "duration": 2757.31689453125, "elapsedDuration": 3219.3310546875, "movingDuration":
        2754.4669799804688, "elevationGain": 28.0, "elevationLoss": 23.0, "averageSpeed":
        2.907000064849853, "maxSpeed": 3.434000015258789, "startLatitude": 45.60910552740097,
        "startLongitude": 9.616674603894353, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 616.0, "bmrCalories": 68.0, "averageHR": 114.0, "maxHR": 127.0,
        "averageRunningCadenceInStepsPerMinute": 167.578125, "maxRunningCadenceInStepsPerMinute":
        172.0, "steps": 7704, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_ATP_READ", "SCOPE_DIVE_API_WRITE",
        "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "privacy":
        {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo": false,
        "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1787829671000,
        "sportTypeId": 1, "avgPower": 349.0, "maxPower": 459.0, "aerobicTrainingEffect":
        2.799999952316284, "anaerobicTrainingEffect": 0.0, "normPower": 350.0, "avgVerticalOscillation":
        8.84000015258789, "avgGroundContactTime": 270.1000061035156, "avgStrideLength":
        104.59000244140626, "vO2MaxValue": 57.0, "avgVerticalRatio": 8.470000267028809,
        "deviceId": 3444001964, "minTemperature": 33.0, "maxTemperature": 36.0, "minElevation":
        171.8000030517578, "maxElevation": 190.39999389648438, "avgElevation": 180.4104457186926,
        "maxDoubleCadence": 172.0, "isElevationCorrected": false, "isDecoDive": false,
        "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.4000091552734375,
        "manufacturer": "GARMIN", "locationName": "Verdellino", "lapCount": 9, "endLatitude":
        45.60679782181978, "endLongitude": 9.614541996270418, "isAtpActivity": false,
        "waterEstimated": 765.0, "minRespirationRate": 20.3799991607666, "maxRespirationRate":
        46.5, "avgRespirationRate": 33.83000183105469, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 53.331817626953125, "minActivityLapDuration": 7.078999996185303,
        "aerobicTrainingEffectMessage": "MAINTAINING_AEROBIC_BASE_7", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "splitSummaries": [{"noOfSplits": 4, "duration":
        0.0, "splitType": "RWD_STAND"}, {"noOfSplits": 1, "totalAscent": 28.0, "duration":
        2757.31689453125, "splitType": "INTERVAL_ACTIVE", "maxElevationGain": 28.0,
        "averageElevationGain": 28.0, "maxDistance": 8015, "maxDistanceWithPrecision":
        8015.2099609375, "distance": 8015.2099609375, "averageSpeed": 2.9070000648498535,
        "maxSpeed": 3.434000015258789, "elevationLoss": 23.0, "avgStepFrequency":
        167.578125, "avgStepLength": 1.0459000244140626, "verticalRatio": 8.470000267028809,
        "verticalOscillation": 8.84000015258789, "avgGroundContactTime": 270.1000061035156},
        {"noOfSplits": 7, "totalAscent": 28.0, "duration": 2748.580078125, "splitType":
        "RWD_RUN", "maxElevationGain": 10.0, "averageElevationGain": 9.0, "maxDistance":
        4484, "maxDistanceWithPrecision": 4484.64013671875, "distance": 7997.43994140625,
        "averageSpeed": 2.9100000858306885, "maxSpeed": 3.434000015258789, "elevationLoss":
        23.0, "avgStepFrequency": 167.71875, "avgStepLength": 1.0460999755859377,
        "verticalRatio": 8.470000267028809, "verticalOscillation": 8.85, "avgGroundContactTime":
        270.1000061035156}, {"noOfSplits": 9, "totalAscent": 0.0, "duration": 8.722000122070312,
        "splitType": "RWD_WALK", "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 12, "maxDistanceWithPrecision": 12.460000038146973, "distance":
        17.760000228881836, "averageSpeed": 2.0360000133514404, "maxSpeed": 2.193000078201294,
        "elevationLoss": 0.0, "avgStepFrequency": 119.625, "avgStepLength": 0.9797000122070313,
        "verticalRatio": 6.889999866485596, "verticalOscillation": 6.25999984741211,
        "avgGroundContactTime": 293.0}], "hasSplits": true, "hasIntensityIntervals":
        false, "isManualActivity": false, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes":
        51, "avgGradeAdjustedSpeed": 2.9179999828338623, "differenceBodyBattery":
        -16, "hasHeatMap": false, "fastestSplit_1000": 321.3349914550781, "fastestSplit_1609":
        521.5700073242188, "fastestSplit_5000": 1860.33203125, "hrTimeInZone_1": 178.863,
        "hrTimeInZone_2": 2405.862, "hrTimeInZone_3": 152.014, "hrTimeInZone_4": 0.0,
        "hrTimeInZone_5": 0.0, "powerTimeInZone_1": 2318.123, "powerTimeInZone_2":
        314.746, "powerTimeInZone_3": 28.0, "powerTimeInZone_4": 0.0, "powerTimeInZone_5":
        0.0, "endTimeGMT": "2026-08-27 12:14:50", "qualifyingDive": false, "activityUUID":
        "b4a6c343-abdf-455e-b7f6-508cb38aa0c5", "pr": false, "favorite": false, "purposeful":
        false, "parent": false, "decoDive": false, "manualActivity": false, "autoCalcCalories":
        false, "elevationCorrected": false, "atpActivity": false}, {"activityId":
        24110014772, "activityName": "Verdellino Running", "startTimeLocal": "2026-08-25
        14:06:51", "startTimeGMT": "2026-08-25 12:06:51", "activityType": {"typeId":
        1, "typeKey": "running", "parentTypeId": 17, "isHidden": false, "restricted":
        false, "trimmable": true}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "isFavorite": false, "isPR": false, "isAutoCalcCalories":
        false, "isParent": false, "distanc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24048184816
  response:
    body:
      string: '{"activityId": 24048184816, "activityUUID": {"uuid": "fbde6aff-a3b0-413e-b9ca-375cbeac3d01"},
        "activityName": "Verdellino Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1015377, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-20T12:17:31.0", "uploadedDate":
        "2026-08-20T12:17:30.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 11, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1015377}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "hasMultiDayActivities": false, "thirdPartyGymEquipment": [], "personalRecord":
        false, "manualActivity": false, "elevationCorrected": false, "autoCalcCalories":
        false, "favorite": false, "trimmed": false, "runPowerWindDataEnabled": true,
        "gcj02": false}, "summaryDTO": {"startTimeLocal": "2026-08-20T13:04:05.0",
        "startTimeGMT": "2026-08-20T11:04:05.0", "startLatitude": 45.60879489406943,
        "startLongitude": 9.616376208141446, "distance": 10035.62, "duration": 3376.07,
        "movingDuration": 3371.501, "elapsedDuration": 3812.561, "elevationGain":
        36.0, "elevationLoss": 29.0, "maxElevation": 191.4, "minElevation": 172.4,
        "avgElevation": 181.07, "averageSpeed": 2.9730000495910645, "averageMovingSpeed":
        2.97660303114634, "maxSpeed": 3.86299991607666, "calories": 759.0, "bmrCalories":
        83.0, "averageHR": 115.0, "maxHR": 124.0, "minHR": 71.0, "averageRunCadence":
        166.59375, "maxRunCadence": 179.0, "averageTemperature": 33.50505853454191,
        "maxTemperature": 36.0, "minTemperature": 31.0, "averagePower": 358.0, "maxPower":
        495.0, "minPower": 0.0, "normalizedPower": 359.0, "totalWork": 288.54277545214586,
        "groundContactTime": 269.0, "strideLength": 107.50999755859375, "verticalOscillation":
        8.990000152587891, "trainingEffect": 3.0, "anaerobicTrainingEffect": 0.0,
        "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "verticalRatio": 8.369999885559082, "endLatitude":
        45.60942018404603, "endLongitude": 9.616780886426568, "maxVerticalSpeed":
        0.4000091552734375, "waterEstimated": 937.0, "minRespirationRate": 17.43000030517578,
        "maxRespirationRate": 42.11000061035156, "avgRespirationRate": 33.189998626708984,
        "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad": 62.34556579589844,
        "minActivityLapDuration": 41.898, "directWorkoutFeel": 50, "directWorkoutRpe":
        20, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes": 59, "steps":
        9358, "beginPotentialStamina": 100.0, "endPotentialStamina": 77.0, "minAvailableStamina":
        77.0, "avgGradeAdjustedSpeed": 2.990000009536743, "differenceBodyBattery":
        -18}, "locationName": "Verdellino", "splitSummaries": [{"distance": 10021.46,
        "duration": 3370.363, "movingDuration": 3367.0, "elevationGain": 36.0, "elevationLoss":
        29.0, "averageSpeed": 2.9730000495910645, "averageMovingSpeed": 2.976393125917701,
        "maxSpeed": 3.86299991607666, "calories": 759.0, "bmrCalories": 83.0, "averageHR":
        116.0, "maxHR": 124.0, "averageRunCadence": 166.78125, "maxRunCadence": 179.0,
        "averageTemperature": 33.0, "maxTemperature": 36.0, "minTemperature": 31.0,
        "averagePower": 358.0, "maxPower": 495.0, "normalizedPower": 360.0, "groundContactTime":
        269.0, "strideLength": 107.50999755859375, "verticalOscillation": 8.990000152587891,
        "verticalRatio": 8.369999885559082, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0020000000949949026, "avgGradeAdjustedSpeed": 2.99399995803833, "splitType":
        "RWD_RUN", "noOfSplits": 9, "maxElevationGain": 17.0, "averageElevationGain":
        12.0, "maxDistance": 6726, "maxDistanceWithPrecision": 6726.89, "avgStepFrequency":
        166.78125, "avgStepLength": 1.0750999755859376}, {"duration": 0.0, "totalExerciseReps":
        0, "splitType": "RWD_STAND", "noOfSplits": 3}, {"distance": 14.16, "duration":
        5.689, "movingDuration": 1.0, "elevationGai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24048184816/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24048184816, "measurementCount": 26, "metricsCount":
        3380, "totalMetricsCount": 3380, "metricDescriptors": [{"metricsIndex": 0,
        "key": "sumDuration", "unit": {"id": 40, "key": "second", "factor": 1000.0}},
        {"metricsIndex": 1, "key": "directAvailableStamina", "unit": {"id": 6, "key":
        "dimensionless", "factor": 1.0}}, {"metricsIndex": 2, "key": "directFractionalCadence",
        "unit": {"id": 92, "key": "stepsPerMinute", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directAirTemperature", "unit": {"id": 227, "key": "celcius", "factor":
        1.0}}, {"metricsIndex": 4, "key": "directDoubleCadence", "unit": {"id": 92,
        "[...]
