interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "THURSDAY", "SUNDAY", "TUESDAY", "SATURDAY", "FRIDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18948270166
  response:
    body:
      string: '{"activityId": 18948270166, "activityUUID": {"uuid": "188eb7de-e4f5-401b-a14b-8ef95b080990"},
        "activityName": "Sarnico-Lovere Run", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 993667, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-05-03T06:46:54.0", "uploadedDate":
        "2025-04-27T09:35:07.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        3.9, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 25, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 993667}, "hasIntensityIntervals": false, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "personalRecord": false, "gcj02": false,
        "runPowerWindDataEnabled": true, "elevationCorrected": false, "autoCalcCalories":
        false, "favorite": false, "manualActivity": false, "trimmed": false}, "summaryDTO":
        {"startTimeLocal": "2025-04-27T09:32:59.0", "startTimeGMT": "2025-04-27T07:32:59.0",
        "startLatitude": 45.66644126549363, "startLongitude": 9.956494476646185, "distance":
        24811.69, "duration": 7240.902, "movingDuration": 7233.591, "elapsedDuration":
        7251.901, "elevationGain": 93.0, "elevationLoss": 88.0, "maxElevation": 227.4,
        "minElevation": 189.4, "averageSpeed": 3.427000045776367, "averageMovingSpeed":
        3.4300653086521526, "maxSpeed": 5.3460001945495605, "calories": 1856.0, "bmrCalories":
        175.0, "averageHR": 147.0, "maxHR": 169.0, "minHR": 101.0, "averageRunCadence":
        157.96875, "maxRunCadence": 192.0, "averageTemperature": 25.440933053122176,
        "maxTemperature": 28.0, "minTemperature": 24.0, "averagePower": 370.0, "maxPower":
        665.0, "minPower": 0.0, "normalizedPower": 394.0, "totalWork": 640.0924100600953,
        "groundContactTime": 253.8000030517578, "strideLength": 121.8199951171875,
        "verticalOscillation": 9.4, "trainingEffect": 5.0, "anaerobicTrainingEffect":
        2.4000000953674316, "aerobicTrainingEffectMessage": "OVERREACHING_17", "anaerobicTrainingEffectMessage":
        "MAINTAINING_ANAEROBIC_BASE_1", "verticalRatio": 7.739999771118164, "endLatitude":
        45.807832991704345, "endLongitude": 10.069706160575151, "maxVerticalSpeed":
        0.600006103515625, "waterEstimated": 2011.0, "minRespirationRate": 22.610000610351562,
        "maxRespirationRate": 56.52000045776367, "avgRespirationRate": 42.849998474121094,
        "trainingEffectLabel": "VO2MAX", "activityTrainingLoad": 577.7596435546875,
        "minActivityLapDuration": 217.072, "directWorkoutFeel": 75, "directWorkoutRpe":
        90, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 119, "steps":
        20458, "beginPotentialStamina": 98.0, "endPotentialStamina": 21.0, "minAvailableStamina":
        21.0, "avgGradeAdjustedSpeed": 3.434999942779541, "differenceBodyBattery":
        -21}, "locationName": "Sarnico", "splitSummaries": [{"duration": 0.0, "totalExerciseReps":
        0, "splitType": "RWD_STAND", "noOfSplits": 3}, {"distance": 24781.72, "duration":
        7222.887, "movingDuration": 7219.0, "elevationGain": 93.0, "elevationLoss":
        88.0, "averageSpeed": 3.4309999942779545, "averageMovingSpeed": 3.432347322659955,
        "maxSpeed": 5.3460001945495605, "calories": 1854.0, "bmrCalories": 175.0,
        "averageHR": 147.0, "maxHR": 169.0, "averageRunCadence": 158.140625, "maxRunCadence":
        192.0, "averageTemperature": 26.0, "maxTemperature": 28.0, "minTemperature":
        24.0, "averagePower": 371.0, "maxPower": 665.0, "normalizedPower": 394.0,
        "groundContactTime": 253.8000030517578, "strideLength": 121.85000000000001,
        "verticalOscillation": 9.40999984741211, "verticalRatio": 7.739999771118164,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0010000000474974513, "avgGradeAdjustedSpeed":
        3.440999984741211, "splitType": "RWD_RUN", "noOfSplits": 3, "maxElevationGain":
        51.0, "averageElevationGain": 31.0, "maxDistance": 14075, "maxDistanceWithPrecision":
        14075.53, "avgStepFrequency": 158.140625}, {"distance": 29.97, "duration":
        18.0, "movingDuration": 17.0, "elevationGain": 0.0, "elevationLoss": 0.0,
        "averageSpeed": 1.6649999618530276, "averageMovingSpeed": 1.762941136079676,
        "maxSpeed": 1.72599995136261, "calories": 2.0, "bmrCalories": 0.0, "averageHR":
        105.0, "maxHR": 114.0, "averageRunCadence": 87.71875, "maxRunCadence": 111.0,
        "averageTemperature": 28.0, "maxTemperature": 28.0, "minTemperature": 28.0,
        "averagePower": 95.0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18948270166/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 18948270166, "measurementCount": 27, "metricsCount":
        7243, "totalMetricsCount": 7243, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directBodyBattery", "unit": {"id": 6, "key": "dimensionless", "factor":
        1.0}}, {"metricsIndex": 1, "key": "directLongitude", "unit": {"id": 60, "key":
        "dd", "factor": 1.0}}, {"metricsIndex": 2, "key": "directSpeed", "unit": {"id":
        20, "key": "mps", "factor": 0.1}}, {"metricsIndex": 3, "key": "directAvailableStamina",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        4, "key": "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}},
        {"me[...]
