interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1767225900&after=1735689299&per_page=100
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Powerlifting class", "distance": 0.0, "moving_time": 3600, "elapsed_time":
        3600, "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "workout_type": 30, "id": 16720572659, "start_date": "2025-12-11T18:00:00Z",
        "start_date_local": "2025-12-11T19:00:00Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 0, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a16720572659", "summary_polyline": "",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": true,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Back, triceps,
        calisthenics", "distance": 0.0, "moving_time": 4837, "elapsed_time": 4837,
        "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "workout_type": 30, "device_name": "Garmin Forerunner 965", "id": 16707730538,
        "start_date": "2025-12-10T20:29:36Z", "start_date_local": "2025-12-10T21:29:36Z",
        "timezone": "(GMT+01:00) Africa/Algiers", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": null, "achievement_count":
        0, "kudos_count": 0, "comment_count": 0, "athlete_count": 1, "photo_count":
        0, "map": {"id": "a16707730538", "summary_polyline": "", "resource_state":
        2}, "trainer": true, "commute": false, "manual": false, "private": false,
        "visibility": "followers_only", "flagged": false, "gear_id": null, "start_latlng":
        [], "end_latlng": [], "average_speed": 0.0, "max_speed": 0.0, "average_temp":
        28, "has_heartrate": true, "average_heartrate": 60.5, "max_heartrate": 92.0,
        "heartrate_opt_out": false, "display_hide_heartrate_option": true, "elev_high":
        0.0, "elev_low": 0.0, "upload_id": 17797583941, "upload_id_str": "17797583941",
        "external_id": "garmin_ping_511273411670", "from_accepted_tag": false, "pr_count":
        0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state": 2, "athlete":
        {"id": 115890775, "resource_state": 1}, "name": "Powerlifting class", "distance":
        0.0, "moving_time": 3600, "elapsed_time": 3600, "total_elevation_gain": 0,
        "type": "WeightTraining", "sport_type": "WeightTraining", "workout_type":
        30, "id": 16697710509, "start_date": "20[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1767225900&after=1735689299&per_page=100&page=2
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: back, shoulders", "distance": 0.0, "moving_time":
        6784, "elapsed_time": 6784, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout[...]
[...]
