interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["THURSDAY", "SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "SATURDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19795436851
  response:
    body:
      string: '{"activityId": 19795436851, "activityUUID": {"uuid": "566b9814-c6e4-427f-8e16-1b6cc22abd73"},
        "activityName": "Verdellino Mountain Biking", "userProfileId": 113739130,
        "isMultiSportParent": false, "activityTypeDTO": {"typeId": 5, "typeKey": "mountain_biking",
        "parentTypeId": 2, "isHidden": false, "restricted": false, "trimmable": true},
        "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10},
        "accessControlRuleDTO": {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 996666,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2025-07-20T18:07:33.0", "uploadedDate": "2025-07-20T18:07:33.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": false, "userInfoDto": {"userProfilePk": 113739130,
        "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.1, "batteryStatus": "GOOD"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 5, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 996666}, "hasIntensityIntervals": false, "hasSplits": false,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": null, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "thirdPartyGymEquipment":
        [], "personalRecord": false, "elevationCorrected": false, "trimmed": false,
        "manualActivity": false, "runPowerWindDataEnabled": null, "autoCalcCalories":
        false, "favorite": false, "gcj02": false}, "summaryDTO": {"startTimeLocal":
        "2025-07-20T19:18:31.0", "startTimeGMT": "2025-07-20T17:18:31.0", "startLatitude":
        45.608378145843744, "startLongitude": 9.612799901515245, "distance": 20184.48,
        "duration": 2819.561, "movingDuration": 2817.382, "elapsedDuration": 2829.56,
        "elevationGain": 90.0, "elevationLoss": 92.0, "maxElevation": 181.6, "minElevation":
        137.6, "averageSpeed": 7.158999919891357, "averageMovingSpeed": 7.164268222172594,
        "maxSpeed": 9.779000282287598, "calories": 639.0, "bmrCalories": 69.0, "averageHR":
        115.0, "maxHR": 143.0, "minHR": 58.0, "averageTemperature": 30.195977663410396,
        "maxTemperature": 33.0, "minTemperature": 28.0, "trainingEffect": 3.4000000953674316,
        "anaerobicTrainingEffect": 2.200000047683716, "aerobicTrainingEffectMessage":
        "IMPACTING_TEMPO_22", "anaerobicTrainingEffectMessage": "MAINTAINING_ANAEROBIC_BASE_1",
        "endLatitude": 45.60823196545243, "endLongitude": 9.61318513378501, "maxVerticalSpeed":
        0.6999969482421875, "grit": 8.751562118530273, "waterEstimated": 741.0, "minRespirationRate":
        18.6299991607666, "maxRespirationRate": 44.06999969482422, "avgRespirationRate":
        35.91999816894531, "trainingEffectLabel": "TEMPO", "activityTrainingLoad":
        153.30538940429688, "avgFlow": 2.649571418762207, "minActivityLapDuration":
        27.073, "directWorkoutFeel": 100, "directWorkoutRpe": 70, "moderateIntensityMinutes":
        0, "vigorousIntensityMinutes": 45, "beginPotentialStamina": 100.0, "endPotentialStamina":
        76.0, "minAvailableStamina": 68.0, "differenceBodyBattery": -9}, "locationName":
        "Verdellino"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19795436851/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 19795436851, "measurementCount": 18, "metricsCount":
        1619, "totalMetricsCount": 1619, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}},
        {"metricsIndex": 1, "key": "directAirTemperature", "unit": {"id": 227, "key":
        "celcius", "factor": 1.0}}, {"metricsIndex": 2, "key": "directPotentialStamina",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directBodyBattery", "unit": {"id": 6, "key": "dimensionless", "factor":
        1.0}}, {"metricsIndex": 4, "key": "directLongitude", "unit": {"id": 60, "key":
        "dd", "fact[...]
