interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "SATURDAY", "WEDNESDAY", "THURSDAY", "SUNDAY", "MONDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22427297044
  response:
    body:
      string: '{"activityId": 22427297044, "activityUUID": {"uuid": "7d7a1f74-0f67-47f3-9a40-a1d2b179fe1b"},
        "activityName": "Verdellino - 10x100m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "trimmable": true, "restricted": false}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1004830, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-04-06T13:12:24.0", "uploadedDate":
        "2026-04-06T13:12:23.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 31, "associatedWorkoutId": 1527972763, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1004830}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "personalRecord": false, "manualActivity":
        false, "elevationCorrected": false, "trimmed": false, "runPowerWindDataEnabled":
        true, "autoCalcCalories": false, "favorite": false, "gcj02": false}, "summaryDTO":
        {"startTimeLocal": "2026-04-06T13:18:54.0", "startTimeGMT": "2026-04-06T11:18:54.0",
        "startLatitude": 45.60911390930414, "startLongitude": 9.61672531440854, "distance":
        12268.29, "duration": 4568.279, "movingDuration": 4121.027, "elapsedDuration":
        5633.156, "elevationGain": 42.0, "elevationLoss": 37.0, "maxElevation": 188.0,
        "minElevation": 173.8, "avgElevation": 183.01, "averageSpeed": 2.686000108718872,
        "averageMovingSpeed": 2.976998261310583, "maxSpeed": 8.807999610900879, "calories":
        1011.0, "bmrCalories": 112.0, "averageHR": 124.0, "maxHR": 147.0, "minHR":
        80.0, "averageRunCadence": 141.1875, "maxRunCadence": 248.0, "averageTemperature":
        30.390105791181988, "maxTemperature": 34.0, "minTemperature": 27.0, "averagePower":
        312.0, "maxPower": 1145.0, "minPower": 0.0, "normalizedPower": 367.0, "totalWork":
        340.80982907002834, "groundContactTime": 259.0, "strideLength": 112.2, "verticalOscillation":
        8.580000305175782, "trainingEffect": 3.299999952316284, "anaerobicTrainingEffect":
        2.9000000953674316, "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_BASE_8",
        "anaerobicTrainingEffectMessage": "MAINTAINING_FAST_FORCE_PRODUCTION_6", "verticalRatio":
        7.960000038146973, "endLatitude": 45.6091196089983, "endLongitude": 9.616730259731412,
        "maxVerticalSpeed": 2.0, "waterEstimated": 1268.0, "minRespirationRate": 19.299999237060547,
        "maxRespirationRate": 48.619998931884766, "avgRespirationRate": 35.529998779296875,
        "trainingEffectLabel": "SPEED", "activityTrainingLoad": 162.3905792236328,
        "minActivityLapDuration": 0.946, "directWorkoutFeel": 75, "directWorkoutRpe":
        60, "directWorkoutComplianceScore": 71, "moderateIntensityMinutes": 11, "vigorousIntensityMinutes":
        76, "steps": 10810, "beginPotentialStamina": 100.0, "endPotentialStamina":
        66.0, "minAvailableStamina": 52.0, "avgGradeAdjustedSpeed": 2.7139999866485596,
        "differenceBodyBattery": -20}, "locationName": "Verdellino", "splitSummaries":
        [{"distance": 113.13, "duration": 352.001, "movingDuration": 0.0, "elevationGain":
        0.0, "elevationLoss": 0.0, "averageSpeed": 0.32100000977516174, "maxSpeed":
        0.0, "calories": 68.0, "bmrCalories": 9.0, "averageHR": 122.0, "maxHR": 145.0,
        "averageRunCadence": 9.1875, "maxRunCadence": 100.0, "averageTemperature":
        32.0, "maxTemperature": 33.0, "minTemperature": 31.0, "averagePower": 0.0,
        "maxPower": 15.0, "normalizedPower": 280.0, "strideLength": 27.768558138746307,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0, "avgGradeAdjustedSpeed":
        0.0, "splitType": "RWD_STAND", "noOfSplits": 37, "maxElevationGain": 0.0,
        "averageElevationGain": 0.0, "maxDistance": 13, "maxDistanceWithPrecision":
        13.02, "avgStepFrequency": 9.1875}, {"distance": 660.78, "duration": 628.567,
        "movingDuration": 545.0, "elevationGain": 4.0, "elevationLoss": 0.0, "averageSpeed":
        1.0509999990463257, "averageMovingSpeed": 1.1126962079974736, "maxSpeed":
        2.062000036239624, "calories": 79.0, "bmrCalories": 15.0, "averageHR": 111.0,
        "maxHR": 143.0, "averageRunCadence": 84.859375, "maxRunCadence": 211.0, "averageTemperature":
        32.0, "maxTemperature": 33.0, "minTemperature": 30.0, "averagePower": 76.0,
        "maxPower": 232.0, "normalizedPower": 213.0, "groundContactTime": 317.5, "strideLength":
        73.24000244140625, "verticalOscillation": 5.75, "verticalRatio": 8.0, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.006000000052154065, "avgGradeAdjustedSpeed": 1.0720000267028809,
        "splitType": "RWD_WALK", "noOfSplits": 53, "maxElevationGain": 1.0, "averageElevationGain":
        0.0, "maxDistance": 134, "maxDistanceWithPrecision": 134.97, "avgStepFrequency":
        84.859375, "avgStepLength": 0.7324000244140625}, {"distance": 11494.38, "duration":
        3587.689, "movingDuration": 3558.761, "elevationGain": 38.0, "elevationLoss":
        37.0, "averageSpeed": 3.2039999961853027, "averageMovingSpeed": 3.237150660725468,
        "maxSpeed": 8.807999610900879, "calories": 865.0, "bmrCalories": 88.0, "averageHR":
        127.0, "maxHR": 147.0, "averageRunCadence": 166.71875, "maxRunCadence": 248.0,
        "averageTemperature": 30.0, "maxTemperature": 34.0, "minTemperature": 27.0,
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22427297044/typedsplits
  response:
    body:
      string: '{"activityId": 22427297044, "activityUUID": {"uuid": "7d7a1f74-0f67-47f3-9a40-a1d2b179fe1b"},
        "splits": [{"startTimeLocal": "2026-04-06T13:18:54.0", "startTimeGMT": "2026-04-06T11:18:54.0",
        "startLatitude": 45.60911390930414, "startLongitude": 9.61672531440854, "distance":
        1911.32, "duration": 602.272, "movingDuration": 601.0, "elapsedDuration":
        613.001, "elevationGain": 10.0, "elevationLoss": 0.0, "averageSpeed": 3.1740000247955322,
        "averageMovingSpeed": 3.1802328557222337, "maxSpeed": 3.6110000610351567,
        "calories": 150.0, "bmrCalories": 15.0, "averageHR": 120.0, "maxHR": 130.0,
        "averageRunCadence": 170.671875, "maxRunCadence": 174.0, "averageTemperature":
        28.0, "maxTemperature": 31.0, "minTemperature": 27.0, "averagePower": 382.0,
        "maxPower": 447.0, "normalizedPower": 384.0, "groundContactTime": 259.5, "strideLength":
        111.95999755859376, "verticalOscillation": 8.980000305175782, "verticalRatio":
        8.020000457763672, "totalExerciseReps": 0, "endLatitude": 45.61974727548659,
        "endLongitude": 9.623981695622206, "avgVerticalSpeed": 0.01600000075995922,
        "avgGradeAdjustedSpeed": 3.203000068664551, "avgElapsedDurationVerticalSpeed":
        0.015307840610700915, "type": "RWD_RUN", "messageIndex": 0, "endTimeGMT":
        "2026-04-06T11:28:56.0", "startElevation": 175.8, "avgStepLength": 1.1195999755859376},
        {"startTimeLocal": "2026-04-06T13:18:54.0", "startTimeGMT": "2026-04-06T11:18:54.0",
        "startLatitude": 45.60911390930414, "startLongitude": 9.61672531440854, "distance":
        7565.38, "duration": 2248.962, "movingDuration": 2244.0, "elapsedDuration":
        3313.839, "elevationGain": 27.0, "elevationLoss": 15.0, "averageSpeed": 3.364000082015991,
        "averageMovingSpeed": 3.3713814094529857, "maxSpeed": 3.947000026702881, "calories":
        585.0, "bmrCalories": 55.0, "averageHR": 128.0, "maxHR": 142.0, "averageRunCadence":
        171.21875, "maxRunCadence": 211.0, "averageTemperature": 29.0, "maxTemperature":
        32.0, "minTemperature": 27.0, "averagePower": 403.0, "maxPower": 504.0, "normalizedPower":
        406.0, "groundContactTime": 252.3000030517578, "strideLength": 118.0300048828125,
        "verticalOscillation": 9.09000015258789, "verticalRatio": 7.71999979019165,
        "totalExerciseReps": 0, "endLatitude": 45.624262942001224, "endLongitude":
        9.630024544894695, "avgVerticalSpeed": 0.004999999888241291, "avgGradeAdjustedSpeed":
        3.381999969482422, "avgElapsedDurationVerticalSpeed": -0.02940770854120669,
        "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes": [1, 2, 3, 4, 5,
        6, 7, 8], "endTimeGMT": "2026-04-06T12:14:07.0", "startElevation": 175.8,
        "avgStepLength": 1.180300048828125}, {"startTimeLocal": "2026-04-06T13:29:17.0",
        "startTimeGMT": "2026-04-06T11:29:17.0", "duration": 0.0, "elapsedDuration":
        11.0, "totalExerciseReps": 0, "endLatitude": 45.619738306850195, "endLongitude":
        9.624053025618196, "type": "RWD_WALK", "messageIndex": 2, "endTimeGMT": "2026-04-06T11:29:17.0"},
        {"startTimeLocal": "2026[...]
