interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "SUNDAY", "THURSDAY", "FRIDAY", "MONDAY", "TUESDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24018992823
  response:
    body:
      string: '{"activityId": 24018992823, "activityUUID": {"uuid": "03788eb7-0fe1-4db5-b2d9-93bcd95370e8"},
        "activityName": "Verdellino - 5x1000m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1015377, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-18T07:26:53.0", "uploadedDate":
        "2026-08-18T07:26:52.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 15, "associatedWorkoutId":
        1207589858, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1015377}, "hasIntensityIntervals":
        true, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "hasMultiDayActivities": false, "thirdPartyGymEquipment": [], "personalRecord":
        false, "gcj02": false, "runPowerWindDataEnabled": true, "autoCalcCalories":
        false, "favorite": false, "trimmed": false, "manualActivity": false, "elevationCorrected":
        false}, "summaryDTO": {"startTimeLocal": "2026-08-18T07:56:52.0", "startTimeGMT":
        "2026-08-18T05:56:52.0", "startLatitude": 45.609128661453724, "startLongitude":
        9.616723218932748, "distance": 12231.58, "duration": 3899.105, "movingDuration":
        3823.924, "elapsedDuration": 4722.902, "elevationGain": 27.0, "elevationLoss":
        25.0, "maxElevation": 187.2, "minElevation": 173.0, "avgElevation": 179.81,
        "averageSpeed": 3.1370000839233403, "averageMovingSpeed": 3.198698520734752,
        "maxSpeed": 4.8520002365112305, "calories": 949.0, "bmrCalories": 96.0, "averageHR":
        126.0, "maxHR": 157.0, "minHR": 74.0, "averageRunCadence": 166.125, "maxRunCadence":
        190.0, "averageTemperature": 27.76464163121291, "maxTemperature": 31.0, "minTemperature":
        26.0, "averagePower": 372.0, "maxPower": 593.0, "minPower": 0.0, "normalizedPower":
        406.0, "totalWork": 346.0604006663453, "groundContactTime": 259.0, "strideLength":
        112.18000488281251, "verticalOscillation": 8.84000015258789, "trainingEffect":
        3.5999999046325684, "anaerobicTrainingEffect": 2.0, "aerobicTrainingEffectMessage":
        "IMPROVING_VO2_MAX_15", "anaerobicTrainingEffectMessage": "MAINTAINING_ANAEROBIC_BASE_1",
        "verticalRatio": 8.109999656677246, "endLatitude": 45.60908465646207, "endLongitude":
        9.61667887866497, "maxVerticalSpeed": 0.4000091552734375, "waterEstimated":
        1082.0, "minRespirationRate": 23.3700008392334, "maxRespirationRate": 44.83000183105469,
        "avgRespirationRate": 34.720001220703125, "trainingEffectLabel": "VO2MAX",
        "activityTrainingLoad": 127.78794860839844, "minActivityLapDuration": 48.869,
        "directWorkoutFeel": 75, "directWorkoutRpe": 40, "directWorkoutComplianceScore":
        100, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 69, "steps":
        10862, "beginPotentialStamina": 100.0, "endPotentialStamina": 71.0, "minAvailableStamina":
        71.0, "avgGradeAdjustedSpeed": 3.1389999389648438, "differenceBodyBattery":
        -20}, "locationName": "Verdellino", "splitSummaries": [{"distance": 2499.47,
        "duration": 831.485, "movingDuration": 827.0, "elevationGain": 10.0, "elevationLoss":
        1.0, "averageSpeed": 3.00600004196167, "averageMovingSpeed": 3.0223337009711306,
        "maxSpeed": 3.25600004196167, "calories": 193.0, "bmrCalories": 20.0, "averageHR":
        116.0, "maxHR": 126.0, "averageRunCadence": 166.734375, "maxRunCadence": 172.0,
        "averageTemperature": 28.0, "maxTemperature": 31.0, "minTemperature": 26.0,
        "averagePower": 365.0, "maxPower": 448.0, "normalizedPower": 365.0, "groundContactTime":
        267.8999938964844, "strideLength": 108.39000244140625, "verticalOscillation":
        8.990000152587891, "verticalRatio": 8.3100004196167, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.010999999940395355, "avgGradeAdjustedSpeed": 3.0190000534057617,
        "splitType": "INTERVAL_WARMUP", "noOfSplits": 1, "maxElevationGain": 10.0,
        "averageElevationGain": 10.0, "maxDistance": 2499, "maxDistanceWithPrecision":
        2499.47, "avgStepFrequency": 166.734375, "avgStepLength": 1.0839000244140626},
        {"distance": 12162.58, "duration": 3815.762, "movingDuration": 3798.881, "elevationGain":
        26.0, "elevationLoss": 25.0, "averageSpeed": 3.1870000362396245, "averageMovingSpeed":
        3.1997977958755084, "maxSpeed": 4.8520002365112305, "calories": 942.0, "bmrCalories":
        94.0, "averageHR": 126.0, "maxHR": 157.0, "averageRunCadence": 169.109375,
        "maxRunCadence": 190.0, "averageTemperature": 28.0, "maxTemperature": 31.0,
        "minTemperature"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24018992823/typedsplits
  response:
    body:
      string: '{"activityId": 24018992823, "activityUUID": {"uuid": "03788eb7-0fe1-4db5-b2d9-93bcd95370e8"},
        "splits": [{"startTimeLocal": "2026-08-18T07:56:52.0", "startTimeGMT": "2026-08-18T05:56:52.0",
        "startLatitude": 45.609128661453724, "startLongitude": 9.616723218932748,
        "distance": 1853.49, "duration": 615.783, "movingDuration": 613.0, "elapsedDuration":
        630.001, "elevationGain": 9.0, "elevationLoss": 0.0, "averageSpeed": 3.009999990463257,
        "averageMovingSpeed": 3.023637830724919, "maxSpeed": 3.25600004196167, "calories":
        143.0, "bmrCalories": 15.0, "averageHR": 115.0, "maxHR": 126.0, "averageRunCadence":
        166.984375, "maxRunCadence": 172.0, "averageTemperature": 28.0, "maxTemperature":
        31.0, "minTemperature": 26.0, "averagePower": 367.0, "maxPower": 448.0, "normalizedPower":
        369.0, "groundContactTime": 267.79998779296875, "strideLength": 107.99000244140626,
        "verticalOscillation": 8.969999694824219, "verticalRatio": 8.319999694824219,
        "totalExerciseReps": 0, "endLatitude": 45.62011716887355, "endLongitude":
        9.623678689822555, "avgVerticalSpeed": 0.014000000432133675, "avgGradeAdjustedSpeed":
        3.020999908447266, "avgElapsedDurationVerticalSpeed": 0.014332252527292854,
        "type": "RWD_RUN", "messageIndex": 0, "endTimeGMT": "2026-08-18T06:07:07.0",
        "startElevation": 175.6, "avgStepLength": 1.0799000244140626}, {"startTimeLocal":
        "2026-08-18T07:56:52.0", "startTimeGMT": "2026-08-18T05:56:52.0", "startLatitude":
        45.609128661453724, "startLongitude": 9.616723218932748, "distance": 2499.47,
        "duration": 831.485, "movingDuration": 827.0, "elapsedDuration": 1374.78,
        "elevationGain": 10.0, "elevationLoss": 1.0, "averageSpeed": 3.00600004196167,
        "averageMovingSpeed": 3.0223337009711306, "maxSpeed": 3.25600004196167, "calories":
        193.0, "bmrCalories": 20.0, "averageHR": 116.0, "maxHR": 126.0, "averageRunCadence":
        166.734375, "maxRunCadence": 172.0, "averageTemperature": 28.0, "maxTemperature":
        31.0, "minTemperature": 26.0, "averagePower": 365.0, "maxPower": 448.0, "normalizedPower":
        365.0, "groundContactTime": 267.8999938964844, "strideLength": 108.39000244140625,
        "verticalOscillation": 8.990000152587891, "verticalRatio": 8.3100004196167,
        "totalExerciseReps": 0, "endLatitude": 45.619730427861214, "endLongitude":
        9.61728723719716, "avgVerticalSpeed": 0.010999999940395355, "avgGradeAdjustedSpeed":
        3.0190000534057617, "avgElapsedDurationVerticalSpeed": 0.006122444530965288,
        "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes": [1, 2, 3], "endTimeGMT":
        "2026-08-18T06:19:45.0", "startElevation": 175.6, "avgStepLength": 1.0839000244140626},
        {"startTimeLocal": "2026-08-18T08:08:19.0", "startTimeGMT": "2026-08-18T06:08:19.0",
        "duration": 0.0, "elapsedDuration": 59.0, "totalExerciseReps": 0, "endLatitude":
        45.62011079862714, "endLongitude": 9.62367751635611, "type": "RWD_STAND",
        "messageIndex": 2, "endTimeGMT": "2026-08-18T06:08:19.0"}, {"startTimeLocal":
        "2026-08-18T08:08:28[...]
[...]
