interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["FRIDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "SUNDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22407239690
  response:
    body:
      string: '{"activityId": 22407239690, "activityUUID": {"uuid": "a89136d9-3a4a-4f63-96dc-330310e638aa"},
        "activityName": "Verdellino - 5x1000m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1004830, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-04-04T16:00:43.0", "uploadedDate":
        "2026-04-04T16:00:34.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 15, "associatedWorkoutId": 1207589858, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1004830}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "personalRecord": true, "elevationCorrected":
        false, "trimmed": false, "manualActivity": false, "autoCalcCalories": false,
        "favorite": false, "runPowerWindDataEnabled": true, "gcj02": false}, "summaryDTO":
        {"startTimeLocal": "2026-04-04T16:44:21.0", "startTimeGMT": "2026-04-04T14:44:21.0",
        "startLatitude": 45.60911625623703, "startLongitude": 9.616715759038925, "distance":
        11782.1, "duration": 3591.437, "movingDuration": 3564.589, "elapsedDuration":
        4438.951, "elevationGain": 23.0, "elevationLoss": 21.0, "maxElevation": 187.6,
        "minElevation": 172.0, "avgElevation": 178.61, "averageSpeed": 3.2809998989105225,
        "averageMovingSpeed": 3.3053178203745364, "maxSpeed": 5.541999816894531, "calories":
        930.0, "bmrCalories": 88.0, "averageHR": 134.0, "maxHR": 167.0, "minHR": 82.0,
        "averageRunCadence": 163.484375, "maxRunCadence": 198.0, "averageTemperature":
        28.57921883930265, "maxTemperature": 32.0, "minTemperature": 26.0, "averagePower":
        383.0, "maxPower": 642.0, "minPower": 0.0, "normalizedPower": 426.0, "totalWork":
        328.1607247698102, "groundContactTime": 249.3000030517578, "strideLength":
        117.4, "verticalOscillation": 8.8, "trainingEffect": 3.700000047683716, "anaerobicTrainingEffect":
        3.0, "aerobicTrainingEffectMessage": "IMPROVING_VO2_MAX_15", "anaerobicTrainingEffectMessage":
        "IMPROVING_ANAEROBIC_BASE_2", "verticalRatio": 7.710000038146973, "endLatitude":
        45.60674241743982, "endLongitude": 9.613358052447438, "maxVerticalSpeed":
        0.4000091552734375, "waterEstimated": 997.0, "minRespirationRate": 23.290000915527344,
        "maxRespirationRate": 49.09000015258789, "avgRespirationRate": 36.66999816894531,
        "trainingEffectLabel": "VO2MAX", "activityTrainingLoad": 203.78076171875,
        "minActivityLapDuration": 35.34, "directWorkoutFeel": 100, "directWorkoutRpe":
        70, "directWorkoutComplianceScore": 100, "moderateIntensityMinutes": 2, "vigorousIntensityMinutes":
        70, "steps": 9834, "beginPotentialStamina": 99.0, "endPotentialStamina": 60.0,
        "minAvailableStamina": 46.0, "avgGradeAdjustedSpeed": 3.2860000133514404,
        "differenceBodyBattery": -16}, "locationName": "Verdellino", "splitSummaries":
        [{"distance": 11320.99, "duration": 3290.597, "movingDuration": 3272.935,
        "elevationGain": 23.0, "elevationLoss": 18.0, "averageSpeed": 3.440000057220459,
        "averageMovingSpeed": 3.4590353952562234, "maxSpeed": 5.541999816894531, "calories":
        873.0, "bmrCalories": 81.0, "averageHR": 135.0, "maxHR": 167.0, "averageRunCadence":
        169.796875, "maxRunCadence": 198.0, "averageTemperature": 29.0, "maxTemperature":
        32.0, "minTemperature": 26.0, "averagePower": 408.0, "maxPower": 642.0, "normalizedPower":
        435.0, "groundContactTime": 249.3000030517578, "strideLength": 120.2, "verticalOscillation":
        9.009999847412109, "verticalRatio": 7.710000038146973, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.0020000000949949026, "avgGradeAdjustedSpeed": 3.4590001106262207,
        "splitType": "RWD_RUN", "noOfSplits": 19, "maxElevationGain": 9.0, "averageElevationGain":
        2.0, "maxDistance": 1906, "maxDistanceWithPrecision": 1906.62, "avgStepFrequency":
        169.796875, "avgStepLength": 1.202}, {"distance": 2411.38, "duration": 729.104,
        "movingDuration": 724.0, "elevationGain": 9.0, "elevationLoss": 0.0, "averageSpeed":
        3.306999921798706, "averageMovingSpeed": 3.3306351972548343, "maxSpeed": 3.7139999866485596,
        "calories": 185.0, "bmrCalories": 18.0, "averageHR": 126.0, "maxHR": 140.0,
        "averageRunCadence": 168.375, "maxRunCadence": 177.0, "averageTemperature":
        30.0, "maxTemperature": 32.0, "minTemperature": 27.0, "averagePower": 399.0,
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22407239690/typedsplits
  response:
    body:
      string: '{"activityId": 22407239690, "activityUUID": {"uuid": "a89136d9-3a4a-4f63-96dc-330310e638aa"},
        "splits": [{"startTimeLocal": "2026-04-04T16:44:21.0", "startTimeGMT": "2026-04-04T14:44:21.0",
        "startLatitude": 45.60911625623703, "startLongitude": 9.616715759038925, "distance":
        1857.57, "duration": 524.664, "movingDuration": 523.0, "elapsedDuration":
        541.001, "elevationGain": 9.0, "elevationLoss": 0.0, "averageSpeed": 3.5399999618530273,
        "averageMovingSpeed": 3.5517589795201965, "maxSpeed": 3.7139999866485596,
        "calories": 142.0, "bmrCalories": 13.0, "averageHR": 129.0, "maxHR": 140.0,
        "averageRunCadence": 171.671875, "maxRunCadence": 177.0, "averageTemperature":
        30.0, "maxTemperature": 32.0, "minTemperature": 27.0, "averagePower": 429.0,
        "maxPower": 472.0, "normalizedPower": 433.0, "groundContactTime": 247.39999389648438,
        "strideLength": 123.70999755859376, "verticalOscillation": 9.26999969482422,
        "verticalRatio": 7.489999771118164, "totalExerciseReps": 0, "endLatitude":
        45.620109625160694, "endLongitude": 9.623671565204859, "avgVerticalSpeed":
        0.017000000923871994, "avgGradeAdjustedSpeed": 3.5840001106262207, "avgElapsedDurationVerticalSpeed":
        0.018355652205574807, "type": "RWD_RUN", "messageIndex": 0, "endTimeGMT":
        "2026-04-04T14:53:05.0", "startElevation": 175.8, "avgStepLength": 1.2370999755859375},
        {"startTimeLocal": "2026-04-04T16:44:21.0", "startTimeGMT": "2026-04-04T14:44:21.0",
        "startLatitude": 45.60911625623703, "startLongitude": 9.616715759038925, "distance":
        2411.38, "duration": 729.104, "movingDuration": 724.0, "elapsedDuration":
        1428.816, "elevationGain": 9.0, "elevationLoss": 0.0, "averageSpeed": 3.306999921798706,
        "averageMovingSpeed": 3.3306351972548343, "maxSpeed": 3.7139999866485596,
        "calories": 185.0, "bmrCalories": 18.0, "averageHR": 126.0, "maxHR": 140.0,
        "averageRunCadence": 168.375, "maxRunCadence": 177.0, "averageTemperature":
        30.0, "maxTemperature": 32.0, "minTemperature": 27.0, "averagePower": 399.0,
        "maxPower": 472.0, "normalizedPower": 408.0, "groundContactTime": 254.60000610351562,
        "strideLength": 118.5199951171875, "verticalOscillation": 9.11999969482422,
        "verticalRatio": 7.78000020980835, "totalExerciseReps": 0, "endLatitude":
        45.62008070759475, "endLongitude": 9.6173697989434, "avgVerticalSpeed": 0.01200000010430813,
        "avgGradeAdjustedSpeed": 3.3480000495910645, "avgElapsedDurationVerticalSpeed":
        0.006447100355312719, "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes":
        [1, 2, 3], "endTimeGMT": "2026-04-04T15:08:09.0", "startElevation": 175.8,
        "avgStepLength": 1.1851999511718752}, {"startTimeLocal": "2026-04-04T16:53:22.0",
        "startTimeGMT": "2026-04-04T14:53:22.0", "duration": 0.0, "elapsedDuration":
        1.0, "totalExerciseReps": 0, "endLatitude": 45.620109625160694, "endLongitude":
        9.623671565204859, "type": "RWD_WALK", "messageIndex": 2, "endTimeGMT": "2026-04-04T14:53:22.0"},
        {"startTimeLocal": "2026-04-04T16:54:13[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=3&search=5x1000m&endDate=2026-04-04&activityType=running
  response:
    body:
      string: '[{"activityId": 22407239690, "activityName": "Verdellino - 5x1000m",
        "startTimeLocal": "2026-04-04 16:44:21", "startTimeGMT": "2026-04-04 14:44:21",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        true, "isAutoCalcCalories": false, "isParent": false, "distance": 11782.099609375,
        "duration": 3591.43701171875, "elapsedDuration": 4438.951171875, "movingDuration":
        3564.5890197753906, "elevationGain": 23.0, "elevationLoss": 21.0, "averageSpeed":
        3.2809998989105225, "maxSpeed": 5.541999816894531, "startLatitude": 45.60911625623703,
        "startLongitude": 9.616715759038925, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 930.0, "bmrCalories": 88.0, "averageHR": 134.0, "maxHR": 167.0,
        "averageRunningCadenceInStepsPerMinute": 163.484375, "maxRunningCadenceInStepsPerMinute":
        198.0, "steps": 9834, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_ATP_READ", "SCOPE_DIVE_API_WRITE",
        "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "privacy":
        {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo": false,
        "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1775313861000,
        "sportTypeId": 1, "avgPower": 383.0, "maxPower": 642.0, "aerobicTrainingEffect":
        3.700000047683716, "anaerobicTrainingEffect": 3.0, "normPower": 426.0, "avgVerticalOscillation":
        8.8, "avgGroundContactTime": 249.3000030517578, "avgStrideLength": 117.4,
        "vO2MaxValue": 57.0, "avgVerticalRatio": 7.710000038146973, "workoutId": 1207589858,
        "deviceId": 3444001964, "minTemperature": 26.0, "maxTemperature": 32.0, "minElevation":
        172.0, "maxElevation": 187.60000610351562, "avgElevation": 178.61436949357852,
        "maxDoubleCadence": 198.0, "isElevationCorrected": false, "isDecoDive": false,
        "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.4000091552734375,
        "manufacturer": "GARMIN", "locationName": "Verdellino", "lapCount": 15, "endLatitude":
        45.60674241743982, "endLongitude": 9.613358052447438, "isAtpActivity": false,
        "waterEstimated": 997.0, "minRespirationRate": 23.290000915527344, "maxRespirationRate":
        49.09000015258789, "avgRespirationRate": 36.66999816894531, "trainingEffectLabel":
        "VO2MAX", "activityTrainingLoad": 203.78076171875, "minActivityLapDuration":
        35.34000015258789, "aerobicTrainingEffectMessage": "IMPROVING_VO2_MAX_15",
        "anaerobicTrainingEffectMessage": "IMPROVING_ANAEROBIC_BASE_2", "splitSummaries":
        [{"noOfSplits": 19, "totalAscent": 23.0, "duration": 3290.596923828125, "splitType":
        "RWD_RUN", "numClimbSends": 0, "maxElevationGain": 9.0, "averageElevationGain":
        2.0, "maxDistance": 1906, "distance": 11320.990234375, "averageSpeed": 3.440000057220459,
        "maxSpeed": 5.541999816894531, "numFalls": 0, "elevationLoss": 18.0}, {"noOfSplits":
        1, "totalAscent": 9.0, "duration": 729.10400390625, "splitType": "INTERVAL_WARMUP",
        "numClimbSends": 0, "maxElevationGain": 9.0, "averageElevationGain": 9.0,
        "maxDistance": 2411, "distance": 2411.3798828125, "averageSpeed": 3.306999921798706,
        "maxSpeed": 3.7139999866485596, "numFalls": 0, "elevationLoss": 0.0}, {"noOfSplits":
        23, "totalAscent": 0.0, "duration": 291.822998046875, "splitType": "RWD_WALK",
        "n[...]
[...]
