interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1737176400&per_page=2
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: calisthenics", "distance": 0.0, "moving_time":
        3600, "elapsed_time": 3600, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "id": 13381920990, "start_date": "2025-01-17T19:00:00Z",
        "start_date_local": "2025-01-17T20:00:00Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        "Italy", "achievement_count": 0, "kudos_count": 0, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13381920990", "summary_polyline": "",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": true,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Weight training:
        chest, biceps", "distance": 0.0, "moving_time": 4173, "elapsed_time": 4173,
        "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "id": 13371865434, "start_date": "2025-01-16T16:05:33Z", "start_date_local":
        "2025-01-16T17:05:33Z", "timezone": "(GMT+01:00) Africa/Algiers", "utc_offset":
        3600.0, "location_city": null, "location_state": null, "location_country":
        "Italy", "achievement_count": 0, "kudos_count": 1, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13371865434", "summary_polyline": "",
        "resource_state": 2}, "trainer": true, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0.0, "average_temp": 26, "has_heartrate": true, "average_heartrate": 69.3,
        "max_heartrate": 124.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 0.0, "elev_low": 0.0, "upload_id": 14262146399, "upload_id_str":
        "14262146399", "external_id": "garmin_ping_402878210725", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c53519ab72a5319770c1893939370219"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 2,2
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 2,2
    status:
      code: 200
      message: OK
version: 1
