interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1766037601&per_page=9
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Legs plyometrics", "distance": 0.0, "moving_time": 9804, "elapsed_time":
        9804, "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "workout_type": 30, "device_name": "Garmin Forerunner 965", "id": 16770546210,
        "start_date": "2025-12-17T17:12:46Z", "start_date_local": "2025-12-17T18:12:46Z",
        "timezone": "(GMT+01:00) Africa/Algiers", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": null, "achievement_count":
        0, "kudos_count": 0, "comment_count": 0, "athlete_count": 1, "photo_count":
        0, "map": {"id": "a16770546210", "summary_polyline": "", "resource_state":
        2}, "trainer": true, "commute": false, "manual": false, "private": false,
        "visibility": "followers_only", "flagged": false, "gear_id": null, "start_latlng":
        [], "end_latlng": [], "average_speed": 0.0, "max_speed": 0.0, "average_temp":
        25, "has_heartrate": true, "average_heartrate": 70.9, "max_heartrate": 135.0,
        "heartrate_opt_out": false, "display_hide_heartrate_option": true, "elev_high":
        0.0, "elev_low": 0.0, "upload_id": 17861153843, "upload_id_str": "17861153843",
        "external_id": "garmin_ping_513666934474", "from_accepted_tag": false, "pr_count":
        0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state": 2, "athlete":
        {"id": 115890775, "resource_state": 1}, "name": "Powerlifting class", "distance":
        0.0, "moving_time": 3600, "elapsed_time": 3600, "total_elevation_gain": 0,
        "type": "WeightTraining", "sport_type": "WeightTraining", "workout_type":
        30, "id": 16761351094, "start_date": "2025-12-16T18:00:00Z", "start_date_local":
        "2025-12-16T19:00:00Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_cit[...]
