interactions:
- request:
    body: name=test+create+1&sport_type=XXX&start_date_local=2025-01-26T16%3A00%3A00%2B00%3A00&elapsed_time=3600&description=test+create+description
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.strava.com/api/v3/activities
  response:
    body:
      string: '{"message": "Bad Request", "errors": [{"resource": "Activity", "field":
        "sport_type", "code": "invalid"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 3,18
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - ','
    status:
      code: 400
      message: Bad Request
version: 1
