interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1760817601&per_page=3
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "4x1000m", "distance": 10001.9, "moving_time": 3398, "elapsed_time":
        3493, "total_elevation_gain": 27.0, "type": "Run", "sport_type": "Run", "workout_type":
        null, "device_name": "Garmin Forerunner 965", "id": 16178887143, "start_date":
        "2025-10-18T10:09:32Z", "start_date_local": "2025-10-18T12:09:32Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 1,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a16178887143",
        "summary_polyline": "eskuGkduy@cCVOAKBcAB{@Ao@GIBiB@e@AaBBWAUBc@Ag@@kCGqBAOCMKYK}@g@eBy@oCiAe@I_DYUEUA[IIGMSOu@QuBK[]s@M}@KMQK]e@c@]O[AOAs@@{@Du@?cCHu@FWXu@x@eBLa@@WIcCBMLMt@]j@Qd@Kj@SDEBI?KCEJHTA_@NVQ@@a@PE?DGZMB?ADc@NZQFA@Be@PCAACf@OB?GF[PCE@ENCNOFFAA@@i@TCEBEPELIF?AF_@NG@AE@APERMD@ABc@TC?ACDENCLKD?@DIB[NKBCCBCl@UBBIF]LE@EGBAd@OD?BB{Af@a@TIAADqAn@GJAV?dBGh@wApDMv@IfCAhBCr@BRJ\\b@z@bAj@JJ?C_@Q][e@a@QYGUD}BC{@DqAJoAJk@Zy@V_@`@kADk@EyBDQLKZOxDmAHI@ECAUHaBv@_AVg@VORGf@DrACj@Mb@Yh@m@|AMd@K|AE~EARKZKJ[@UCeAQs@As@L_@Je@p@SN]DY@MGCKAUHsBGECKEsEGeAK_HIiCBiBBUCcA?_BGk@I{AEoBFoDE[KCO@SF[@_@BGEm@qCCICAo@b@GCGIk@sB@Ml@Lx@XBAYI[OYI[QMKL@HGEG?GG[KKq@SII?QHg@FKFABEDeAJe@NGpBX`AT`@LpAZnCfAJ@JQHu@Bm@LcARkAHSNCPBP?\\WTGN?nFv@VJRVLJVFJNBT?pDGdAYfAQpAOJIPEbCG`ABZHNBAJBl@Tp@Xn@L~Al@d@LbAd@z@XPJd@RjBn@v@Tz@PFDBCZ?h@Dn@RJRl@ArC[`BKtBQp@CVEpCSh@GXDv@EpAa@XEh@SHVDr@Lt@Dv@TvBBHDBpCWt@KN?hC[L@FDDPBj@HxDAHIJMDM@eASOIWCIIIAkAk@i@KIAUD]Nc@`@MRWf@I\\Gl@@^Qt@LJFLVTGJUNWT?BFDKPECGDKVUnBEnA?n@Jp@Xj@PLJDVBVC|AeAdDgCh@k@r@k@RYHAd@RN?DBDpBAjGJdEF|@HxBZ`C?JIHi@A_@@oB^wBNe@@}@J}AZwBFa@HiAJDChAMvAInAQpB_@l@G|@ADELBFCd@CbCc@V?HB",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "g20743230", "start_latlng": [45.609361, 9.61677], "end_latlng": [45.607314,
        9.614976], "average_speed": 2.943, "max_speed": 5.16, "average_cadence": 81.5,
        "average_temp": 23, "average_watts": 332.8, "max_watts": 571, "weighted_average_watts":
        378, "device_watts": true, "kilojoules": 1124.7, "has_heartrate": true, "average_heartrate":
        131.8, "max_heartrate": 166.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 191.2, "elev_low": 172.8, "upload_id": 17262639603, "upload_id_str":
        "17262639603", "external_id": "garmin_ping_492194255982", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 1, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Powerlifting
        class", "distance": 0.0, "moving_time": 3600, "elapsed_time": 3600, "total_elevation_gain":
        0, "type": "WeightTraining", "sport_type": "WeightTraining", "workout_type":
        30, "id": 16163441935, "start_date": "2025-10-16T17:00:00Z", "start_date_local":
        "2025-10-16T19:00:00Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        7200.0, "location_cit[...]
