interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1737176400&per_page=2&page=9
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: ring muscle-up progression day #6, biceps",
        "distance": 0.0, "moving_time": 5455, "elapsed_time": 5455, "total_elevation_gain":
        0, "type": "WeightTraining", "sport_type": "WeightTraining", "id": 13266747846,
        "start_date": "2025-01-04T17:31:08Z", "start_date_local": "2025-01-04T18:31:08Z",
        "timezone": "(GMT+01:00) Africa/Algiers", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": null, "achievement_count":
        0, "kudos_count": 0, "comment_count": 0, "athlete_count": 1, "photo_count":
        0, "map": {"id": "a13266747846", "summary_polyline": "", "resource_state":
        2}, "trainer": true, "commute": false, "manual": false, "private": false,
        "visibility": "followers_only", "flagged": false, "gear_id": null, "start_latlng":
        [], "end_latlng": [], "average_speed": 0.0, "max_speed": 0.0, "average_temp":
        25, "has_heartrate": true, "average_heartrate": 60.8, "max_heartrate": 104.0,
        "heartrate_opt_out": false, "display_hide_heartrate_option": true, "elev_high":
        0.0, "elev_low": 0.0, "upload_id": 14149246581, "upload_id_str": "14149246581",
        "external_id": "garmin_ping_399440854178", "from_accepted_tag": false, "pr_count":
        0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state": 2, "athlete":
        {"id": 115890775, "resource_state": 1}, "name": "Weight training: legs", "distance":
        0.0, "moving_time": 9574, "elapsed_time": 9574, "total_elevation_gain": 0,
        "type": "WeightTraining", "sport_type": "WeightTraining", "id": 13257661707,
        "start_date": "2025-01-03T16:53:46Z", "start_date_local": "2025-01-03T17:53:46Z",
        "timezone": "(GMT+01:00) Africa/Algiers", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": null, "achievement_count":
        0, "kudos_count": 1, "comment_count": 0, "athlete_count": 1, "photo_count":
        0, "map": {"id": "a13257661707", "summary_polyline": "", "resource_state":
        2}, "trainer": true, "commute": false, "manual": false, "private": false,
        "visibility": "followers_only", "flagged": false, "gear_id": null, "start_latlng":
        [], "end_latlng": [], "average_speed": 0.0, "max_speed": 0.0, "average_temp":
        25, "has_heartrate": true, "average_heartrate": 69.6, "max_heartrate": 134.0,
        "heartrate_opt_out": false, "display_hide_heartrate_option": true, "elev_high":
        0.0, "elev_low": 0.0, "upload_id": 14139513476, "upload_id_str": "14139513476",
        "external_id": "garmin_ping_399148070032", "from_accepted_tag": false, "pr_count":
        0, "total_photo_count": 0, "has_kudoed": false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"d07b6839cf72af7dbfb79f39b4b650d0"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 8,11
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 8,11
    status:
      code: 200
      message: OK
version: 1
