interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/13389554554
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Dobbiaco Winter Night Run \ud83e\udda0", "distance": 11799.8,
        "moving_time": 3381, "elapsed_time": 3384, "total_elevation_gain": 148.0,
        "type": "Run", "sport_type": "TrailRun", "workout_type": 1, "id": 13389554554,
        "start_date": "2025-01-18T16:00:07Z", "start_date_local": "2025-01-18T17:00:07Z",
        "timezone": "(GMT+01:00) Europe/Rome", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": null, "achievement_count":
        7, "kudos_count": 5, "comment_count": 0, "athlete_count": 38, "photo_count":
        0, "map": {"id": "a13389554554", "polyline": "swc|GymriAF@d@GZId@@`@Ep@BNDb@Bh@NVLVXFVGt@CH]bA]p@ILURKPCD?^Tl@R\\HVZb@L^LPRf@RTNXTZLZf@b@PDPEn@}@|@q@f@O`@Bf@Qv@IRFXFN?RDT?XIh@_@TMn@Of@?`@FNFP?LETA^Oh@[\\It@ITGf@GZ@RDd@Dj@Lv@\\l@R`@Pv@h@^FRJXV^TLBP@n@R`@XN^HJ\\VPANGf@a@PCNB^JNLNXXRZHJFR@PHTTN\\^l@ZVHLXXp@~@j@TRRVb@Tl@LRf@tAHLNNZl@h@RL@XAXOd@CpA@ZJNJRD^APGx@APJVb@HL^HR@RCVBRAnANb@@VAl@Jd@NTBfAp@^Zt@`ALHRHz@Hr@?~@Gn@?XCz@[^Wl@Y`@Id@WxAOJEHKNc@Dw@F[~@aC^{AZe@N]Z]XSl@Yb@K^CP@VC\\@JB`@PXFf@Al@MHGn@w@`@Q`Au@JGXCj@Ul@gAd@e@f@a@dAWL?VBJCNEZQVDXVL?[...]
