interactions:
- request:
    body: name=test+Weight+training&description=bla+bla
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: PUT
    uri: https://www.strava.com/api/v3/activities/13381920990
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "test Weight training", "distance": 0.0, "moving_time": 3600,
        "elapsed_time": 3600, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "id": 13381920990, "start_date": "2025-01-17T19:00:00Z",
        "start_date_local": "2025-01-17T20:00:00Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        "Italy", "achievement_count": 0, "kudos_count": 0, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13381920990", "polyline": "", "resource_state":
        3, "summary_polyline": ""}, "trainer": false, "commute": false, "manual":
        true, "private": false, "visibility": "followers_only", "flagged": false,
        "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0,
        "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false, "description":
        "bla bla", "calories": 0, "perceived_exertion": null, "prefer_perceived_exertion":
        null, "segment_efforts": [], "photos": {"primary": null, "count": 0}, "stats_visibility":
        [{"type": "heart_rate", "visibility": "everyone"}, {"type": "pace", "visibility":
        "everyone"}, {"type": "power", "visibility": "everyone"}, {"type": "speed",
        "visibility": "everyone"}, {"type": "calories", "visibility": "everyone"}],
        "hide_from_home": false, "embed_token": "1bce5ff099297c85fdb084603a3e81b67791eaab",
        "available_zones": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17597dff6f3bfccbfaaa617451f798ff"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 1,6
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 1,6
    status:
      code: 200
      message: OK
version: 1
