interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?after=1737176400&per_page=2
  response:
    body:
      string: '{"message": "Rate Limit Exceeded", "errors": [{"resource": "Application",
        "field": "read rate limit", "code": "exceeded"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      status:
      - 429 Too Many Requests
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 102,705
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 102,705
    status:
      code: 429
      message: Too Many Requests
version: 1
