interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/99989554554
  response:
    body:
      string: '{"message": "Record Not Found", "errors": [{"resource": "Activity",
        "field": "id", "code": "invalid"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 11,14
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 11,14
    status:
      code: 404
      message: Not Found
version: 1
