interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=3
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Lunch Run", "distance": 21116.2, "moving_time": 6332, "elapsed_time":
        6425, "total_elevation_gain": 75.0, "type": "Run", "sport_type": "Run", "workout_type":
        0, "id": 14241623406, "start_date": "2025-04-21T10:35:00Z", "start_date_local":
        "2025-04-21T12:35:00Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 3, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a14241623406", "summary_polyline": "oqkuGmduy@kF`@mHGmEHmGKuJiEkFg@e@USy@]qC_@w@MeAiBcBMYDmGXyBtA{D?gDt@e@tDqABMaFrBSXEjDoA|CSpAOjHEVSNuEIg@Nw@`AaADIq@FeBOWMuLKw@KaFBgFUwE?mCJoBOa@eBFu@uCm@^OA_@eAQcAlBd@mBu@Sm@NUeAi@N_AHA^{BdEp@`GlBJQ^oDTeALSh@Jh@e@\\AvFz@h@j@^NHLF|CA~@Mz@c@bCQNCLSlEJd@`QdGzBp@nBNb@ZjRwApB_@BJRFbCm@PNj@rGHRrI_Af@@F`@NjE?PIRSFsBa@eB{@q@K{@Vw@~@Wx@M~@u@pC?|@S`D?rAFn@Vl@f@Z`@@rCgBbFqEREv@PD^@tHHvDTrFVvBGTw@A{Cf@{BJkDh@eHh@iLG_BH}FKkEuBeDsA_Go@YYMe@YgCg@qAM{@eBiBOe@DeFLeBT}@fAoCFo@EB]jA{@vBKf@OdEA`CEVUPwEEe@Jc@p@YRq@FQMCc@F{AKc@OiK@u@Kq@IuEDcD]kI@wBLaBM[iBHa@uAQgAu@`@QMg@iBAWlBf@oBu@MYHc@EG{@e@VoCJYZUjBVbDz@lDnAHEFW`@kENe@LKl@D`@]\\A|Fz@`@f@b@LHJHpCKxBg@pCW`@SjELh@~FfBzHvCrBl@`CT^Z|QoAlBWd@DjCq@LXj@lGDPJHzFu@tBINnBDbCELc@Jm@IkA[iBw@o@?o@\\q@bAc@rB?XuABb@bAFbA[xDAhBHf@Zn@f@Vb@A`C}AxF}EbATBjIHhETxET|BAXw@@qDj@yBFkCf@aHh@uO?oGKwFqCoBu@gGq@S_@Kg@UcCi@mAO}@oBqAs@Y_EKq@Li@v@SJi@DOIGy@DqAKa@QuJ@aAIw@GeDAaIUyEFgFEMMAk@Lq@Au@}Cs@\\MCe@aBEe@lBf@oBq@Ue@N_@cAe@Z}C\\c@f@DnCh@lGlBLOLgBXkBJc@PQh@D`@_@ZEbGbAd@f@^LFLFnCA`ASxAa@zBMFGTQfEJd@zCx@xLnEdBd@nAFn@PTRxS{A`A@bDy@NZj@jGBPHFnJcALXLfEAf@MNqBWwBaAi@I}@Vw@|@]rA?r@F`@Q?F\\UnAIFk@|CExBFx@Zl@^Tl@@dCcBnFsEbAHFR?jJJfC",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "g20743230", "start_latlng": [45.609108, 9.616695], "end_latlng": [45.608714,
        9.616326], "average_speed": 3.335, "max_speed": 5.18, "average_cadence": 83.9,
        "average_temp": 24, "average_watts": 388.4, "max_watts": 610, "weighted_average_watts":
        387, "device_watts": true, "kilojoules": 2457.3, "has_heartrate": true, "average_heartrate":
        138.2, "max_heartrate": 162.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 189.0, "elev_low": 170.2, "upload_id": 15198561932, "upload_id_str":
        "15198561932", "external_id": "garmin_ping_431212113288", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Weight training:
        forearms, calisthenics, triceps", "distance": 0.0, "moving_time": 7261, "elapsed_time":
        7261, "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "id": 14235652850, "start_date": "2025-04-20T16:24:18Z", "start_date_local":
        "2025-04-20T18:24:18Z", "timezone": "(GMT+02:00) Africa/Blantyre", "utc_offset":
        7200.0,[...]
