interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?after=1737176400&per_page=2
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Dobbiaco Winter Night Run \ud83e\udda0", "distance": 11799.8,
        "moving_time": 3381, "elapsed_time": 3384, "total_elevation_gain": 148.0,
        "type": "Run", "sport_type": "TrailRun", "workout_type": 1, "id": 13389554554,
        "start_date": "2025-01-18T16:00:07Z", "start_date_local": "2025-01-18T17:00:07Z",
        "timezone": "(GMT+01:00) Europe/Rome", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": "Italy", "achievement_count":
        7, "kudos_count": 5, "comment_count": 0, "athlete_count": 36, "photo_count":
        0, "map": {"id": "a13389554554", "summary_polyline": "alc|Gk{qiAh@x@LZ`@`@VFPEn@}@d@_@VQf@O`@Bf@Qv@Il@Nx@DRE|@k@d@Ox@Ep@Nn@EnAm@\\IrBYZ@lAPvCfA~@l@r@RXV^TnAX`@XRd@\\ZZAx@i@Z@^JNLNXXRz@RPHTTN\\^l@ZVtAfBj@TRRz@dBf@tAX\\Zl@h@RL@XAXOd@CpA@~@\\jBKPJ`@p@^HrA?nANz@?l@Jz@RfAp@^Zt@`ALHRHz@H|DKz@[^Wl@Y`@Id@WxAOJEHKNc@Dw@F[~@aC^{AZe@N]Z]XSl@YbAOfA?fA\\f@Al@MHGn@w@`@Q`Au@JGXCj@Ul@gAlAgAdAWp@?j@WVDXVL?NGh@a@`@MJQHuBNiAJ[RQ|@KhAg@|CIj@DLLXn@\\HlAs@r@w@Xs@n@g@h@k@d@@THNAj@g@^i@PIxAWrAk@\\GHKLc@TMxCAp@Hj@?fANrAC`BRfBjAt@z@p@f@lCt@l@^fB\\`@Cl@Ut@Gd@Qd@I\\CZVFZHjAJ`@JRJFr@HhAt@l@In@H`@IXF~AJpAGVILKR_@NKJApAPd@VVn@jARZTDDLp@RRP\\XIr@m@f@KlAC^\\P@jAu@\\GBC@GSO[KyAYm@CSFy@?wB_@]CYOo@Q}Bc@g@Og@GqD{@aDm@a@OiAQeCi@cA_@m@Ma@CQIgEu@cAYyCo@k@GiAIcA[_DFaBU{BA}@HSAe@JsC|@[BOJaDj@yAAw@Fi@Rw@P_AJ{De@gCBi@Gk@Ka@CmA]y@]c@Ck@NYPu@x@q@jAgAn@aBh@]T{@\\aDN_Cd@a@T{A^m@Z]Z[Nk@d@q@Pa@CsAYkC{@qEmAwBWuAI}@?yCpAq@Ps@BoAGi@D_@L_A~@_@x@e@x@w@bAKTa@h@e@XsBVy@G{ATwAOyAGi@KiD_Be@]}@mA[q@k@_Be@aBWg@i@w@_@Wg@UkGgBuAMaAHqC~@]DuAAm@FmBr@_@Fs@EsAo@g@K{@HeAZg@D]Ak@MmAi@[SuB{@kCSu@?{Az@q@RaBPe@K]UU_@Ki@Ck@F_@f@wAf@y@`@]XEZZf@l@",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "g16266480", "start_latlng": [46.718827, 12.223813], "end_latlng": [46.718823,
        12.223711], "average_speed": 3.487, "max_speed": 5.04, "average_cadence":
        85.4, "average_temp": 5, "average_watts": 407.1, "max_watts": 659, "weighted_average_watts":
        408, "device_watts": true, "kilojoules": 1376.3, "has_heartrate": true, "average_heartrate":
        125.3, "max_heartrate": 137.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 1336.0, "elev_low": 1220.8, "upload_id": 14281221128, "upload_id_str":
        "14281221128", "external_id": "garmin_ping_403430880961", "from_accepted_tag":
        false, "pr_count": 7, "total_photo_count": 4, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Vallunga \ud83e\udda0",
        "distance": 9844.0, "moving_time": 7381, "elapsed_time": 8708, "total_elevation_gain":
        334.0, "type": "Snowshoe", "sport_type": "Snowshoe", "id": 13396681056, "start_date":
        "2025-01-19T10:41:23Z", "start_date_local": "2025-01-19T11:41:23Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 3600.0, "location_city": null, "location_state":
  [...]
