interactions:
- request:
    body: name=test+create+1&sport_type=WeightTraining&start_date_local=2025-01-26T16%3A00%3A00%2B00%3A00&elapsed_time=3600&description=test+create+description
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.strava.com/api/v3/activities
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "test create 1", "distance": 0.0, "moving_time": 3600, "elapsed_time":
        3600, "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "id": 14261347515, "start_date": "2025-01-26T15:00:00Z", "start_date_local":
        "2025-01-26T16:00:00Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 0, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a14261347515", "polyline": "", "resource_state":
        3, "summary_polyline": ""}, "trainer": false, "commute": false, "manual":
        true, "private": false, "visibility": "followers_only", "flagged": false,
        "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0,
        "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false, "description":
        "test create description", "calories": 0, "perceived_exertion": null, "prefer_perceived_exertion":
        null, "segment_efforts": [], "photos": {"primary": null, "count": 0}, "stats_visibility":
        [{"type": "heart_rate", "visibility": "everyone"}, {"type": "pace", "visibility":
        "everyone"}, {"type": "power", "visibility": "everyone"}, {"type": "speed",
        "visibility": "everyone"}, {"type": "calories", "visibility": "everyone"}],
        "hide_from_home": false, "embed_token": "c02b9560044e14c25b12b8044594a0b8b7af093e",
        "available_zones": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2ca523e7b7b17dc9ca50f921b613c5f3"
      status:
      - 201 Created
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 4,22
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - ','
    status:
      code: 201
      message: Created
version: 1
