interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/13679778676
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "6x300m", "distance": 10204.2, "moving_time": 3812, "elapsed_time":
        4054, "total_elevation_gain": 31.0, "type": "Run", "sport_type": "Run", "workout_type":
        0, "id": 13679778676, "start_date": "2025-02-20T15:51:38Z", "start_date_local":
        "2025-02-20T16:51:38Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 2, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13679778676", "polyline": "eakuGwguy@c@DcB^eAHsA?yATgATq@@_@HUAqBXmAH_@Ao@Ba@EwACe@BuA?KAO@KAmA?}@DaEGkA?[Cm@_@gAe@eAk@kDuAsAOo@E_@GqAKOGQUMc@UoCGSa@w@Gm@GS[SOYs@o@IMEMAcDBgBF}@Jq@Xu@d@eA^eABu@GsBFKJGjE_BNI@I_@Pg@LuAn@{@XIDMNI\\DfBC^ETOb@aA|BMt@I~@ClA@l@Ch@AvAK\\CBODcDI_@Bq@Nk@r@OLOB[BKAIIEW@qAB]AOGECM?{COaGB[Io@KiFFwBEiA@s@WsF?g@BcBHgAIUIG]@cAJGCe@qB]mA?KJKiBy@Ki@DGBQII{@WASHWx@uIQdCBZHTFF|@Rp@Ft@LjCz@fA^\\JD?@I_@EOKm@O]OQAe@U[GOKYIWMUUMYKu@GQQOSCAGBOAKIGQCEIOKQtBC\\F\\PPz@NtAN`@JlCz@`A^JBBC?GICa@IYO}@YQCWKmA]SU[g@ISC[_@YKQCI@YCCEBICIMQMSlCBZFJFFb@J`AN`B\\vAh@pAZ^NH??GI@MEC@IGE@EEIAGGUGIGSEa@Q}@Wo@[e@m@M]?OEMUWQKAM@QAEYEIOE?GGSfCB`@NTJDfAJlAV~@Tz@\\xBn@?GGEE@g@SMAWMIAMIMAMGUCWMa@MYKi@m@G[KQ@OCIKE[[CIBOCMWCW_@@@E\\QlB@\\JTRJ`@HrANp@LtBr@~@XVDRJAIUEGGOAEEUCKIQAKIq@S_@OUE[OQSCAUa@AGMQ?SCIKKKCSOAMDSAEKEM?GQOQ?CAf@S`CJV^LbDl@|C~@h@TNBC@DMf@f@DGBKLqBPuARy@HMHCZNL?FEV[VILATB^Jh@Hx@PN?`ANTHVb@JFP@LFDTBpBAx@GlAk@~CMDGPOlE@RHRDANBz@ZLBn@XxBr@bAb@jC|@dBp@dAVp@RXDd@?ZBf@LFDDLHDxAMp@?`CQnAGd@IbCONC^Mf@?LEZBrAC|Aa@~@[FFDTDv@h@~E@FHDjBUvD]fAQHBBJ@f@Dp@DrCGPIHO@[Ec@Me@G}@g@i@UYIWCO?MB[RUPY`@Sp@UzABHENCHGDINO@ADBREPCp@@d@Gd@SjAEb@Cd@@~@B`@DRFPPVJJVLN@XAjAu@bBmA`ByAXYf@]\\]NE\\HZDB^@|EA|AFbDNvEXrC",
        "resource_state": 3, "summary_polyline": "{rkuGmduy@gCXm@D_@Ao@Ba@EwACe@BuA?KAO@KAmA?}@D}GIKAm@_@gAe@eAk@kDuAsAOo@E_@GqAKOGIIKQI]UoCGSa@w@Gm@GS[SOYs@o@IMEMAcDBgBF}@Jq@Xu@d@eA^eABu@GsBFKJGjE_BNI@I_@Pg@LuAn@{@XIDMNI\\DfBC^ETOb@aA|BMt@I~@ClA@l@Ch@AvAK\\CBODcDI[@u@Pk@r@OLIBa@BKAIIEW@qAB]AOGECM?{COaGB[Io@KiFFwBEiA@s@WsF?g@BcBHgAIUIG]@cAJGCe@qB]mA?KJKiBy@Ki@DGBQII{@WASHWx@uIQdCBZHTFF|@Rp@Ft@LjCz@fA^\\JD?@I_@EOKm@O]OQAe@U[GOKYIWMUUMYKu@GQQOSCAGBOAKIGQCEIOKQtBC\\F\\PPz@NtAN`@JlCz@`A^JBBE?EICa@IYO}@YQCWKmA]SU[g@ISC[_@YKQCI@YCCEBICIMQMSlCBZFJFFb@J`AN`B\\vAh@pAZ^NH??GI@MEC@IGE@EEIAGGUGIGSEa@Q}@Wo@[e@m@M]?OEMUWQKAM@QAEYEIOE?GGSfCB`@NTJDfAJlAV~@Tz@\\xBn@?GGEE@g@SMAWMIAMIMAMGUCWMa@MYKi@m@G[KQ@OCIKE[[CIBOCMWCW_@@@E\\QlB@\\JTRJ`@HrANp@LtBr@~@XVDRJAIUEGGOAEEUCKIQAKIq@S_@OUE[OQSCAUa@AGMQ?SCIKKKCSOAMDSAEKEM?GQOQ?CAf@S`CJV^LbDl@lCv@p@VFDNBC@DMf@f@DGBKLqBPuARy@HMHCZNL?FEV[VILATB^Jh@Hx@PN?`ANTHVb@JFP@LFDTBpBAx@GlAk@~CMDGPOlE@RHRDANBz@ZLBn@XxBr@bAb@jC|@dBp@dAVp@RXDd@?ZBf@LFDDLHDxAMp@?`CQnAGd@IbCONC^Mf@?LEZBrAC|Aa@~@[FFDTDv@h@~E@FHDjBUvD]fAQHBBJ@f@Dp@DrCGPIHO@[Ec@Me@G}@g@i@UYIWCO?MB[RUPY`@Sp@UzABHENCHGDINO@ADBREPCp@@d@_@bCCb@A~@Bh@F^FPPVJJVLN@XAjAu@bBmA`ByAXYf@]\\]NE\\HVBDD@Z@|EA|ADvA"},
        "trainer": false, "commute": false, "manual": false, "private": false, "visibility":
        "followers_only", "flagged": false, "gear_id": "g20743230", "start_latlng":
        [45.609319, 9.616769], "end_latlng": [45.609144, 9.616915], "average_speed":
        2.677, "max_speed": 7.06, "average_cadence": 77.6, "average_temp": 15, "average_watts":
        298.2, "max_watts": 781, "weighted_average_watts": 324, "device_watts": true,
        "kilojoules": 1094.9, "has_heartrate": true, "average_heartrate": 117.9, "max_heartrate":
        154.0, "heartrate_opt_out": false, "display_hide_heartrate_option": true,
        "elev_high": 189.2, "elev_low": 170.0, "upload_id": 14597948016, "upload_id_str":
        "14597948016", "external_id": "garmin_ping_412754333162", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false, "description":
        "Non male i primi 4, ma pessimi gli ultimi 2: ero stanco morto.\r\nGambe un
        po'' pesanti, ma ci sta. Ginocchia che mi hanno dato ancora un po'' fastidio
        e questo invece speravo di averlo risolto.\r\n\r\nDati da Garmin Connect.\r\n\r\nMigliore
        tempo: 0:50,0s, 4o intervallo, passo 2:47 (0:50,9s il 15/01)\r\nPeggiore tempo:
        0:54,5s, 6o intervallo, passo 3:02 (0:53,8s il 15/01)\r\nMedia tempi: 0:52,33s
        (0:52,30s il 15/01)\r\n\r\nMax HR: 139 bpm, 3o intervallo (127 bpm il 15/01)\r\nMedia
        tutti max HR: 121,5 bpm (114,83 bpm il 15/01 - 129,33 bpm il 29/12)\r\nMedia
        tutti avg HR: 108,17 bpm (102,67 bpm il 15/01 - 113,67 bpm il 29/12)\r\n\r\nLa
        media dei tempi \u00e8 uguale all''ultima volta, quando per\u00f2 non stavo
        molto in forma, ma ho fatto il miglior tempo di sempre nel 3 e 4 intervallo
        \ud83c\udfc6.\r\nLa frequenza cardiaca media \u00e8 aumentata di 6 bpm rispetto
        all''ultima volta, quando non ero molto in forma, e diminuita rispetto alla
        volta prima.", "calories": 814.0, "perceived_exertion": null, "prefer_perceived_exertion":
        false, "segment_efforts": [{"id": 3327703784166886942, "resource_state": 2,
        "name": "Ciclabile Verdellino Levate", "activity": {"id": 13679778676, "visibility":
        "followers_only", "resource_state": 1}, "athlete": {"id": 115890775, "resource_state":
        1}, "elapsed_time": 489, "moving_time": 489, "start_date": "2025-02-20T15:51:38Z",
        "start_date_local": "2025-02-20T16:51:38Z", "distance": 1498.2, "start_index":
        0, "end_index": 489, "average_cadence": 82.4, "device_watts": true, "average_watts":
        348.8, "average_heartrate": 114.8, "max_heartrate": 125.0, "segment": {"id":
        8167012, "resource_state": 2, "name": "Ciclabile Verdellino Levate", "activity_type":
        "Run", "distance": 1498.2, "average_grade": 0.5, "maximum_grade": 3.0, "elevation_high":
        181.2, "elevation_low": 172.3, "start_latlng": [45.609183, 9.616778], "end_latlng":
        [45.621412, 9.620081], "elevation_profile": null, "elevation_profiles": null,
        "climb_category": 0, "city": "Verdellino", "state": "Lombardy", "country":
        "Italy", "private": false, "hazardous": false, "starred": false}, "pr_rank":
        null, "achievements": [], "visibility": "only_me", "hidden": false}, {"id":
        3327703784164016670, "resource_state": 2, "name": "300m stazione Levate",
        "activity": {"id": 13679778676, "visibility": "followers_only", "resource_state":
        1}, "athlete": {"id": 115890775, "resource_state": 1}, "elapsed_time": 61,
        "moving_time": 59, "start_date": "2025-02-20T16:14:39Z", "start_date_local":
        "2025-02-20T17:14:39Z", "distance": 318.8, "start_index": 1170, "end_index":
        1231, "average_cadence": 82.6, "device_watts": true[...]
