interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1756656001&per_page=4
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Santa Caterina di Valfurva - Passo Gavia", "distance": 27584.7,
        "moving_time": 6788, "elapsed_time": 9872, "total_elevation_gain": 888.0,
        "type": "Ride", "sport_type": "MountainBikeRide", "workout_type": null, "device_name":
        "Garmin Forerunner 965", "id": 15647482107, "start_date": "2025-08-31T08:39:35Z",
        "start_date_local": "2025-08-31T10:39:35Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 56, "kudos_count": 3, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a15647482107", "summary_polyline": "ixgzGsja_AeCnMp@j@j@`B@r@NDrHyFn@gAr@uDzAw@xBwChAq@YrCi@bAqBhGK|Eq@~B{@nAHPzAgAdAeBlA_FbDsCpDo@HYKgAXq@fEoF`D_BrA}C`EcBuCzC_@|BsAzBc@fBiA~@_AnCRRl@}AhCmAt@sAjEwEqBbFWjB{AdCq@|BIxBmCdDm@rAAXRLp@yAtDuB|CkEtBe@dBkD~ByBnJoDzBEtD_BF^m@dAuF~D{DfJ[rBJfBQvAeBpIKnCJf@p@kBtByCrAgGnAoEn@gAzDPtAMyErD}@rFhCqDpFHzCaEbCgA|Ce@zCuCnBqCjAkCjIcHnAs@hCc@tByCvAe@jABxC~BhAu@bBtB|D|BvC?|BxDhAxABvAbA`C`DfBf@cAHkGyA{Kq@mBA_Cb@{Bt@k@bAqChByArKcAbBkAzDdA~EKtAx@`KmAvD~AzBTv@]hANrBnDbAd@tHUhDJhAb@~M\\jCqAdB~@jDaApLtDrAD`EnBvD\\bDtAnD]zCp@nAjBzCzBvCf@vCbBjE~AbDx@tDhEdB\\t@z@zCrAnBnCjC~@fD|BhBClBpAhCd@zDO~BeBvAU`@|@b@rDlAfDpEvCd@tAx@rHtBjID`A_@tCZmCIgBZIYHD^Zd@HIi@WVuCQ{@q@d@eAeDWyDo@iDe@{@iEuCcAmCa@iD_@kAcBPkCfBiDNmBYkC{AcBByDcC_C{@sBsCoCkAcEyBuCmDaKcDeBkAyDw@uCwBuAqBsBk@}ERgDwAaE[}CgBiBKmLoDmD`A{AaAoCpAmMYyFq@mIVq@_@{A_DmAe@oAZiHoB{AZgHl@sA}@sERkEqAuArAmBb@kBK{Dd@qBpAgAtCm@`@m@tBAjCl@|AbBnLIjG_@x@y@CoByAiAwBDuAMl@OYsAaEsAcBgDG}DuB}A_Cu@n@a@DuC_CgACgA\\yBjD{Dt@mJxH_EfH}CvCuFrAiB|AqArBy@PwDa@yA`Bs@zAd@_FrEaDL_@oE_@_AZcEdOqB|Cs@pBOI?gARuCrBgIIwCVgBzDwJnB{@|A_BbAqA?o@kDzAcCNqJhD{BtB_BpDqBXyCjEgEzBs@nAISf@mAfAaB`Am@PgC|@cDlA}ApAqFfA}Aa@YaF`HsCtAo@zAQ?p@}B|@o@t@yBfAeBn@{CrCsBJc@yD`Ae@h@g@pBaD|AgFjGE~BoEbAgCzBsApFsC~DQQD[vAqDPkFzAeDL}Al@aA`@}Cm@@qCdD_Bv@mAtEkIlHeBeE~BmN",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "b12393437", "start_latlng": [46.41147, 10.499149], "end_latlng": [46.411365,
        10.499371], "average_speed": 4.064, "max_speed": 16.14, "average_temp": 27,
        "average_watts": 175.1, "device_watts": false, "kilojoules": 1188.9, "has_heartrate":
        true, "average_heartrate": 108.4, "max_heartrate": 146.0, "heartrate_opt_out":
        false, "display_hide_heartrate_option": true, "elev_high": 2623.6, "elev_low":
        1739.6, "upload_id": 16713009462, "upload_id_str": "16713009462", "external_id":
        "garmin_ping_475262746525", "from_accepted_tag": false, "pr_count": 18, "total_photo_count":
        1, "has_kudoed": false}, {"resource_state": 2, "athlete": {"id": 115890775,
        "resource_state": 1}, "name": "Cepina - Passo dello Stelvio", "distance":
        55059.4, "moving_time": 13420, "elapsed_time": 18488, "total_elevation_gain":
        1658.0, "type": "Ride", "sport_type": "MountainBikeRide", "workout_type":
        null, "device_name": "Garmin Forerunner 965", "id": 15637851461, "start_date":
        "2025-08-30T09:05:27Z", "start_date_local": "2025-08-30T11:05:27Z", "timezone":
        "(GMT+0[...]
