interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=10
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: biceps \ud83e\udda0", "distance": 0.0, "moving_time":
        3952, "elapsed_time": 3952, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "id": 13451142175, "start_date": "2025-01-25T17:48:11Z",
        "start_date_local": "2025-01-25T18:48:11Z", "timezone": "(GMT+01:00) Africa/Algiers",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        "Italy", "achievement_count": 0, "kudos_count": 1, "comment_count": 1, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13451142175", "summary_polyline": "",
        "resource_state": 2}, "trainer": true, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0.0, "average_temp": 26, "has_heartrate": true, "average_heartrate": 55.9,
        "max_heartrate": 119.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 0.0, "elev_low": 0.0, "upload_id": 14347895023, "upload_id_str":
        "14347895023", "external_id": "garmin_ping_405401415493", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Valgardena
        \ud83e\udda0", "distance": 30455.4, "moving_time": 6099, "elapsed_time": 16977,
        "total_elevation_gain": 111.8, "type": "Snowboard", "sport_type": "Snowboard",
        "id": 13414279778, "start_date": "2025-01-21T09:55:44Z", "start_date_local":
        "2025-01-21T10:55:44Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_city": null, "locat[...]
