interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?after=4072395600&per_page=2
  response:
    body:
      string: '{"message": "Bad Request", "errors": [{"resource": "Application", "field":
        "after", "code": "future"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      status:
      - 400 Bad Request
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 4,7
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 4,7
    status:
      code: 400
      message: Bad Request
version: 1
