interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1759424401&per_page=1
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: powerlifting", "distance": 0.0, "moving_time":
        3600, "elapsed_time": 3600, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout_type": 30, "id": 16013371380, "start_date":
        "2025-10-02T17:00:00Z", "start_date_local": "2025-10-02T19:00:00Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 0,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a16013371380",
        "summary_polyline": "", "resource_state": 2}, "trainer": false, "commute":
        false, "manual": true, "private": false, "visibility": "followers_only", "flagged":
        false, "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed":
        0.0, "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"e95eb6e144cc21662691259b95a6b461"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 2,20
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 2,20
    status:
      code: 200
      message: OK
version: 1
