interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1762344001&per_page=4
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Slow run", "distance": 10180.2, "moving_time": 3106, "elapsed_time":
        3108, "total_elevation_gain": 34.0, "type": "Run", "sport_type": "Run", "workout_type":
        0, "device_name": "Garmin Forerunner 965", "id": 16362428147, "start_date":
        "2025-11-05T11:18:02Z", "start_date_local": "2025-11-05T12:18:02Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 3600.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 2,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a16362428147",
        "summary_polyline": "}rkuGmduy@e@B_@JyAN_A?]DqAIO@cBC{@@k@C}@?[FaABmCKa@@WCu@@WGOM_Bs@_Ai@gDsAoBWi@Cm@Ku@GKCOMO]EYU}BI_@]o@OgA]W_A_ASc@CO?iBDoDDs@Nw@dAyBTs@@_ACyADUbAi@jAa@TE^U^KDEACC?A?c@TSLc@P_@R{Aj@KHEJG^DjBCXOd@gAlCMx@Eh@IbGANMVIHi@BeAKaA?YC[D[LWXMTSP]FS?MEGOAGDkCGCCGAO@a@GwAE_C?oBCa@Da@G]IaCCyDBc@?aCCs@@_@I{@KuB@oBBi@D_@?WGOIKk@La@@IBOCMi@a@uBOBe@ZIAGGe@gBCYHCv@Vf@RACWGo@WYSGKQMJYCMu@YGOJoAVk@FUBa@FKJ?r@HrB^XJb@JzBr@l@Th@XDCJ]FiA^iCFWDODCD?\\JJA`@a@JC\\Af@N~@Ll@LpANTLT\\JFVBFHFXFxBAj@IlA]~AK~@CDIBEDERQdEBTHNN?RDdBp@~Ad@tAj@ZP`@Jr@Zp@P|@^|Br@l@Hx@Bl@LJFFLHDfAKb@Ct@KlF]|AO|AK\\@t@Gt@AfBa@z@[D@BDF^HfANhAR~BFLN?b@MbBQVG`AGNE^EV?n@MD?BBJTBZBrADlA?h@ELOHMBk@GOIQ?q@Sg@Yu@]UEQ?O@QFYPa@`@U\\KZMh@Il@?XQEBh@KABLCJGp@I`@@HE~@SxACt@@pA@VJ\\HPJLRLPDP@NCJEr@c@~CcCjBiBTORWLAz@TDXArBJzJVvFJpAJl@AHIFi@?]By@Vq@Ji@BoBBqDr@UCKBcADqAPW?qALOAg@BmAIc@Bi@Cq@@m@CkA@c@Ca@DgABeAGC@sAEuA?OEUMOGeAi@w@]e@WmCgAUG_@Ce@IiAIyAOOGSQGWKg@MaBKe@_@u@QeAGGUM?APFNLRbAZj@Lf@R`CJ\\LRz@Nz@Fh@JdBPx@V^RlAd@RNhD~Aj@F~A?lBFxBIrABh@C~@@`@Cx@@~@DvBE~AQdBM",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "g20743230", "start_latlng": [45.60933, 9.61671], "end_latlng": [45.609066,
        9.616679], "average_speed": 3.278, "max_speed": 4.14, "average_cadence": 83.7,
        "average_temp": 21, "average_watts": 386.1, "max_watts": 494, "weighted_average_watts":
        386, "device_watts": true, "kilojoules": 1199.2, "has_heartrate": true, "average_heartrate":
        132.1, "max_heartrate": 141.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 190.6, "elev_low": 172.6, "upload_id": 17448094906, "upload_id_str":
        "17448094906", "external_id": "garmin_ping_498658736329", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Powerlifting
        class", "distance": 0.0, "moving_time": 3600, "elapsed_time": 3600, "total_elevation_gain":
        0, "type": "WeightTraining", "sport_type": "WeightTraining", "workout_type":
        30, "id": 16361238786, "start_date": "2025-11-04T18:00:00Z", "start_date_local":
        "2025-11-04T19:00:00Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_cit[...]
