interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=4072395600&per_page=2
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Lunch Snowboard", "distance": 19453.6, "moving_time": 3973, "elapsed_time":
        10551, "total_elevation_gain": 71.6, "type": "Snowboard", "sport_type": "Snowboard",
        "id": 13642798308, "start_date": "2025-02-16T10:29:55Z", "start_date_local":
        "2025-02-16T11:29:55Z", "timezone": "(GMT+01:00) Europe/Rome", "utc_offset":
        3600.0, "location_city": null, "location_state": null, "location_country":
        "Italy", "achievement_count": 0, "kudos_count": 1, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a13642798308", "summary_polyline": "garxG{k{|@w@a@oDoEg@sA]{BF_@Kt@e@Ds@K{FcDuAX_@SkBDmAg@mBeBWe@c@JoB[w@i@qAWoA?w@i@gAa@YNQy@P{C{@iB?e@h@{A|@g@Ts@Cg@eG`@cCmDuA_AuB_EkCuKuB}C}@{DgBcA_BsFs@eAkB_@i@p@oALiAhALL`AY`hAs]mCz@ItB}@rBs@XeIvKyAhAkAMcDaGSkBJyBSs@e@BoAhB}ANy@f@eAzCq@rCk@xDAnAVnGfAbD|@hEvBjHr@hAGp@RnAIr@[n@e@VaBu@qC[{DcE}@oCo@_D{@}BcAaAaAqDuBuBuA}E}@qA{@_@cAz@s@MsBfBJGtjAg^yChAUnCi@dAeAz@_FxGYD{@jBcBdAm@Ds@a@yAkBiAiFd@yCu@o@Y@s@bBkCz@_CxE_ArFMfC\\xFThA~C|LvBzFBhCsA`C_Aw@q@[iADeAc@gD}Dk@uAaBeH_BeCq@}C}BwBaAgDoAqBkA_@qErBERFSfB[rlCq}@GbA[Yu@L]p@KlAf@fFp@fBG~@kBe@_@gAkF]e@e@aDQkBDwDkEUCsC`AM`@{Az@uBn@sBRkCkA]v@{APoBzBaHzDWvBiA|AK`ATV~bAy^GXm@^g@D_@`BPpDfAjDUv@{Bw@Uq@}CSwCu@qABqBk@aCkBwBm@kBd@}AvAuDhAgBQu@ZeASoBd@mDxCsAZ_CfBmBvDMnARj@xbA{_@I`AyAl@WfB`@lENp@x@jACj@UT{EuBaCe@wCBkAW[i@}AMm@w@uDgC{@v@u@pBk@Xy@OeF|@{Bg@_Aq@mBtC{@t@sDtBQEc@vAwAtAk@tAkAd@}CtCa@fDYx@_E`GqF~G}@ZgA]mCaGWwCuBrr@R|AIb@w@r@yFcAsDsDu@sAkBcI{AeB_AqD{B}BiAsD{@aA{As@aBZUb@yAr@HTnjA__@uCfA_AnE}IzKc@~@{A|@m@@u@q@cCaFSyBJoAg@uAS@q@vAqDhAsSxaAi@WUVvcBrg@USc@qBWIUi@yAs@sEw@kDReC?a@WmB[qACm@Va@m@}@MgFeDyEVo@OkDaCc@s@eAEaAc@w@B}@c@o@\\eCyAmBQ}HeDsA]YRQIQs@e@Kk@s@}DkA{A}@ASw@ANEY[",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [46.13508, 10.13961], "end_latlng": [46.150258, 10.145028],
        "average_speed": 4.896, "max_speed": 11.64, "average_temp": 25, "has_heartrate":
        true, "average_heartrate": 94.0, "max_heartrate": 176.0, "heartrate_opt_out":
        false, "display_hide_heartrate_option": true, "elev_high": 2051.4, "elev_low":
        1171.6, "upload_id": 14557457641, "upload_id_str": "14557457641", "external_id":
        "garmin_ping_411557929145", "from_accepted_tag": false, "pr_count": 0, "total_photo_count":
        2, "has_kudoed": false}, {"resource_state": 2, "athlete": {"id": 115890775,
        "resource_state": 1}, "name": "Teglio Sunset Winter Run", "distance": 9652.5,
        "moving_time": 5016, "elapsed_time": 5042, "total_elevation_gain": 564.0,
        "type": "Run", "sport_type": "TrailRun", "workout_type": 0, "id": 13635185391,
        "start_date": "2025-02-15T14:59:43Z", "start_date_local": "2025-02-15T15:59:43Z",
        "timezone": "(GMT+01:00) Europe/Rome", "utc_offset": 3600.0, "location_city":
        null, "location_state": null, "location_country": "Italy", "achievement_count":
        0, "kudos_count": 3, "comment_count": 0, "athlete_count": 8, "photo_count":
        0, "map": {"id": "a13635185391", "summary_polyline": "ct|xGcok|@PWTMb@?b@Nl@OjAF`Ac@`@FVNFHF\\Dn@^zANrAFJLl@?PUbADf@BdBAp[...]
