interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/14038286532
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Monterosso - Ranica - Nembro - Selvino - Salmezza - Miragolo
        San Salvatore - Zogno - Stabello - Alm\u00e8 - Madonna della Castagna - Castagneta
        - Citt\u00e0 Alta - Porta San Lorenzo", "distance": 60436.9, "moving_time":
        14034, "elapsed_time": 19900, "total_elevation_gain": 1405.0, "type": "Ride",
        "sport_type": "MountainBikeRide", "workout_type": 10, "id": 14038286532, "start_date":
        "2025-03-31T07:29:56Z", "start_date_local": "2025-03-31T09:29:56Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 34, "kudos_count": 2,
        "comment_count": 0, "athlete_count": 2, "photo_count": 0, "map": {"id": "a14038286532",
        "polyline": "yv`vG{nbz@LHX`@FFF@F?HKL[PWTQXINAt@DdDR`ABb@J^X\\^n@v@`@t@F@nACv@MlBIPEh@e@zDiEBI@WDIjAiAHS^]Tm@FYD]CcBDg@Fc@?Yk@eCSmASs@E[A[DcCKaBCq@MaBMgCHW?[DEjAONMHCXNTDb@DFEB_@Am@Iq@k@}HCsA@w@BKFGHAlBUz@ENUDMBgACOBEnAo@|AgADM?OOi@Ai@Kq@g@cB_@y@Og@]uBs@{CcAcDE@GDKNKFe@H_@^u@|@cA|@_@X{AvAMBICQa@E]KiCAeA?s@Ca@a@mD_@uBGYgAaDW]o@e@iAa@e@A}@JsAZgAAkAb@o@He@?gAM[ImAB{@Xc@Hy@Hc@H_@Na@VOPGBGCo@mB}@gDWu@AOBKJUPSLUC]S[yAw@YYoBqDuA}Cy@}A}BaE[s@q@oBYq@eA_DaBmFq@aB{@sCUi@MOeB{Aa@i@We@IUE{AIUc@e@WC]McA_A[M_@CYIIIwAw@w@[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 102, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 51.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3888878, "lactateThresholdHeartRate": 161,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1115481040, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "SATURDAY", "SUNDAY", "MONDAY", "THURSDAY", "FRIDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-03-31T07:29:56+00:00
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        18689027868, "activityName": "Bergamo Mountain Biking", "startTimeLocal":
        "2025-03-31T09:29:56.0", "startTimeGMT": "2025-03-31T07:29:56.0", "activityType":
        {"typeId": 5, "typeKey": "mountain_biking", "parentTypeId": 2, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "distance": 60436.87890625,
        "duration": 14023.0595703125, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1972.0, "bmrCalories": 337.5921748408565, "activeCalories": 1634.4078251591436,
        "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess": true,
        "elapsedDuration": 19900.06640625, "minTemperature": 21.0, "lapCount": 13,
        "averageHR": 96.0, "maxSpeed": 1.56850004196167, "moderateIntensityMinutes":
        53, "vigorousIntensityMinutes": 123, "purposefull": false, "pr": false, "atpActivity":
        false, "favorite": false, "parent": false}], "successful": true}, "AllDayHR":
        {"requestUrl": "/wellness-service/wellness/dailyHeartRate", "statusCode":
        200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK": 113739130,
        "calendarDate": "2025-03-31", "startTimestampGMT": "2025-03-30T22:00:00.0",
        "endTimestampGMT": "2025-03-31T22:00:00.0", "startTimestampLocal": "2025-03-31T00:00:00.0",
        "endTimestampLocal": "2025-04-01T00:00:00.0", "maxHeartRate": 136, "minHeartRate":
        50, "restingHeartRate": 51, "lastSevenDaysAvgRestingHeartRate": 50, "heartRateValueDescriptors":
        [{"key": "timestamp", "index": 0}, {"key": "heartrate", "index": 1}], "heartRateValues":
        [[1743372000000, null], [1743402120000, 73], [1743402240000, 77], [1743402360000,
        63], [1743402480000, 67], [1743402600000, 60], [1743402720000, 64], [1743402840000,
        61], [1743402960000, 65], [1743403080000, 56], [1743403200000, 50], [1743403320000,
        63], [1743403440000, 57], [1743403560000, 52], [1743403680000, 52], [1743403800000,
        50], [1743403920000, 50], [1743404040000, 52], [1743404160000, 54], [1743404280000,
        50], [1743404400000, 50], [174340[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2024-06-18T08:24:51+00:00
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        15974223178, "activityName": "Bergamo Cycling", "startTimeLocal": "2024-06-18T10:24:51.0",
        "startTimeGMT": "2024-06-18T08:24:51.0", "activityType": {"typeId": 2, "typeKey":
        "cycling", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 62270.12109375, "duration": 13562.37890625, "activeSplitSummaryDuration":
        13562.37905883789, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1597.0, "bmrCalories": 321.63558308919266, "activeCalories": 1275.3644169108074,
        "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess": true,
        "elapsedDuration": 23251.44921875, "minTemperature": 25.0, "lapCount": 13,
        "avgRespirationRate": 25.040000915527344, "averageHR": 98.0, "maxSpeed": 1.311900043487549,
        "maxSplitDistance": 62270, "totalAscent": 1342.0, "moderateIntensityMinutes":
        72, "vigorousIntensityMinutes": 80, "purposefull": false, "pr": false, "atpActivity":
        false, "favorite": false, "parent": false}], "successful": true}, "AllDayHR":
        {"requestUrl": "/wellness-service/wellness/dailyHeartRate", "statusCode":
        200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK": 113739130,
        "calendarDate": "2024-06-18", "startTimestampGMT": "2024-06-17T22:00:00.0",
        "endTimestampGMT": "2024-06-18T22:00:00.0", "startTimestampLocal": "2024-06-18T00:00:00.0",
        "endTimestampLocal": "2024-06-19T00:00:00.0", "maxHeartRate": null, "minHeartRate":
        null, "restingHeartRate": 52, "lastSevenDaysAvgRestingHeartRate": 49, "heartRateValueDescriptors":
        null, "heartRateValues": null}, "successful": true}, "SleepTimes": {"currentDaySleepEndTimeGMT":
        null, "currentDaySleepStartTimeGMT": null, "nextDaySleepEndTimeGMT": null,
        "nextDaySleepStartTimeGMT": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2023-11-26T08:00:56+00:00
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        12877651519, "activityName": "Milano21", "startTimeLocal": "2023-11-26T09:00:56.0",
        "startTimeGMT": "2023-11-26T08:00:56.0", "activityType": {"typeId": 1, "typeKey":
        "running", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 21460.8203125, "duration": 5762.330078125, "activeSplitSummaryDuration":
        5762.330078125, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1443.0, "bmrCalories": 137.05542026095918, "activeCalories": 1305.9445797390408,
        "steps": 16554, "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess":
        true, "elapsedDuration": 5762.330078125, "minTemperature": 17.0, "lapCount":
        22, "avgRespirationRate": 35.900001525878906, "averageHR": 148.0, "maxSpeed":
        0.5235000133514405, "maxSplitDistance": 21460, "noOfSplits": 1, "totalAscent":
        34.0, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes": 92, "pr":
        false, "purposefull": false, "atpActivity": false, "favorite": false, "parent":
        false}], "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK":
        113739130, "calendarDate": "2023-11-26", "startTimestampGMT": "2023-11-25T23:00:00.0",
        "endTimestampGMT": "2023-11-26T23:00:00.0", "startTimestampLocal": "2023-11-26T00:00:00.0",
        "endTimestampLocal": "2023-11-27T00:00:00.0", "maxHeartRate": null, "minHeartRate":
        null, "restingHeartRate": 44, "lastSevenDaysAvgRestingHeartRate": 44, "heartRateValueDescriptors":
        null, "heartRateValues": null}, "successful": true}, "SleepTimes": {"currentDaySleepEndTimeGMT":
        null, "currentDaySleepStartTimeGMT": null, "nextDaySleepEndTimeGMT": null,
        "nextDaySleepStartTimeGMT": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
