interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 164, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        154, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157618665, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "FRIDAY", "THURSDAY", "TUESDAY", "SATURDAY", "WEDNESDAY", "SUNDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24473738940
  response:
    body:
      string: '{"activityId": 24473738940, "activityUUID": {"uuid": "2922b3f5-fe82-4c28-9229-e80e32d71741"},
        "activityName": "Torre Boldone Track Running", "userProfileId": 113739130,
        "isMultiSportParent": false, "activityTypeDTO": {"typeId": 8, "typeKey": "track_running",
        "parentTypeId": 1, "isHidden": false, "restricted": false, "trimmable": true},
        "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10},
        "accessControlRuleDTO": {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 1014006,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2026-09-23T19:02:15.0", "uploadedDate": "2026-09-23T19:02:11.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": true, "userInfoDto": {"userProfilePk": 113739130, "displayname":
        "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 16, "associatedWorkoutId":
        3444001964, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1014006}, "hasIntensityIntervals":
        true, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "sessionResultType": "ORIGINAL", "hasMultiDayActivities": false, "thirdPartyGymEquipment":
        [], "personalRecord": false, "gcj02": false, "runPowerWindDataEnabled": true,
        "manualActivity": false, "autoCalcCalories": false, "favorite": false, "elevationCorrected":
        false, "trimmed": false}, "summaryDTO": {"startTimeLocal": "2026-09-23T19:52:19.0",
        "startTimeGMT": "2026-09-23T17:52:19.0", "startLatitude": 45.71295605041087,
        "startLongitude": 9.715451058000326, "distance": 10220.0, "duration": 3546.003,
        "movingDuration": 3404.203, "elapsedDuration": 3546.003, "elevationGain":
        0.0, "elevationLoss": 0.0, "maxElevation": 279.0, "minElevation": 277.8, "avgElevation":
        278.91, "averageSpeed": 2.881999969482422, "averageMovingSpeed": 3.0021711504907533,
        "maxSpeed": 5.216000080108643, "calories": 783.0, "bmrCalories": 87.0, "averageHR":
        127.0, "maxHR": 165.0, "minHR": 80.0, "averageRunCadence": 142.390625, "maxRunCadence":
        220.0, "averagePower": 328.0, "maxPower": 616.0, "minPower": 0.0, "normalizedPower":
        435.0, "totalWork": 277.56430756893764, "groundContactTime": 228.6999969482422,
        "strideLength": 122.44000244140625, "verticalOscillation": 8.009999847412109,
        "trainingEffect": 3.5999999046325684, "anaerobicTrainingEffect": 3.0, "aerobicTrainingEffectMessage":
        "IMPROVING_VO2_MAX_15", "anaerobicTrainingEffectMessage": "IMPROVING_ECONOMY_AND_ANAEROBIC_BASE_11",
        "verticalRatio": 7.150000095367432, "endLatitude": 45.71286820806563, "endLongitude":
        9.71442955546081, "maxVerticalSpeed": 1.20001220703125, "waterEstimated":
        954.0, "minRespirationRate": 18.459999084472656, "maxRespirationRate": 47.560001373291016,
        "avgRespirationRate": 34.130001068115234, "trainingEffectLabel": "VO2MAX",
        "activityTrainingLoad": 187.24891662597656, "minActivityLapDuration": 153.887,
        "directWorkoutFeel": 75, "directWorkoutRpe": 40, "directWorkoutComplianceScore":
        100, "moderateIntensityMinutes": 13, "vigorousIntensityMinutes": 39, "steps":
        8624, "beginPotentialStamina": 99.0, "endPotentialStamina": 63.0, "minAvailableStamina":
        41.0, "differenceBodyBattery": -11}, "locationName": "Torre Boldone", "splitSummaries":
        [{"distance": 740.0, "duration": 368.66, "movingDuration": 368.0, "elevationGain":
        0.0, "elevationLoss": 0.0, "averageSpeed": 2.006999969482422, "averageMovingSpeed":
        2.010869565217391, "maxSpeed": 4.684000015258789, "calories": 70.0, "bmrCalories":
        9.0, "averageHR": 114.0, "maxHR": 165.0, "averageRunCadence": 156.796875,
        "maxRunCadence": 220.0, "averagePower": 261.0, "maxPower": 554.0, "normalizedPower":
        293.0, "groundContactTime": 289.79998779296875, "strideLength": 83.82999877929689,
        "verticalOscillation": 7.980000305175782, "verticalRatio": 9.630000114440918,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0, "splitType": "INTERVAL_COOLDOWN",
        "noOfSplits": 1, "maxElevationGain": 0.0, "averageElevationGain": 0.0, "maxDistance":
        740, "maxDistanceWithPrecision": 740.0, "avgStepFrequency": 156.796875, "avgStepLength":
        0.8382999877929689}, {"distance": 82.6, "duration": 113.0, "movingDuration":
        0.0, "elevationGain": 0.0, "elevationLoss": 0.0, "averageSpeed": 0.7310000061988831,
        "maxSpeed": 3.378000020980835, "calories": 6.0, "bmrCalories": 3.0, "averageHR":
        91.0, "maxHR": 107.0, "averageRunCadence": 31.328125, "maxRunCadence": 188.0,
        "averagePower": 0.0, "maxPower": 0.0, "normalizedPower": 69.0, "strideLength":
        30.79593065697206, "totalExerciseReps": 0, "avgVert[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24473738940/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24473738940, "measurementCount": 25, "metricsCount":
        3547, "totalMetricsCount": 3547, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directHeartRate", "unit": {"id":
        100, "key": "bpm", "factor": 1.0}}, {"metricsIndex": 2, "key": "sumDistance",
        "unit": {"id": 1, "key": "meter", "factor": 100.0}}, {"metricsIndex": 3, "key":
        "directPower", "unit": {"id": 10, "key": "watt", "factor": 1.0}}, {"metricsIndex":
        4, "key": "directFractionalCadence", "unit": {"id": 92, "key": "stepsPerMinute",
        "factor": 1.0}}, [...]
