interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "WEDNESDAY", "SATURDAY", "MONDAY", "FRIDAY", "THURSDAY", "TUESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22975082447
  response:
    body:
      string: '{"activityId": 22975082447, "activityUUID": {"uuid": "4c2c5fa9-d58a-41ca-b54f-6d67481deb44"},
        "activityName": "Melegnano Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1011536, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-05-22T18:49:34.0", "uploadedDate":
        "2026-05-22T18:49:33.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 6, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1011536}, "hasIntensityIntervals": false, "hasSplits":
        true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": false, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "personalRecord": true, "gcj02": false,
        "elevationCorrected": false, "trimmed": false, "manualActivity": false, "autoCalcCalories":
        false, "favorite": false, "runPowerWindDataEnabled": true}, "summaryDTO":
        {"startTimeLocal": "2026-05-22T20:00:27.0", "startTimeGMT": "2026-05-22T18:00:27.0",
        "startLatitude": 45.356505224481225, "startLongitude": 9.323223335668445,
        "distance": 5094.53, "duration": 1171.738, "movingDuration": 1169.725, "elapsedDuration":
        1175.736, "elevationGain": 7.0, "elevationLoss": 5.0, "maxElevation": 96.6,
        "minElevation": 92.6, "avgElevation": 94.97, "averageSpeed": 4.3480000495910645,
        "averageMovingSpeed": 4.355322625893668, "maxSpeed": 5.877999782562256, "calories":
        376.0, "bmrCalories": 29.0, "averageHR": 157.0, "maxHR": 169.0, "minHR": 85.0,
        "averageRunCadence": 177.296875, "maxRunCadence": 190.0, "averageTemperature":
        27.604663327071606, "maxTemperature": 29.0, "minTemperature": 27.0, "averagePower":
        513.0, "maxPower": 690.0, "minPower": 0.0, "normalizedPower": 514.0, "totalWork":
        143.67473186285508, "groundContactTime": 220.39999389648438, "strideLength":
        145.6199951171875, "verticalOscillation": 9.55999984741211, "trainingEffect":
        3.5999999046325684, "anaerobicTrainingEffect": 0.6000000238418579, "aerobicTrainingEffectMessage":
        "IMPROVING_VO2_MAX_15", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "verticalRatio": 6.570000171661377, "endLatitude": 45.35690168850124, "endLongitude":
        9.324094885960221, "maxVerticalSpeed": 0.20000457763671875, "waterEstimated":
        325.0, "minRespirationRate": 20.389999389648438, "maxRespirationRate": 47.81999969482422,
        "avgRespirationRate": 41.4900016784668, "trainingEffectLabel": "VO2MAX", "activityTrainingLoad":
        140.71958923339844, "minActivityLapDuration": 20.753, "directWorkoutFeel":
        75, "directWorkoutRpe": 90, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes":
        18, "steps": 3476, "beginPotentialStamina": 99.0, "endPotentialStamina": 72.0,
        "minAvailableStamina": 70.0, "avgGradeAdjustedSpeed": 4.324999809265137, "differenceBodyBattery":
        -6}, "locationName": "Melegnano", "splitSummaries": [{"distance": 5094.53,
        "duration": 1171.738, "movingDuration": 1170.0, "elevationGain": 7.0, "elevationLoss":
        5.0, "averageSpeed": 4.3480000495910645, "averageMovingSpeed": 4.354298961672009,
        "maxSpeed": 5.877999782562256, "calories": 376.0, "bmrCalories": 29.0, "averageHR":
        157.0, "maxHR": 169.0, "averageRunCadence": 177.28125, "maxRunCadence": 190.0,
        "averageTemperature": 28.0, "maxTemperature": 29.0, "minTemperature": 27.0,
        "averagePower": 513.0, "maxPower": 690.0, "normalizedPower": 514.0, "groundContactTime":
        220.39999389648438, "strideLength": 145.6199951171875, "verticalOscillation":
        9.55999984741211, "verticalRatio": 6.570000171661377, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.0020000000949949026, "avgGradeAdjustedSpeed": 4.324999809265137,
        "splitType": "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain": 7.0,
        "averageElevationGain": 7.0, "maxDistance": 5094, "maxDistanceWithPrecision":
        5094.53, "avgStepFrequency": 177.28125, "avgStepLength": 1.456199951171875},
        {"distance": 5094.53, "duration": 1171.723, "movingDuration": 1170.0, "elevationGain":
        7.0, "elevationLoss": 5.0, "averageSpeed": 4.3480000495910645, "averageMovingSpeed":
        4.354298961672009, "maxSpeed": 5.877999782562256, "calories": 376.0, "bmrCalories":
        29.0, "averageHR": 157.0, "maxHR": 169.0, "averageRunCadence": 177.28125,
        "maxRunCadence": 190.0, "averageTemperature": 28.0, "maxTemperature": 29.0,
        "minTemperature": 27.0, "averagePower": 513.0, "maxPower": 690.0, "normalizedPower":
        514.0, "groundContactTime": 220.39999389648438, "strideLength": 145.6199951171875,
        "verticalOscillation": 9.55999984741211, "verticalRatio": 6.570000171661377,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0020000000949949026, "avgGradeAdjustedSpeed":
        4.324999809265137, "splitType": "RWD_RUN", "noOfSplits": 1, "maxElevationGain":
        7.0, "averageElevationGain": 7.0, "maxDistance": 5094, "maxDistanceWithPrecision":
        5094.53, "avgStepFrequency": 177.28125, "avgStepLength": 1.456199951171875}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22975082447/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 22975082447, "measurementCount": 27, "metricsCount":
        1174, "totalMetricsCount": 1174, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directFractionalCadence", "unit":
        {"id": 92, "key": "stepsPerMinute", "factor": 1.0}}, {"metricsIndex": 2, "key":
        "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directSpeed", "unit": {"id": 20, "key": "mps", "factor": 0.1}},
        {"metricsIndex": 4, "key": "directGradeAdjustedSpeed", "unit": {"id": 20,
        "key": "mps", "factor"[...]
[...]
