interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "MONDAY", "FRIDAY", "SUNDAY", "THURSDAY", "SATURDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19005790234
  response:
    body:
      string: '{"activityId": 19005790234, "activityUUID": {"uuid": "8d421f71-b8c9-4cbe-82f3-dba359cef834"},
        "activityName": "Fosso Bergamasco: Cologno al Serio, 1a tappa", "userProfileId":
        113739130, "isMultiSportParent": false, "activityTypeDTO": {"typeId": 1, "typeKey":
        "running", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "accessControlRuleDTO": {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 993667,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2025-05-09T20:43:24.0", "uploadedDate": "2025-05-02T19:23:19.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": true, "userInfoDto": {"userProfilePk": 113739130, "displayname":
        "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        3.9, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 7, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 993667}, "hasIntensityIntervals": false, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "thirdPartyGymEquipment":
        [], "runPowerWindDataEnabled": true, "personalRecord": false, "gcj02": false,
        "trimmed": false, "elevationCorrected": false, "manualActivity": false, "autoCalcCalories":
        false, "favorite": false}, "summaryDTO": {"startTimeLocal": "2025-05-02T20:39:18.0",
        "startTimeGMT": "2025-05-02T18:39:18.0", "startLatitude": 45.57984480634332,
        "startLongitude": 9.708179337903857, "distance": 6907.28, "duration": 1697.549,
        "movingDuration": 1695.889, "elapsedDuration": 1697.549, "elevationGain":
        12.0, "elevationLoss": 9.0, "maxElevation": 161.0, "minElevation": 155.2,
        "averageSpeed": 4.068999767303467, "averageMovingSpeed": 4.072955138266139,
        "maxSpeed": 4.758999824523926, "calories": 477.0, "bmrCalories": 41.0, "averageHR":
        160.0, "maxHR": 170.0, "minHR": 84.0, "averageRunCadence": 173.28125, "maxRunCadence":
        187.0, "averageTemperature": 26.844352653653818, "maxTemperature": 29.0, "minTemperature":
        26.0, "averagePower": 466.0, "maxPower": 602.0, "minPower": 0.0, "normalizedPower":
        469.0, "totalWork": 189.02057746741067, "groundContactTime": 232.60000610351562,
        "strideLength": 140.0300048828125, "verticalOscillation": 9.740000152587891,
        "trainingEffect": 4.5, "anaerobicTrainingEffect": 3.0, "aerobicTrainingEffectMessage":
        "HIGHLY_IMPROVING_VO2_MAX_16", "anaerobicTrainingEffectMessage": "IMPROVING_ANAEROBIC_BASE_2",
        "verticalRatio": 6.960000038146973, "endLatitude": 45.57952880859375, "endLongitude":
        9.707516245543957, "maxVerticalSpeed": 0.20001220703125003, "waterEstimated":
        471.0, "minRespirationRate": 24.799999237060547, "maxRespirationRate": 57.91999816894531,
        "avgRespirationRate": 43.08000183105469, "trainingEffectLabel": "VO2MAX",
        "activityTrainingLoad": 325.68499755859375, "minActivityLapDuration": 225.405,
        "directWorkoutFeel": 75, "directWorkoutRpe": 80, "moderateIntensityMinutes":
        1, "vigorousIntensityMinutes": 26, "steps": 4898, "beginPotentialStamina":
        98.0, "endPotentialStamina": 56.0, "minAvailableStamina": 47.0, "avgGradeAdjustedSpeed":
        4.059000015258789, "differenceBodyBattery": -11}, "locationName": "Cologno
        al Serio", "splitSummaries": [{"distance": 6907.28, "duration": 1697.549,
        "movingDuration": 1696.0, "elevationGain": 12.0, "elevationLoss": 9.0, "averageSpeed":
        4.068999767303467, "averageMovingSpeed": 4.072688552568543, "maxSpeed": 4.758999824523926,
        "calories": 477.0, "bmrCalories": 41.0, "averageHR": 160.0, "maxHR": 170.0,
        "averageRunCadence": 173.28125, "maxRunCadence": 187.0, "averageTemperature":
        27.0, "maxTemperature": 29.0, "minTemperature": 26.0, "averagePower": 466.0,
        "maxPower": 602.0, "normalizedPower": 469.0, "groundContactTime": 232.60000610351562,
        "strideLength": 140.0300048828125, "verticalOscillation": 9.740000152587891,
        "verticalRatio": 6.960000038146973, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0020000000949949026, "avgGradeAdjustedSpeed": 4.059000015258789, "splitType":
        "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain": 12.0, "averageElevationGain":
        12.0, "maxDistance": 6907, "maxDistanceWithPrecision": 6907.28, "avgStepFrequency":
        173.28125}, {"distance": 6907.28, "duration": 1697.534, "movingDuration":
        1696.0, "elevationGain": 12.0, "elevationLoss": 9.0, "averageSpeed": 4.068999767303467,
        "averageMovingSpeed": 4.072688552568543, "maxSpeed": 4.758999824523926, "calories":
        477.0, "bmrCalories": 41.0, "averageHR": 160.0, "maxHR": 170.0, "averageRunCadence":
        173.28125, "maxRunCadence": 187.0, "averageTemperature": 27.0, "maxTemperature":
        29.0, "minTemperature": 26.0, "averagePower": 466.0, "maxPower": 602.0, "normalizedPower":
        469.0, "groundContactTime": 232.60000610351562, "strideLength": 140.0300048828125,
        "verticalOscillation": 9.740000152587891, "verticalRatio": 6.960000038146973,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0020000000949949026, "avgGradeAdjustedSpeed":
        4.059000015258789, "splitType": "RWD_RUN", "noOfSplits": 1, "maxElevationGain":
        12.0, "averageElevationGain": 12.0, "maxDistance": 6907, "maxDistanceWithPrecision":
        6907.28, "avgStepFrequency": 173.28125}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19005790234/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 19005790234, "measurementCount": 27, "metricsCount":
        1699, "totalMetricsCount": 1699, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directPotentialStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "sumMovingDuration", "unit": {"id":
        40, "key": "second", "factor": 1000.0}}, {"metricsIndex": 2, "key": "directAvailableStamina",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}},
        {"metricsIndex": 4, "key": "directLongitude", "unit": {"id": 60, "key": "dd",
        "factor":[...]
[...]
