interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "SUNDAY", "FRIDAY", "THURSDAY", "MONDAY", "WEDNESDAY", "TUESDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=3&activityType=running
  response:
    body:
      string: '[{"activityId": 24048184816, "activityName": "Verdellino Running",
        "startTimeLocal": "2026-08-20 13:04:05", "startTimeGMT": "2026-08-20 11:04:05",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        false, "isAutoCalcCalories": false, "isParent": false, "distance": 10035.6201171875,
        "duration": 3376.070068359375, "elapsedDuration": 3812.56103515625, "movingDuration":
        3371.501007080078, "elevationGain": 36.0, "elevationLoss": 29.0, "averageSpeed":
        2.9730000495910645, "maxSpeed": 3.86299991607666, "startLatitude": 45.60879489406943,
        "startLongitude": 9.616376208141446, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 759.0, "bmrCalories": 83.0, "averageHR": 115.0, "maxHR": 124.0,
        "averageRunningCadenceInStepsPerMinute": 166.59375, "maxRunningCadenceInStepsPerMinute":
        179.0, "steps": 9358, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_ATP_READ", "SCOPE_DIVE_API_WRITE",
        "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "privacy":
        {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo": false,
        "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1787223845000,
        "sportTypeId": 1, "avgPower": 358.0, "maxPower": 495.0, "aerobicTrainingEffect":
        3.0, "anaerobicTrainingEffect": 0.0, "normPower": 359.0, "avgVerticalOscillation":
        8.990000152587891, "avgGroundContactTime": 269.0, "avgStrideLength": 107.50999755859375,
        "avgVerticalRatio": 8.369999885559082, "deviceId": 3444001964, "minTemperature":
        31.0, "maxTemperature": 36.0, "minElevation": 172.39999389648438, "maxElevation":
        191.39999389648438, "avgElevation": 181.07456343958356, "maxDoubleCadence":
        179.0, "isElevationCorrected": false, "isDecoDive": false, "summarizedDiveInfo":
        {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.4000091552734375, "manufacturer":
        "GARMIN", "locationName": "Verdellino", "lapCount": 11, "endLatitude": 45.60942018404603,
        "endLongitude": 9.616780886426568, "isAtpActivity": false, "waterEstimated":
        937.0, "minRespirationRate": 17.43000030517578, "maxRespirationRate": 42.11000061035156,
        "avgRespirationRate": 33.189998626708984, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 62.34556579589844, "minActivityLapDuration": 41.89799880981445,
        "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "splitSummaries": [{"noOfSplits": 9, "totalAscent":
        36.0, "duration": 3370.363037109375, "splitType": "RWD_RUN", "maxElevationGain":
        17.0, "averageElevationGain": 12.0, "maxDistance": 6726, "maxDistanceWithPrecision":
        6726.89013671875, "distance": 10021.4599609375, "averageSpeed": 2.9730000495910645,
        "maxSpeed": 3.86299991607666, "elevationLoss": 29.0, "avgStepFrequency": 166.78125,
        "avgStepLength": 1.0750999755859376, "verticalRatio": 8.369999885559082, "verticalOscillation":
        8.990000152587891, "avgGroundContactTime": 269.0}, {"noOfSplits": 3, "duration":
        0.0, "splitType": "RWD_STAND"}, {"noOfSplits": 8, "totalAscent": 0.0, "duration":
        5.689000129699707, "splitType": "RWD_WALK", "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 7, "maxDistanceWithPrecision": 7.360000133514404, "distance":
        14.15999984741211, "averageSpeed": 2.489000082015991, "maxSpeed": 2.1740000247955322,
        "elevationLoss": 0.0, "avgStepFrequency": 107.65625, "verticalOscillation":
        5.690000152587891}, {"noOfSplits": 1, "totalAscent": 36.0, "duration": 3376.070068359375,
        "splitType": "INTERVAL_ACTIVE", "maxElevationGain": 36.0, "averageElevationGain":
        7.0, "maxDistance": 10035, "maxDistanceWithPrecision": 10035.6103515625, "distance":
        10035.6103515625, "averageSpeed": 2.9730000495910645, "maxSpeed": 3.86299991607666,
        "elevationLoss": 29.0, "avgStepFrequency": 166.578125, "avgStepLength": 1.0750999755859376,
        "verticalRatio": 8.369999885559082, "verticalOscillation": 8.990000152587891,
        "avgGroundContactTime": 269.0}], "hasSplits": true, "hasIntensityIntervals":
        false, "isManualActivity": false, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes":
        59, "avgGradeAdjustedSpeed": 2.990000009536743, "differenceBodyBattery": -18,
        "hasHeatMap": false, "fastestSplit_1000": 321.7850036621094, "fastestSplit_1609":
        525.2529907226562, "fastestSplit_5000": 1668.781005859375, "fastestSplit_10000":
        3800.0791015625, "hrTimeInZone_1": 148.155, "hrTimeInZone_2": 3071.737, "hrTimeInZone_3":
        129.998, "hrTimeInZone_4": 0.0, "hrTimeInZone_5": 0.0, "powerTimeInZone_1":
        2647.738, "powerTimeInZone_2": 600.998, "powerTimeInZone_3": 38.009, "powerTimeInZone_4":
        7.997, "powerTimeInZone_5": 0.0, "endTimeGMT": "2026-08-20 12:07:37", "qualifyingDive":
        false, "activityUUID": "fbde6aff-a3b0-413e-b9ca-375cbeac3d01", "purposeful":
        false, "favorite": false, "pr": false, "parent": false, "decoDive": false,
        "manualActivity": false, "autoCalcCalories": false, "elevationCorrected":
        false, "atpActivity": false}, {"activityId": 24018992823, "activityName":
        "Verdellino - 5x1000m", "startTimeLocal": "2026-08-18 07:56:52", "startTimeGMT":
        "2026-08-18 05:56:52", "activityType": {"typeId": 1, "typeKey": "running",
        "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable": true},
        "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite":
        false, "isPR": false, "isAutoCalcCalories": false, "isParent": false, "distance":
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23994657909
  response:
    body:
      string: '{"activityId": 23994657909, "activityUUID": {"uuid": "c1c0ee53-6818-4c40-8b6d-adde32e65a3a"},
        "activityName": "Verdellino Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1015377, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-16T08:11:31.0", "uploadedDate":
        "2026-08-16T08:11:31.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 11, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1015377}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "thirdPartyGymEquipment": [], "personalRecord": false, "runPowerWindDataEnabled":
        true, "manualActivity": false, "autoCalcCalories": false, "favorite": false,
        "elevationCorrected": false, "trimmed": false, "gcj02": false}, "summaryDTO":
        {"startTimeLocal": "2026-08-16T08:52:52.0", "startTimeGMT": "2026-08-16T06:52:52.0",
        "startLatitude": 45.60883663594723, "startLongitude": 9.61644234135747, "distance":
        10089.09, "duration": 3569.006, "movingDuration": 3566.497, "elapsedDuration":
        4164.029, "elevationGain": 35.0, "elevationLoss": 31.0, "maxElevation": 189.8,
        "minElevation": 172.2, "avgElevation": 180.62, "averageSpeed": 2.8269999027252193,
        "averageMovingSpeed": 2.828851364191661, "maxSpeed": 3.45199990272522, "calories":
        778.0, "bmrCalories": 88.0, "averageHR": 116.0, "maxHR": 125.0, "minHR": 70.0,
        "averageRunCadence": 165.875, "maxRunCadence": 173.0, "averageTemperature":
        33.33241719757049, "maxTemperature": 36.0, "minTemperature": 31.0, "averagePower":
        339.0, "maxPower": 453.0, "minPower": 0.0, "normalizedPower": 340.0, "totalWork":
        289.0201001427201, "groundContactTime": 274.8999938964844, "strideLength":
        102.5699951171875, "verticalOscillation": 8.86999969482422, "trainingEffect":
        2.9000000953674316, "anaerobicTrainingEffect": 0.0, "aerobicTrainingEffectMessage":
        "MAINTAINING_AEROBIC_BASE_7", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "verticalRatio": 8.649999618530273, "endLatitude": 45.60909127816558, "endLongitude":
        9.616666724905372, "maxVerticalSpeed": 0.4000091552734375, "waterEstimated":
        991.0, "minRespirationRate": 18.899999618530273, "maxRespirationRate": 41.16999816894531,
        "avgRespirationRate": 32.7599983215332, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 58.11241149902344, "minActivityLapDuration": 32.281,
        "directWorkoutFeel": 50, "directWorkoutRpe": 20, "moderateIntensityMinutes":
        0, "vigorousIntensityMinutes": 66, "steps": 9836, "beginPotentialStamina":
        100.0, "endPotentialStamina": 77.0, "minAvailableStamina": 77.0, "avgGradeAdjustedSpeed":
        2.8329999446868896, "differenceBodyBattery": -20}, "locationName": "Verdellino",
        "splitSummaries": [{"duration": 0.0, "totalExerciseReps": 0, "splitType":
        "RWD_STAND", "noOfSplits": 2}, {"distance": 10089.09, "duration": 3569.006,
        "movingDuration": 3567.0, "elevationGain": 35.0, "elevationLoss": 31.0, "averageSpeed":
        2.8269999027252193, "averageMovingSpeed": 2.8284524372722175, "maxSpeed":
        3.45199990272522, "calories": 778.0, "bmrCalories": 88.0, "averageHR": 116.0,
        "maxHR": 125.0, "averageRunCadence": 165.859375, "maxRunCadence": 173.0, "averageTemperature":
        33.0, "maxTemperature": 36.0, "minTemperature": 31.0, "averagePower": 339.0,
        "maxPower": 453.0, "normalizedPower": 340.0, "groundContactTime": 274.8999938964844,
        "strideLength": 102.5699951171875, "verticalOscillation": 8.86999969482422,
        "verticalRatio": 8.649999618530273, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0010000000474974513, "avgGradeAdjustedSpeed": 2.8329999446868896, "splitType":
        "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain": 35.0, "averageElevationGain":
        35.0, "maxDistance": 10089, "maxDistanceWithPrecision": 10089.09, "avgStepFrequency":
        165.859375, "avgStepLength": 1.025699951171875}, {"distance": 10082.5, "duration":
        3567.376, "movingDuration": 3565.0, "elevationGain": 35.0, "elevationLoss":
        31.0, "averageSpeed": 2.825999975204467[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23994657909/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23994657909, "measurementCount": 27, "metricsCount":
        3572, "totalMetricsCount": 3572, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAirTemperature", "unit": {"id": 227, "key": "celcius", "factor":
        1.0}}, {"metricsIndex": 1, "key": "directFractionalCadence", "unit": {"id":
        92, "key": "stepsPerMinute", "factor": 1.0}}, {"metricsIndex": 2, "key": "directVerticalRatio",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 4, "key": "directPotentialStamina", "unit":
        {"id": [...]
