interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "SUNDAY", "THURSDAY", "FRIDAY", "MONDAY", "TUESDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23819721623
  response:
    body:
      string: '{"activityId": 23819721623, "activityUUID": {"uuid": "ce273511-7c7e-4975-b7fd-d2bce99055fe"},
        "activityName": "Verdellino Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1012383, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-02T06:43:39.0", "uploadedDate":
        "2026-08-02T06:43:39.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "LOW"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 11, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1012383}, "hasIntensityIntervals": false, "hasSplits":
        true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "thirdPartyGymEquipment":
        [], "personalRecord": false, "gcj02": false, "runPowerWindDataEnabled": true,
        "manualActivity": false, "elevationCorrected": false, "trimmed": false, "autoCalcCalories":
        false, "favorite": false}, "summaryDTO": {"startTimeLocal": "2026-08-02T07:33:07.0",
        "startTimeGMT": "2026-08-02T05:33:07.0", "startLatitude": 45.60916361398995,
        "startLongitude": 9.616724057123065, "distance": 10035.87, "duration": 3312.627,
        "movingDuration": 3309.238, "elapsedDuration": 3705.971, "elevationGain":
        33.0, "elevationLoss": 32.0, "maxElevation": 189.6, "minElevation": 171.2,
        "avgElevation": 180.11, "averageSpeed": 3.0299999713897705, "averageMovingSpeed":
        3.0326830820861694, "maxSpeed": 3.7320001125335693, "calories": 777.0, "bmrCalories":
        81.0, "averageHR": 121.0, "maxHR": 144.0, "minHR": 71.0, "averageRunCadence":
        166.890625, "maxRunCadence": 172.0, "averageTemperature": 31.18973038875296,
        "maxTemperature": 33.0, "minTemperature": 30.0, "averagePower": 361.0, "maxPower":
        471.0, "minPower": 0.0, "normalizedPower": 364.0, "totalWork": 285.91748965398733,
        "groundContactTime": 267.8999938964844, "strideLength": 109.2, "verticalOscillation":
        9.05999984741211, "trainingEffect": 3.0, "anaerobicTrainingEffect": 0.0, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "verticalRatio": 8.3100004196167, "endLatitude": 45.609059343114495, "endLongitude":
        9.616646273061633, "maxVerticalSpeed": 0.4000091552734375, "waterEstimated":
        920.0, "minRespirationRate": 19.420000076293945, "maxRespirationRate": 45.209999084472656,
        "avgRespirationRate": 34.58000183105469, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 66.2415771484375, "minActivityLapDuration": 11.957,
        "directWorkoutFeel": 50, "directWorkoutRpe": 20, "moderateIntensityMinutes":
        1, "vigorousIntensityMinutes": 57, "steps": 9182, "beginPotentialStamina":
        100.0, "endPotentialStamina": 76.0, "minAvailableStamina": 76.0, "avgGradeAdjustedSpeed":
        3.0369999408721924, "differenceBodyBattery": -16}, "locationName": "Verdellino",
        "splitSummaries": [{"distance": 11.71, "duration": 5.967, "movingDuration":
        3.0, "elevationGain": 0.0, "elevationLoss": 0.0, "averageSpeed": 1.9620000123977661,
        "averageMovingSpeed": 3.9033333460489907, "maxSpeed": 2.052999973297119, "calories":
        1.0, "bmrCalories": 0.0, "averageHR": 110.0, "maxHR": 112.0, "averageRunCadence":
        95.0, "maxRunCadence": 114.0, "averageTemperature": 31.0, "maxTemperature":
        31.0, "minTemperature": 31.0, "averagePower": 97.0, "maxPower": 184.0, "normalizedPower":
        183.0, "strideLength": 96.87000122070313, "verticalOscillation": 5.979999923706055,
        "verticalRatio": 6.489999771118164, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0, "avgGradeAdjustedSpeed": 1.2560000419616697, "splitType": "RWD_WALK",
        "noOfSplits": 8, "maxElevationGain": 0.0, "averageElevationGain": 0.0, "maxDistance":
        11, "maxDistanceWithPrecision": 11.71, "avgStepFrequency": 95.0, "avgStepLength":
        0.9687000122070313}, {"distance": 10035.88, "duration": 3312.627, "movingDuration":
        3311.0, "elevationGain": 33.0, "elevationLoss": 32.0, "averageSpeed": 3.0299999713897705,
        "averageMovingSpeed": 3.0310721482369374, "maxSpeed": 3.7320001125335693,
        "calories": 777.0, "bmrCalories": 81.0, "averageHR": 121.0, "maxHR": 144.0,
        "averageRunCadence": 166.875, "maxRunCadence": 172.0, "averageTemperature":
        31.0, "maxTemperature": 33.0, "minTemperature": 30.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23819721623/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23819721623, "measurementCount": 27, "metricsCount":
        3315, "totalMetricsCount": 3315, "metricDescriptors": [{"metricsIndex": 0,
        "key": "sumElapsedDuration", "unit": {"id": 40, "key": "second", "factor":
        1000.0}}, {"metricsIndex": 1, "key": "directTimestamp", "unit": {"id": 120,
        "key": "gmt", "factor": 0.0}}, {"metricsIndex": 2, "key": "directAirTemperature",
        "unit": {"id": 227, "key": "celcius", "factor": 1.0}}, {"metricsIndex": 3,
        "key": "directFractionalCadence", "unit": {"id": 92, "key": "stepsPerMinute",
        "factor": 1.0}}, {"metricsIndex": 4, "key": "directPower", "unit": {"id":
        10, "key": "watt", "factor":[...]
