interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 58.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40277665000000007, "lactateThresholdHeartRate":
        155, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1154761629, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "WEDNESDAY", "SATURDAY", "SUNDAY", "MONDAY", "THURSDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23309590263
  response:
    body:
      string: '{"activityId": 23309590263, "activityUUID": {"uuid": "ad557d3d-3f5d-4e0e-8d05-d2d7e3d25ceb"},
        "activityName": "Zanica Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1012383, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-06-19T19:27:46.0", "uploadedDate":
        "2026-06-19T19:27:46.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 7, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1012383}, "hasIntensityIntervals": false, "hasSplits":
        true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "manualActivity": false, "autoCalcCalories":
        false, "favorite": false, "elevationCorrected": false, "personalRecord": false,
        "runPowerWindDataEnabled": true, "trimmed": false, "gcj02": false}, "summaryDTO":
        {"startTimeLocal": "2026-06-19T20:30:09.0", "startTimeGMT": "2026-06-19T18:30:09.0",
        "startLatitude": 45.639479449018836, "startLongitude": 9.688870450481772,
        "distance": 6846.42, "duration": 1649.615, "movingDuration": 1647.663, "elapsedDuration":
        1651.615, "elevationGain": 26.0, "elevationLoss": 27.0, "maxElevation": 214.6,
        "minElevation": 203.8, "avgElevation": 208.8, "averageSpeed": 4.150000095367432,
        "averageMovingSpeed": 4.155230739057437, "maxSpeed": 4.7769999504089355, "calories":
        512.0, "bmrCalories": 41.0, "averageHR": 152.0, "maxHR": 165.0, "minHR": 90.0,
        "averageRunCadence": 176.25, "maxRunCadence": 186.0, "averageTemperature":
        30.13657064681138, "maxTemperature": 33.0, "minTemperature": 29.0, "averagePower":
        493.0, "maxPower": 619.0, "minPower": 0.0, "normalizedPower": 496.0, "totalWork":
        194.27114906372765, "groundContactTime": 226.6999969482422, "strideLength":
        140.09000244140626, "verticalOscillation": 9.480000305175782, "trainingEffect":
        4.0, "anaerobicTrainingEffect": 0.20000000298023224, "aerobicTrainingEffectMessage":
        "HIGHLY_IMPROVING_VO2_MAX_16", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "verticalRatio": 6.769999980926514, "endLatitude": 45.639478946104646, "endLongitude":
        9.688940942287445, "maxVerticalSpeed": 0.4000091552734375, "waterEstimated":
        458.0, "minRespirationRate": 21.18000030517578, "maxRespirationRate": 49.18000030517578,
        "avgRespirationRate": 41.220001220703125, "trainingEffectLabel": "VO2MAX",
        "activityTrainingLoad": 153.07199096679688, "minActivityLapDuration": 197.46,
        "directWorkoutFeel": 75, "directWorkoutRpe": 80, "moderateIntensityMinutes":
        1, "vigorousIntensityMinutes": 25, "steps": 4858, "beginPotentialStamina":
        99.0, "endPotentialStamina": 69.0, "minAvailableStamina": 67.0, "avgGradeAdjustedSpeed":
        4.142000198364258, "differenceBodyBattery": -6}, "locationName": "Zanica",
        "splitSummaries": [{"distance": 6846.42, "duration": 1649.615, "movingDuration":
        1648.0, "elevationGain": 26.0, "elevationLoss": 27.0, "averageSpeed": 4.150000095367432,
        "averageMovingSpeed": 4.154381020555219, "maxSpeed": 4.7769999504089355, "calories":
        512.0, "bmrCalories": 41.0, "averageHR": 152.0, "maxHR": 165.0, "averageRunCadence":
        176.234375, "maxRunCadence": 186.0, "averageTemperature": 30.0, "maxTemperature":
        33.0, "minTemperature": 29.0, "averagePower": 493.0, "maxPower": 619.0, "normalizedPower":
        496.0, "groundContactTime": 226.6999969482422, "strideLength": 140.09000244140626,
        "verticalOscillation": 9.480000305175782, "verticalRatio": 6.769999980926514,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0, "avgGradeAdjustedSpeed":
        4.142000198364258, "splitType": "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain":
        26.0, "averageElevationGain": 26.0, "maxDistance": 6846, "maxDistanceWithPrecision":
        6846.42, "avgStepFrequency": 176.234375, "avgStepLength": 1.4009000244140626},
        {"distance": 6846.42, "duration": 1649.6, "movingDuration": 1648.0, "elevationGain":
        26.0, "elevationLoss": 27.0, "averageSpeed": 4.150000095367432, "averageMovingSpeed":
        4.154381020555219, "maxSpeed": 4.7769999504089355, "calories": 512.0, "bmrCalories":
        41.0, "averageHR": 152.0, "maxHR": 165.0, "averageRunCadence": 176.234375,
        "maxRunCadence": 186.0, "averageTemperature": 30.0, "maxTemperature": 33.0,
        "minTemperature": 29.0, "averagePower": 493.0, "maxPower": 619.0, "normalizedPower":
        496.0, "groundContactTime": 226.6999969482422, "strideLength": 140.09000244140626,
        "verticalOscillation": 9.480000305175782, "verticalRatio": 6.769999980926514,
        "totalExerciseReps": 0, "avgVerticalSpeed": 0.0, "avgGradeAdjustedSpeed":
        4.142000198364258, "splitType": "RWD_RUN", "noOfSplits": 1, "maxElevationGain":
        26.0, "averageElevationGain": 26.0, "maxDistance": 6846, "maxDistanceWithPrecision":
        6846.42, "avgStepFrequency": 176.234375, "avgStepLength": 1.4009000244140626}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23309590263/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23309590263, "measurementCount": 27, "metricsCount":
        1652, "totalMetricsCount": 1652, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}},
        {"metricsIndex": 1, "key": "directTimestamp", "unit": {"id": 120, "key": "gmt",
        "factor": 0.0}}, {"metricsIndex": 2, "key": "directLongitude", "unit": {"id":
        60, "key": "dd", "factor": 1.0}}, {"metricsIndex": 3, "key": "directDoubleCadence",
        "unit": {"id": 92, "key": "stepsPerMinute", "factor": 1.0}}, {"metricsIndex":
        4, "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": [...]
[...]
