interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "THURSDAY", "MONDAY", "FRIDAY", "TUESDAY", "SATURDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=1&activityType=running
  response:
    body:
      string: '[{"activityId": 24200451254, "activityName": "Verdellino Running",
        "startTimeLocal": "2026-09-01 18:48:57", "startTimeGMT": "2026-09-01 16:48:57",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        false, "isAutoCalcCalories": false, "isParent": false, "distance": 8011.830078125,
        "duration": 2634.160888671875, "elapsedDuration": 3363.10791015625, "movingDuration":
        2631.124969482422, "elevationGain": 27.0, "elevationLoss": 25.0, "averageSpeed":
        3.0420000553131104, "maxSpeed": 3.630000114440918, "startLatitude": 45.609146766364574,
        "startLongitude": 9.616741156205535, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 584.0, "bmrCalories": 65.0, "averageHR": 113.0, "maxHR": 125.0,
        "averageRunningCadenceInStepsPerMinute": 167.21875, "maxRunningCadenceInStepsPerMinute":
        177.0, "steps": 7326, "userRoles": ["SCOPE_ATP_READ", "SCOPE_COMMUNITY_COURSE_ADMIN_READ",
        "SCOPE_GCX_KID_WRITE", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_GCX_KID_ADMIN_READ", "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ",
        "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ", "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_GCX_PET_READ", "SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_GCX_PET_WRITE", "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_DIVE_API_WRITE",
        "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_GCX_PET_ADMIN_READ", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "SCOPE_GCX_KID_READ", "ROLE_CONNECTUSER",
        "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"],
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo":
        false, "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1788281337000,
        "sportTypeId": 1, "avgPower": 364.0, "maxPower": 472.0, "aerobicTrainingEffect":
        2.799999952316284, "anaerobicTrainingEffect": 0.5, "normPower": 365.0, "avgVerticalOscillation":
        9.040000152587892, "avgGroundContactTime": 266.8999938964844, "avgStrideLength":
        109.35999755859376, "avgVerticalRatio": 8.270000457763672, "workoutId": 1527972763,
        "deviceId": 3444001964, "minTemperature": 29.0, "maxTemperature": 32.0, "minElevation":
        171.60000610351562, "maxElevation": 190.0, "avgElevation": 180.13864848861752,
        "maxDoubleCadence": 177.0, "isElevationCorrected": false, "isDecoDive": false,
        "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.4000091552734375,
        "manufacturer": "GARMIN", "locationName": "Verdellino", "lapCount": 9, "endLatitude":
        45.60706042684615, "endLongitude": 9.613293260335922, "isAtpActivity": false,
        "waterEstimated": 731.0, "minRespirationRate": 16.829999923706055, "maxRespirationRate":
        43.25, "avgRespirationRate": 33.189998626708984, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 59.41291809082031, "minActivityLapDuration": 4.638999938964844,
        "aerobicTrainingEffectMessage": "MAINTAINING_AEROBIC_BASE_7", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "splitSummaries": [{"noOfSplits": 6, "duration":
        0.0, "splitType": "RWD_STAND"}, {"noOfSplits": 15, "totalAscent": 0.0, "duration":
        10.932999610900879, "splitType": "RWD_WALK", "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 8, "maxDistanceWithPrecision": 8.0, "distance": 22.139999389648438,
        "averageSpeed": 2.0250000953674316, "maxSpeed": 2.1740000247955322, "elevationLoss":
        0.0, "avgStepFrequency": 72.5, "avgStepLength": 0.7707999877929689, "verticalRatio":
        7.869999885559082, "verticalOscillation": 5.890000152587891}, {"noOfSplits":
        1, "totalAscent": 27.0, "duration": 2634.160888671875, "splitType": "INTERVAL_WARMUP",
        "maxElevationGain": 27.0, "averageElevationGain": 27.0, "maxDistance": 8011,
        "maxDistanceWithPrecision": 8011.830078125, "distance": 8011.830078125, "averageSpeed":
        3.0420000553131104, "maxSpeed": 3.630000114440918, "elevationLoss": 25.0,
        "avgStepFrequency": 167.203125, "avgStepLength": 1.0935999755859376, "verticalRatio":
        8.270000457763672, "verticalOscillation": 9.040000152587892, "avgGroundContactTime":
        266.8999938964844}, {"noOfSplits": 14, "totalAscent": 27.0, "duration": 2623.208984375,
        "splitType": "RWD_RUN", "maxElevationGain": 11.0, "averageElevationGain":
        7.0, "maxDistance": 4419, "maxDistanceWithPrecision": 4419.47021484375, "distance":
        7989.68017578125, "averageSpeed": 3.0460000038146973, "maxSpeed": 3.630000114440918,
        "elevationLoss": 25.0, "avgStepFrequency": 167.625, "avgStepLength": 1.0940999755859375,
        "verticalRatio": 8.270000457763672, "verticalOscillation": 9.040000152587892,
        "avgGroundContactTime": 266.8999938964844}], "hasSplits": true, "hasIntensityIntervals":
        false, "isManualActivity": false, "moderateIntensityMinutes": 2, "vigorousIntensityMinutes":
        52, "avgGradeAdjustedSpeed": 3.0480000972747803, "differenceBodyBattery":
        -12, "hasHeatMap": false, "fastestSplit_1000": 312.2959899902344, "fastestSplit_1609":
        505.76300048828125, "fastestSplit_5000": 1930.06103515625, "hrTimeInZone_1":
        77.114, "hrTimeInZone_2": 2423.57, "hrTimeInZone_3": 85.015, "hrTimeInZone_4":
        0.0, "hrTimeInZone_5": 0.0, "powerTimeInZone_1": 1521.507, "powerTimeInZone_2":
        1018.941, "powerTimeInZone_3": 56.009, "powerTimeInZone_4": 11.998, "powerTimeInZone_5":
        0.0, "endTimeGMT": "2026-09-01 17:45:00", "qualifyingDive": false, "activityUUID":
        "d9a077cf-38a0-411c-a99a-8fe67ad402e6", "elevationCorrected": false, "favorite":
        false, "purposeful": false, "autoCalcCalories": false, "atpActivity": false,
        "decoDive": false, "manualActivity": false, "pr": false, "parent": false}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
