interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "WEDNESDAY", "FRIDAY", "SUNDAY", "THURSDAY", "MONDAY", "TUESDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=106
  response:
    body:
      string: '[{"activityId": 24214377309, "activityName": "Strength", "startTimeLocal":
        "2026-09-02 19:04:44", "startTimeGMT": "2026-09-02 17:04:44", "activityType":
        {"typeId": 13, "typeKey": "strength_training", "parentTypeId": 29, "isHidden":
        false, "restricted": false, "trimmable": false}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        false, "isAutoCalcCalories": false, "isParent": false, "distance": 0.0, "duration":
        5263.921875, "elapsedDuration": 5263.921875, "movingDuration": 560.7880249023438,
        "averageSpeed": 0.0, "hasPolyline": false, "hasImages": false, "ownerId":
        113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "ownerFullName":
        "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 217.0, "bmrCalories": 129.0, "averageHR": 63.0, "maxHR": 101.0,
        "steps": 150, "userRoles": ["SCOPE_ATP_READ", "SCOPE_COMMUNITY_COURSE_ADMIN_READ",
        "SCOPE_GCX_KID_WRITE", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_GCX_KID_ADMIN_READ", "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ",
        "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ", "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_GCX_PET_READ", "SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_GCX_PET_WRITE", "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_DIVE_API_WRITE",
        "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_GCX_PET_ADMIN_READ", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "SCOPE_GCX_KID_READ", "ROLE_CONNECTUSER",
        "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"],
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo":
        false, "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1788368684000,
        "sportTypeId": 4, "aerobicTrainingEffect": 0.10000000149011612, "anaerobicTrainingEffect":
        0.0, "deviceId": 3444001964, "minTemperature": 31.0, "maxTemperature": 33.0,
        "isElevationCorrected": false, "summarizedExerciseSets": [{"category": "PULL_UP",
        "reps": 23, "volume": 0, "duration": 194896.99935913086, "sets": 4, "maxWeight":
        0}, {"category": "FLYE", "subCategory": "CABLE_CROSSOVER", "reps": 21, "volume":
        0, "duration": 149740.0016784668, "sets": 2, "maxWeight": 0}, {"category":
        "UNKNOWN", "reps": 23, "volume": 0, "duration": 149333.99766683578, "sets":
        8, "maxWeight": 0}, {"category": "OLYMPIC_LIFT", "subCategory": "SNATCH",
        "reps": 8, "volume": 0, "duration": 66816.9994354248, "sets": 2, "maxWeight":
        0}], "isDecoDive": false, "summarizedDiveInfo": {"summarizedDiveGases": []},
        "manufacturer": "GARMIN", "lapCount": 1, "isAtpActivity": false, "waterEstimated":
        667.0, "totalSets": 16, "activeSets": 16, "totalReps": 75, "trainingEffectLabel":
        "UNKNOWN", "activityTrainingLoad": 1.4239044189453125, "minActivityLapDuration":
        5263.921875, "aerobicTrainingEffectMessage": "NO_AEROBIC_BENEFIT_18", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "splitSummaries": [], "hasSplits": false, "hasIntensityIntervals":
        false, "isManualActivity": false, "moderateIntensityMinutes": 5, "vigorousIntensityMinutes":
        0, "differenceBodyBattery": -4, "hasHeatMap": false, "hrTimeInZone_1": 191.295,
        "hrTimeInZone_2": 0.0, "hrTimeInZone_3": 0.0, "hrTimeInZone_4": 0.0, "hrTimeInZone_5":
        0.0, "endTimeGMT": "2026-09-02 18:32:27", "qualifyingDive": false, "activityUUID":
        "00c737db-75df-4541-91fa-dda042f66c54", "favorite": false, "purposeful": false,
        "pr": false, "parent": false, "decoDive": false, "manualActivity": false,
        "autoCalcCalories": false, "elevationCorrected": false, "atpActivity": false},
        {"activityId": 24200451254, "activityName": "Verdellino Running", "startTimeLocal":
        "2026-09-01 18:48:57", "startTimeGMT": "2026-09-01 16:48:57", "activityType":
        {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden": false,
        "restricted": false, "trimmable": true}, "eventType": {"typeId": 9, "typeKey":
        "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR": false, "isAutoCalcCalories":
        false, "isParent": false, "distance": 8011.830078125, "duration": 2634.160888671875,
        "elapsedDuration": 3363.10791015625, "movingDuration": 2631.124969482422,
        "elevationGain": 27.0, "elevationLoss": 25.0, "averageSpeed": 3.0420000553131104,
        "maxSpeed": 3.630000114440918, "startLatitude": 45.609146766364574, "startLongitude":
        9.616741156205535, "hasPolyline": true, "hasImages": false, "ownerId": 113739130,
        "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "ownerFullName":
        "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 584.0, "bmrCalories": 65.0, "averageHR": 113.0, "maxHR": 125.0,
        "averageRunningCadenceInStepsPerMinute": 167.21875, "maxRunningCadenceInStepsPerMinute":
        177.0, "steps": 7326, "userRoles": ["SCOPE_ATP_READ", "SCOPE_COMMUNITY_COURSE_ADMIN_READ",
        "SCOPE_GCX_KID_WRITE", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_GCX_KID_ADMIN_READ", "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ",
        "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ", "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_GCX_PET_READ", "SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_GCX_PET_WRITE", "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_DIVE_API_WRITE",
        "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_GCX_PET_ADMIN_READ", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "SCOPE_GCX_KID_READ", "ROLE_CONNECTUSER",
        "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"],
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo":
        false, "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1788281337000,
        "sportTypeId": 1, "avgPower": 364.0, "maxPower": 472.0, "aerobicTrainingEffect":
        2.799999952316284, "anaerobicTrainingEffect": 0.5, "normPower": 365.0, "avgVerticalOscillation":
        9.040000152587892, "avgGroundContactTime": 266.8999938964844, "avgStrideLength":
        109.35999755859376, "avgVerticalRatio": 8.270000457763672, "workoutId": 1527972763,
        "deviceId": 3444001964, "minTemperature": 29.0, "maxTemperature": 32.0, "minElevation":
        171.60000610351562, "maxElevation": 190.0, "avgElevation": 180.13864848861752,
        "maxDoubleCadence": 177.0, "isElevationCorrected": false, "isDecoDive": false,
        "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.4000091552734375,
        "manufacturer": "GARMIN", "locationName": "Verdellino", "lapCount": 9, "endLatitude":
        45.60706042684615, "endLongitude": 9.613293260335922, "isAtpActivity": false,
        "waterEstimated": 731.0, "minRespirationRate": 16.829999923706055, "maxRespirationRate":
        43.25, "avgRespirationRate": 33.189998626708984, "trainingEffectLabel": "AEROBIC_BASE",
        "activityTrainingLoad": 59.41291809082031, "minActivityLapDuration": 4.638999938964844,
        "aerobicTrainingEffectMessage": "MAINTAINING_AEROBIC_BASE_7", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "splitSummaries": [{"noOfSplits": 6, "duration":
        0.0, "splitType": "RWD_STAND"}, {"noOfSplits": 15, "totalAscent": 0.0, "duration":
        10.932999610900879, "splitType": "RWD_WALK", "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 8, "maxDistanceWithPrecision": 8.0, "distance": 22.139999389648438,
        "averageSpeed": 2.0250000953674316, "maxSpeed": 2.1740000247955322, "elevationLoss":
        0.0, "avgStepFrequency": 72.5, "avgStepLength": 0.7707999877929689, "verticalRatio":
        7.869999885559082, "verticalOscillation": 5.890000152587891}, {"noOfSplits":
        1, "totalAscent": 27.0, "duration": 2634.160888671875, "splitType": "INTERVAL_WARMUP",
        "maxElevationGain": 27.0, "averageElevationGain": 27.0, "maxDistance": 8011,
        "maxDistanceWithPrecision": 8011.830078125, "distance": 8011.830078125, "averageSpeed":
        3.0420000553131104, "maxSpeed": 3.630000114440918, "elevationLoss": 25.0,
        "avgStepFrequency": 167.203125, "avgStepLength": 1.0935999755859376, "verticalRatio":
        8.270000457763672, "verticalOscillation": 9.040000152587892, "avgGroundContactTime":
        266.8999938964844}, {"noOfSplits": 14, "totalAscent": 27.0, "duration": 2623.208984375,
        "splitType": "RWD_RUN", "maxElevationGain": 11.0, "averageElevationGain":
        7.0, "maxDistance": 4419, "maxDistanceWithPrecision": 4419.47021484375, "distance":
        7989.68017578125, "averageSpeed": 3.0460000038146973, "maxSpeed": 3.630000114440918,
        "elevationLoss": 25.0, "avgStepFrequency": 167.625, "avgStepLength": 1.0940999755859375,
        "verticalRatio": 8.270000457763672, "verticalOscillation": 9.040000152587892,
        "avgGroundContactTime": 266.8999938964844}], "hasSplits": true, "hasIntensityIntervals":
        false, "isManualActivity": false, "moderateIntensityMinutes": 2, "vigorousIntensityMinutes":
        52, "avgGradeAdjustedSpeed": 3.0480000972747803, "differenceBodyBattery":
        -12, "hasHeatMap": false, "fastestSplit_1000": 312.2959899902344, "fastestSplit_1609":
        505.76300048828125, "fastestSplit_5000": 1930.06103515625, "hrTimeInZone_1":
        77.114, "hrTimeInZone_2": 2423.57, "hrTimeInZone_3": 85.015, "hrTimeInZone_4":
        0.0, "hrTimeInZone_5": 0.0, "powerTimeInZone_1": 1521.507, "powerTimeInZone_2":
        1018.941, "powerTimeInZone_3": 56.009, "powerTimeInZone_4": 11.998, "powerTimeInZone_5":
        0.0, "endTimeGMT": "2026-09-01 17:45:00", "qualifyingDive": false, "activityUUID":
        "d9a077cf-38a0-411c-a99a-8fe67ad402e6", "favorite": false, "purposeful": false,
        "pr": false, "parent": false, "decoDive": false, "manualActivity": false,
        "autoCalcCalories": false, "elevationCorrected": false, "atpActivity": false},
        {"activityId": 24170068639, "activityName": "Valdidentro Running", "startTimeLocal":
        "2026-08-30 10:11:28", "startTimeGMT": "2026-08-30[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22796304255
  response:
    body:
      string: '{"activityId": 22796304255, "activityUUID": {"uuid": "facb83e9-d246-48bd-a699-c3ca18fc10a1"},
        "activityName": "Verdellino - 10x100m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1004830, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-05-07T12:35:04.0", "uploadedDate":
        "2026-05-07T12:35:03.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 31, "associatedWorkoutId": 1527972763, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1004830}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "personalRecord": false, "trimmed": false,
        "elevationCorrected": false, "manualActivity": false, "autoCalcCalories":
        false, "favorite": false, "runPowerWindDataEnabled": true, "gcj02": false},
        "summaryDTO": {"startTimeLocal": "2026-05-07T13:13:33.0", "startTimeGMT":
        "2026-05-07T11:13:33.0", "startLatitude": 45.60913637280464, "startLongitude":
        9.616728583350778, "distance": 10025.81, "duration": 3446.877, "movingDuration":
        3217.439, "elapsedDuration": 4529.974, "elevationGain": 42.0, "elevationLoss":
        31.0, "maxElevation": 191.2, "minElevation": 171.6, "avgElevation": 181.63,
        "averageSpeed": 2.9089999198913574, "averageMovingSpeed": 3.1160838076210133,
        "maxSpeed": 8.4350004196167, "calories": 797.0, "bmrCalories": 85.0, "averageHR":
        124.0, "maxHR": 159.0, "minHR": 68.0, "averageRunCadence": 148.828125, "maxRunCadence":
        250.0, "averageTemperature": 29.45637863586344, "maxTemperature": 32.0, "minTemperature":
        26.0, "averagePower": 340.0, "maxPower": 1121.0, "minPower": 0.0, "normalizedPower":
        385.0, "totalWork": 279.95093102180897, "groundContactTime": 255.0, "strideLength":
        116.10999755859376, "verticalOscillation": 8.76999969482422, "trainingEffect":
        3.200000047683716, "anaerobicTrainingEffect": 2.299999952316284, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage": "MAINTAINING_FAST_FORCE_PRODUCTION_6",
        "verticalRatio": 7.789999961853027, "endLatitude": 45.60846355743706, "endLongitude":
        9.615980749949813, "maxVerticalSpeed": 1.399993896484375, "waterEstimated":
        957.0, "minRespirationRate": 20.469999313354492, "maxRespirationRate": 48.220001220703125,
        "avgRespirationRate": 37.06999969482422, "trainingEffectLabel": "SPEED", "activityTrainingLoad":
        126.26382446289062, "minActivityLapDuration": 0.778, "directWorkoutFeel":
        75, "directWorkoutRpe": 70, "directWorkoutComplianceScore": 42, "moderateIntensityMinutes":
        7, "vigorousIntensityMinutes": 61, "steps": 8628, "beginPotentialStamina":
        100.0, "endPotentialStamina": 74.0, "minAvailableStamina": 64.0, "avgGradeAdjustedSpeed":
        2.933000087738037, "differenceBodyBattery": -16}, "locationName": "Verdellino",
        "splitSummaries": [{"distance": 9494.57, "duration": 2848.195, "movingDuration":
        2832.311, "elevationGain": 42.0, "elevationLoss": 31.0, "averageSpeed": 3.3340001106262207,
        "averageMovingSpeed": 3.3603811601635813, "maxSpeed": 8.4350004196167, "calories":
        722.0, "bmrCalories": 70.0, "averageHR": 128.0, "maxHR": 159.0, "averageRunCadence":
        168.5625, "maxRunCadence": 250.0, "averageTemperature": 29.0, "maxTemperature":
        32.0, "minTemperature": 26.0, "averagePower": 401.0, "maxPower": 1121.0, "normalizedPower":
        402.0, "groundContactTime": 255.0, "strideLength": 118.14000244140625, "verticalOscillation":
        9.09000015258789, "verticalRatio": 7.78000020980835, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.004000000189989805, "avgGradeAdjustedSpeed": 3.3929998874664307,
        "splitType": "RWD_RUN", "noOfSplits": 20, "maxElevationGain": 15.0, "averageElevationGain":
        6.0, "maxDistance": 5454, "maxDistanceWithPrecision": 5454.9, "avgStepFrequency":
        168.5625, "avgStepLength": 1.1814000244140626}, {"distance": 3601.61, "duration":
        1110.819, "movingDuration": 1104.0, "elevationGain": 26.0, "elevationLoss":
        5.0, "averageSpeed": 3.242000102996826, "averageMovingSpeed"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1778152714&after=1778152112&per_page=1
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Slow run + 4x100m", "distance": 10025.0, "moving_time":
        3446, "elapsed_time": 4529, "total_elevation_gain": 42.0, "type": "Run", "sport_type":
        "Run", "workout_type": null, "device_name": "Garmin Forerunner 965", "id":
        18411723846, "id_str": "18411723846", "start_date": "2026-05-07T11:13:33Z",
        "start_date_local": "2026-05-07T13:13:33Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 2, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a18411723846", "summary_polyline": "wqkuGmduy@gBH_ANiAFw@?w@GeC@Q@YAiB@SC]D}@@}@EyDAWEgFgCw@W}@a@aAOkAG}AQWEQIOYKa@QoBMm@_@y@GY@[EMGGSMc@a@i@o@IUAk@BaDB_@A[Ds@N_AjAwCNg@Ba@C_@?cBFKJGpBw@UNeBt@KNCX@hAAn@IXg@pAM^S`@SjAKjE?|ACPGLQNM@c@?y@C]?YAu@B]FIFa@l@OLID[BK?MCIMAOByBKICWEkB@s@CsBGcCBYGo@OsFDcB?uABWAo@W{C@o@?aA@YAgAD_AESEGW@u@PU?CCu@_DCCC?g@`@I?IOk@iBAOBCH?`AV\\N?Ck@Qa@K]SCIOSDOFG?KMKs@YCE?MLi@Bc@^o@bEG^JhDjAF@CG[CMGIAe@SKCSIG?MIUGQIUEMKAC@DTPzDlAXLABAIIIUG}Ag@qA[d@LnAd@~@VZNA@ACA@@OBHLJ\\NFH@JBSCFyDyAiBc@EIDKDA?@?ABBA@CC?BVJTDxBn@LN^Nh@LRJJ?FMBu@PmA?_@DUTaAFKDAD?\\HLCd@_@JCPAjCh@v@FTH^HHDNVLL^HFL@LBjCAr@Ej@a@xBIl@GFIBG\\OzDD\\HJP@dEvAj@NRJn@TdBt@jDhAt@Zl@Ln@?^Dp@PFLHDf@Cp@Kb@ArBSV?hAIl@ATE`@AjD[`@@j@EZ?TCrCy@HBFZL~AF`@HhAH\\@`@HRJ@lASpAOxAIl@MXANERABBHTF|@D`D?PCFI@OG[Ji@Ga@KYMcB{@OCU?Q@_@Pg@h@Ub@KVGZMtAELWJ@FJNCFKBBV?l@GN@F[~AKp@E`B?^Fl@DLRZXTJBNBVANGnBsA`CoBrBmBPAt@PBDDTCdBBx@?bDJrFJrCXfCBLCLE@c@?a@@w@P{ARyBFmBXo@PoCNyBVm@B{@?]EuAAcB@kAAMAq@@a@Bk@AW@{BCaB?WAQGmAo@JBZLZRXDxADb@Cd@@p@Dh@@~@CTCV@r@C`ABx@El@Ap@Fb@?t@DxBGhAKr@MvAEj@Iv@S",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "g30360652", "start_latlng": [45.609136, 9.616729], "end_latlng": [45.608466,
        9.615983], "average_speed": 2.909, "max_speed": 8.66, "average_cadence": 82.8,
        "average_temp": 29, "average_watts": 374.4, "max_watts": 1121, "weighted_average_watts":
        367, "device_watts": true, "kilojoules": 1173.4, "has_heartrate": true, "average_heartrate":
        126.2, "max_heartrate": 159.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 191.2, "elev_low": 171.6, "upload_id": 19516327560, "upload_id_str":
        "19516327560", "external_id": "garmin_ping_568244547575", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 1, "has_kudoed": false, "suffer_score":
        32.0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"1634a21c64c94c07fad9af45a4951449"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 2,9
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 2,9
    status:
      code: 200
      message: OK
version: 1
