interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "TUESDAY", "SUNDAY", "MONDAY", "WEDNESDAY", "THURSDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18689027868
  response:
    body:
      string: '{"activityId": 18689027868, "activityUUID": {"uuid": "c452ba30-c095-4cd8-9a97-a9366b088295"},
        "activityName": "Bergamo Mountain Biking", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 5, "typeKey": "mountain_biking", "parentTypeId":
        2, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 2, "typeKey": "private"}, "timeZoneUnitDTO": {"unitId": 124, "unitKey":
        "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 991290, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-03-31T13:02:40.0", "uploadedDate":
        "2025-03-31T13:02:39.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": false, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": null,
        "activityImages": [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount":
        13, "associatedWorkoutId": null, "isAtpActivity": null, "deviceMetaDataDTO":
        {"deviceId": "3444001964", "deviceTypePk": 37086, "deviceVersionPk": 991290},
        "hasIntensityIntervals": false, "hasSplits": false, "eBikeMaxAssistModes":
        null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList":
        null, "hasRunPowerWindData": null, "calendarEventInfo": null, "groupRideUUID":
        null, "hasHeatMap": false, "hasMultiDayActivities": false, "personalRecord":
        false, "gcj02": false, "elevationCorrected": false, "autoCalcCalories": false,
        "favorite": false, "manualActivity": false, "trimmed": false, "runPowerWindDataEnabled":
        null}, "summaryDTO": {"startTimeLocal": "2025-03-31T09:29:56.0", "startTimeGMT":
        "2025-03-31T07:29:56.0", "startLatitude": 45.72029381990433, "startLongitude":
        9.684466095641255, "distance": 60436.88, "duration": 14023.06, "movingDuration":
        13871.828, "elapsedDuration": 19900.066, "elevationGain": 1405.0, "elevationLoss":
        1399.0, "maxElevation": 1104.6, "minElevation": 254.2, "averageSpeed": 4.309999942779541,
        "averageMovingSpeed": 4.356807093309369, "maxSpeed": 15.6850004196167, "calories":
        1972.0, "bmrCalories": 338.0, "averageHR": 96.0, "maxHR": 147.0, "minHR":
        46.0, "averageTemperature": 24.376506693351562, "maxTemperature": 31.0, "minTemperature":
        21.0, "trainingEffect": 3.4000000953674316, "anaerobicTrainingEffect": 2.9000000953674316,
        "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage":
        "MAINTAINING_ANAEROBIC_BASE_1", "endLatitude": 45.72030019015074, "endLongitude":
        9.684445895254612, "maxVerticalSpeed": 1.7999877929687502, "grit": 145.0265655517578,
        "waterEstimated": 2364.0, "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad":
        195.61366271972656, "avgFlow": 3.0469846725463867, "minActivityLapDuration":
        84.441, "directWorkoutFeel": 75, "directWorkoutRpe": 80, "moderateIntensityMinutes":
        53, "vigorousIntensityMinutes": 123, "beginPotentialStamina": 100.0, "endPotentialStamina":
        26.0, "minAvailableStamina": 13.0, "differenceBodyBattery": -38}, "locationName":
        "Bergamo"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1743406497&after=1743405895&per_page=1
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Monterosso - Ranica - Nembro - Selvino - Salmezza
        - Miragolo San Salvatore - Zogno - Stabello - Alm\u00e8 - Madonna della Castagna
        - Castagneta - Citt\u00e0 Alta - Porta San Lorenzo", "distance": 60436.9,
        "moving_time": 14034, "elapsed_time": 19900, "total_elevation_gain": 1405.0,
        "type": "Ride", "sport_type": "MountainBikeRide", "workout_type": 10, "device_name":
        "Garmin Forerunner 965", "id": 14038286532, "id_str": "14038286532", "start_date":
        "2025-03-31T07:29:56Z", "start_date_local": "2025-03-31T09:29:56Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 34, "kudos_count": 2,
        "comment_count": 0, "athlete_count": 2, "photo_count": 0, "map": {"id": "a14038286532",
        "summary_polyline": "oe`vG_mbz@xAnBfGa@xJwLZoGyAcH]qQfEQu@iQ~Dq@XaClDwBWcDmF{RyJvHkBiSwC_G}SZ_HpBeCkIh@yBgCmB}JoRsKc[gEcIwOoJ_DuRsDkEcAmI{BmFhBuE_K_EcCyQwFoUmDqHJeTsOotA}I_q@mCsIsB`@bB_AeCcPqIfFmFj@gCgBkCjD}D}AmDrAL`AfBu@tIjIBfEyCtAeHwBmDQoKwGyQvFyEjKuEzA}HpMxBw@wGlLlAaAu@~BiHhCzBu@eDlC{EhMuIpNwFp@mBhFeBPeCc[i@d^_AuKVkN}A|\\y@eNp@iK_ClNgChEjBhHkDgGQiAdCuDXqJsAfJwEfD`@rEfBtGoFoMrC{FgChAyAfFfDnMuGjNvAqI|AwB_C{E|@pDyA|A}BvIdAcEi@wEuOlBkBdCuElEqErCiBgATuG_AmKeHsA}AyGj@rDc@p@oKcD]~J~@lGwAxGbAYiAlI`@xDeClBz@pF}@pDqIjJNbB_CzH`AjKqAeAyBaKqDG}DlAKzEwFbIrCSf@dB}@w@uF~BeFcCsO|FAsCq@lFsJlEeNsNwC}MiHo@uJsKgEMkQ{KgGoAuYjDtHzY|DxEp@lIyCjQtBpG}DxJi@xGp@kIuB|CyC`A]rFvOfDvHpH`MnF`AtBxEwAnI`MiAtN@`IlHjAqEzIXjLnDlEClAsFkBkFv@vEHpF~I`BfI{GiErDxIX|IbDjBiGZm@wFq@JiA~[kBhQ~AvZdCnQd@q@_@oIhAgDhEsDtFeAuIdJvClGbA`JkAdB{KxAkHwBaGxI~F_BbDjBfBbFnG}CvAnClK}DkBjAKjApEt@rHeB^pAyKjPf@pP}DKcEdDhFlDlHo@dDqBRcFDdFmC`FrFoE~TxCbA~BPnKv@s@rClGh@}BiAqAtBTu@lGlAaBjAzEfBZqBdH|A|TbDvG`@xEpG~Ig@hGt@h@MdJ|GdIzAQRvDbBxCmAhDXdA{B`CsDj_@B~MaCdQIfIvD~\\o@dN`LxM^fE`EjJvKle@nCh[nCdExNnCjIeMnJIvIxGbIpOrO}AlCx@fYna@fB^|DeBnHyRtZ{IrLrHzEQvAdFfAb@lWuExDXpAwA`J~@bI~Gh[sHj@kJdJDNrEfj@kMdg@w`@_CaS`PeKbDaFpNgp@tDq@pA{CYsKtDcDC_InL}FxAhAaD_UvLwLuFqTxFuIo@iBJsFdCqEJ_F~AgCiBh@bFuLQyEsGzLfAyDz@gJGeKvG}AlD|ElBMtCiQo@gKbAcGwBZqAjFsFsRmQr@mNgCqErB{BsD_@sDmFqAgOgKfC{JpDgGh@eH`BiBw@_K}KaCn@yMvAiDkDmB",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "b12393437", "start_latlng": [45.720294, 9.684466], "end_latlng": [45.7203,
        9.684446], "average_speed": 4.306, "max_speed": 15.48, "average_temp": 24,
        "average_watts": 167.2, "device_watts": false, "kilojoules": 2345.9, "has_heartrate":
        true, "average_heartrate": 95.8, "max_heartrate": 146.0, "heartrate_opt_out":
        false, "display_hide_heartrate_option": true, "elev_high": 1104.6, "elev_low":
        254.2, "upload_id": 14985409566, "upload_id_str": "14985409566", "external_id":
        "garmin_ping_424538632577", "from_accepted_tag": false, "pr_count": 12, "total_photo_count":
        2, "has_kudoed": false, "suffer_score": 38.0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"c2ae627066266a0eba53494ce1a4de4c"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 4,4
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 4,4
    status:
      code: 200
      message: OK
[...]
