interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/13983015686/streams?keys=time,distance,altitude,heartrate,moving
  response:
    body:
      string: '[{"type": "time", "data": [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15,
        18, 21, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 42, 46, 47,
        48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 66, 67, 68, 69, 70,
        74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 93, 94, 95, 97, 98, 99,
        100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
        115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
        130, 131, 132, 133, 134, 136,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 102, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 51.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3888878, "lactateThresholdHeartRate": 161,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1115481040, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "SUNDAY", "MONDAY", "SATURDAY", "FRIDAY", "WEDNESDAY", "THURSDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18633237715/details?maxChartSize=100000&maxPolylineSize=0
  response:
    body:
      string: '{"activityId": 18633237715, "measurementCount": 13, "metricsCount":
        11248, "totalMetricsCount": 11248, "metricDescriptors": [{"metricsIndex":
        0, "key": "directLongitude", "unit": {"id": 60, "key": "dd", "factor": 1.0}},
        {"metricsIndex": 1, "key": "sumMovingDuration", "unit": {"id": 40, "key":
        "second", "factor": 1000.0}}, {"metricsIndex": 2, "key": "directSpeed", "unit":
        {"id": 20, "key": "mps", "factor": 0.1}}, {"metricsIndex": 3, "key": "directLatitude",
        "unit": {"id": 60, "key": "dd", "factor": 1.0}}, {"metricsIndex": 4, "key":
        "directTimestamp", "unit": {"id": 120, "key": "gmt", "factor": 0.0}}, {"metricsIndex":
        5, "key": "directElevation", "unit": {"id": 1, "key": "meter", "factor": 100.0}},
        {"metricsIndex": 6, "key": "directHeartRate", "unit": {"id": 100, "key": "bpm",
        "factor": 1.0}}, {"metricsIndex": 7, "key": "directBodyBattery", "unit": {"id":
        6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex": 8, "key": "sumDistance",
        "unit": {"id": 1, "key": "meter", "factor": 100.0}}, {"metricsIndex": 9, "key":
        "directAirTemperature", "unit": {"id": 227, "key": "celcius", "factor": 1.0}},
        {"metricsIndex": 10, "key": "sumDuration", "unit": {"id": 40, "key": "second",
        "factor": 1000.0}}, {"metricsIndex": 11, "key": "sumElapsedDuration", "unit":
        {"id": 40, "key": "second", "factor": 1000.0}}, {"metricsIndex": 12, "key":
        "directVerticalSpeed", "unit": {"id": 20, "key": "mps", "factor": 0.1}}],
        "activityDetailMetrics": [{"metrics": [10.041545229032636, 0.0, 0.14100000262260437,
        45.971264094114304, 1742891585000.0, 2091.60009765625, 84.0, 69.0, 0.5600000023841858,
        28.0, 0.0, 0.0, null]}, {"metrics": [10.041533997282386, 4.0, 0.41999998688697815,
        45.971299298107624, 1742891589000.0, 2091.60009765625, 85.0, 69.0, 4.239999771118164,
        28.0, 4.0, 4.0, 0.0]}, {"metrics": [10.04145696759224, 10.0, 2.546999931335449,
        45.971349170431495, 1742891595000.0, 2091.39990234375, 85.0, 69.0, 12.319999[...]
