interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "WEDNESDAY", "SUNDAY", "TUESDAY", "SATURDAY", "FRIDAY", "THURSDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=7&activityType=cycling
  response:
    body:
      string: '[{"activityId": 23569511098, "activityName": "Bormio Road Cycling",
        "startTimeLocal": "2026-07-12 09:33:52", "startTimeGMT": "2026-07-12 07:33:52",
        "activityType": {"typeId": 10, "typeKey": "road_biking", "parentTypeId": 2,
        "isHidden": false, "restricted": false, "trimmable": true}, "eventType": {"typeId":
        9, "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite": false, "isPR":
        false, "isAutoCalcCalories": false, "isParent": false, "distance": 43049.05859375,
        "duration": 10869.4521484375, "elapsedDuration": 12379.751953125, "movingDuration":
        10143.802001953125, "elevationGain": 1546.0, "elevationLoss": 1542.0, "averageSpeed":
        3.9609999656677246, "maxSpeed": 13.9399995803833, "startLatitude": 46.46861026994884,
        "startLongitude": 10.372213404625654, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 2130.0, "bmrCalories": 267.0, "averageHR": 112.0, "maxHR": 148.0,
        "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_ATP_READ", "SCOPE_DIVE_API_WRITE",
        "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ", "SCOPE_DT_ACTIVE_INTELLIGENCE_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_API_CREATE_UPDATE_USER",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_ACTIVITY_DETECTION_READ", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "SCOPE_ATP_WRITE", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "privacy":
        {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo": false,
        "isPurposeful": false, "timeZoneId": 124, "beginTimestamp": 1783841632000,
        "sportTypeId": 2, "aerobicTrainingEffect": 5.0, "anaerobicTrainingEffect":
        3.0999999046325684, "deviceId": 3444001964, "minElevation": 1213.4000244140625,
        "maxElevation": 2759.800048828125, "avgElevation": 1999.349929718318, "isElevationCorrected":
        false, "isDecoDive": false, "summarizedDiveInfo": {"summarizedDiveGases":
        []}, "maxVerticalSpeed": 0.60009765625, "manufacturer": "GARMIN", "locationName":
        "Bormio", "lapCount": 10, "endLatitude": 46.467859419062734, "endLongitude":
        10.361034795641899, "isAtpActivity": false, "waterEstimated": 2427.0, "minRespirationRate":
        15.9399995803833, "maxRespirationRate": 55.209999084472656, "avgRespirationRate":
        32.529998779296875, "trainingEffectLabel": "TEMPO", "activityTrainingLoad":
        295.316162109375, "minActivityLapDuration": 226.7830047607422, "aerobicTrainingEffectMessage":
        "OVERREACHING_4", "anaerobicTrainingEffectMessage": "IMPROVING_ANAEROBIC_BASE_2",
        "splitSummaries": [], "hasSplits": false, "hasIntensityIntervals": false,
        "isManualActivity": false, "moderateIntensityMinutes": 4, "vigorousIntensityMinutes":
        135, "differenceBodyBattery": -36, "hasHeatMap": false, "fastestSplit_40000":
        11215.94140625, "hrTimeInZone_1": 929.655, "hrTimeInZone_2": 411.348, "hrTimeInZone_3":
        3453.987, "hrTimeInZone_4": 3398.631, "hrTimeInZone_5": 540.002, "endTimeGMT":
        "2026-07-12 11:00:11", "qualifyingDive": false, "activityUUID": "e6fa29c9-070b-4a84-b9dd-dd11fd5b862a",
        "favorite": false, "purposeful": false, "pr": false, "decoDive": false, "elevationCorrected":
        false, "atpActivity": false, "autoCalcCalories": false, "parent": false, "manualActivity":
        false}, {"activityId": 23548101952, "activityName": "Grosotto Mountain Biking",
        "startTimeLocal": "2026-07-10 14:06:24", "startTimeGMT": "2026-07-10 12:06:24",
        "activityType": {"typeId": 5, "typeKey": "mountain_biking", "parentTypeId":
        2, "isHidden": false, "restricted": false, "trimmable": true}, "eventType":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "isFavorite":
        false, "isPR": false, "isAutoCalcCalories": false, "isParent": fa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23390505782
  response:
    body:
      string: '{"activityId": 23390505782, "activityUUID": {"uuid": "ac3f76cc-e0ab-4898-91f8-efa6b8ae69db"},
        "activityName": "Prato allo Stelvio Mountain Biking", "userProfileId": 113739130,
        "isMultiSportParent": false, "activityTypeDTO": {"typeId": 5, "typeKey": "mountain_biking",
        "parentTypeId": 2, "isHidden": false, "restricted": false, "trimmable": true},
        "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10},
        "accessControlRuleDTO": {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 1012383,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2026-06-26T23:37:30.0", "uploadedDate": "2026-06-26T23:37:29.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": false, "userInfoDto": {"userProfilePk": 113739130,
        "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 11, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1012383}, "hasIntensityIntervals": false, "hasSplits":
        false, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": null, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "sessionResultType": "ORIGINAL",
        "hasMultiDayActivities": false, "thirdPartyGymEquipment": [], "gcj02": false,
        "personalRecord": false, "runPowerWindDataEnabled": null, "manualActivity":
        false, "elevationCorrected": false, "trimmed": false, "autoCalcCalories":
        false, "favorite": false}, "summaryDTO": {"startTimeLocal": "2026-06-26T17:59:35.0",
        "startTimeGMT": "2026-06-26T15:59:35.0", "startLatitude": 46.61726173013449,
        "startLongitude": 10.590628366917372, "distance": 50441.4, "duration": 14152.944,
        "movingDuration": 14108.0, "elapsedDuration": 27284.633, "elevationGain":
        1857.0, "elevationLoss": 1876.0, "maxElevation": 2782.4, "minElevation": 904.0,
        "avgElevation": 1867.75, "averageSpeed": 3.563999891281128, "averageMovingSpeed":
        3.5753755626240435, "maxSpeed": 17.280000686645508, "calories": 2800.0, "bmrCalories":
        348.0, "averageHR": 107.0, "maxHR": 140.0, "minHR": 57.0, "averageTemperature":
        25.74450403540336, "maxTemperature": 37.0, "minTemperature": 19.0, "trainingEffect":
        4.199999809265137, "anaerobicTrainingEffect": 1.5, "aerobicTrainingEffectMessage":
        "HIGHLY_IMPROVING_AEROBIC_ENDURANCE_10", "anaerobicTrainingEffectMessage":
        "MINOR_ANAEROBIC_BENEFIT_15", "endLatitude": 46.61774519830942, "endLongitude":
        10.590997589752078, "maxVerticalSpeed": 0.60003662109375, "grit": 181.58203125,
        "waterEstimated": 2715.0, "minRespirationRate": 11.520000457763672, "maxRespirationRate":
        44.63999938964844, "avgRespirationRate": 30.93000030517578, "trainingEffectLabel":
        "AEROBIC_BASE", "activityTrainingLoad": 183.9846649169922, "avgFlow": 2.319416046142578,
        "minActivityLapDuration": 84.341, "directWorkoutFeel": 75, "directWorkoutRpe":
        50, "moderateIntensityMinutes": 22, "vigorousIntensityMinutes": 190, "recoveryHeartRate":
        10, "beginPotentialStamina": 100.0, "endPotentialStamina": 1.0, "minAvailableStamina":
        1.0, "differenceBodyBattery": -30}, "locationName": "Prato allo Stelvio"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23390505782/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23390505782, "measurementCount": 18, "metricsCount":
        13405, "totalMetricsCount": 13405, "metricDescriptors": [{"metricsIndex":
        0, "key": "directAirTemperature", "unit": {"id": 227, "key": "celcius", "factor":
        1.0}}, {"metricsIndex": 1, "key": "sumElapsedDuration", "unit": {"id": 40,
        "key": "second", "factor": 1000.0}}, {"metricsIndex": 2, "key": "directGrit",
        "unit": {"id": 6, "key": "dimensionless", "factor": 1.0}}, {"metricsIndex":
        3, "key": "directLatitude", "unit": {"id": 60, "key": "dd", "factor": 1.0}},
        {"metricsIndex": 4, "key": "sumDuration", "unit": {"id": 40, "key": "second",
        "factor": 1000.0}}, {"metri[...]
