interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "TUESDAY", "THURSDAY", "SATURDAY", "MONDAY", "SUNDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23569511098
  response:
    body:
      string: '{"activityId": 23569511098, "activityUUID": {"uuid": "e6fa29c9-070b-4a84-b9dd-dd11fd5b862a"},
        "activityName": "Bormio Road Cycling", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 10, "typeKey": "road_biking", "parentTypeId":
        2, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1012383, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-07-12T11:44:54.0", "uploadedDate":
        "2026-07-12T11:44:54.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": false, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 10, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1012383}, "hasIntensityIntervals": false, "hasSplits":
        false, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": null, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "sessionResultType": "ORIGINAL",
        "hasMultiDayActivities": false, "thirdPartyGymEquipment": [], "personalRecord":
        false, "manualActivity": false, "runPowerWindDataEnabled": null, "elevationCorrected":
        false, "trimmed": false, "autoCalcCalories": false, "favorite": false, "gcj02":
        false}, "summaryDTO": {"startTimeLocal": "2026-07-12T09:33:52.0", "startTimeGMT":
        "2026-07-12T07:33:52.0", "startLatitude": 46.46861026994884, "startLongitude":
        10.372213404625654, "distance": 43049.06, "duration": 10869.452, "movingDuration":
        10143.802, "elapsedDuration": 12379.752, "elevationGain": 1546.0, "elevationLoss":
        1542.0, "maxElevation": 2759.8, "minElevation": 1213.4, "avgElevation": 1999.35,
        "averageSpeed": 3.9609999656677246, "averageMovingSpeed": 4.243878043504909,
        "maxSpeed": 13.9399995803833, "calories": 2130.0, "bmrCalories": 267.0, "averageHR":
        112.0, "maxHR": 148.0, "minHR": 64.0, "trainingEffect": 5.0, "anaerobicTrainingEffect":
        3.0999999046325684, "aerobicTrainingEffectMessage": "OVERREACHING_4", "anaerobicTrainingEffectMessage":
        "IMPROVING_ANAEROBIC_BASE_2", "endLatitude": 46.467859419062734, "endLongitude":
        10.361034795641899, "maxVerticalSpeed": 0.60009765625, "waterEstimated": 2427.0,
        "minRespirationRate": 15.9399995803833, "maxRespirationRate": 55.209999084472656,
        "avgRespirationRate": 32.529998779296875, "trainingEffectLabel": "TEMPO",
        "activityTrainingLoad": 295.316162109375, "minActivityLapDuration": 226.783,
        "directWorkoutFeel": 75, "directWorkoutRpe": 70, "moderateIntensityMinutes":
        4, "vigorousIntensityMinutes": 135, "beginPotentialStamina": 99.0, "endPotentialStamina":
        47.0, "minAvailableStamina": 32.0, "differenceBodyBattery": -36}, "locationName":
        "Bormio"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23569511098/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23569511098, "measurementCount": 15, "metricsCount":
        4152, "totalMetricsCount": 4152, "metricDescriptors": [{"metricsIndex": 0,
        "key": "sumElapsedDuration", "unit": {"id": 40, "key": "second", "factor":
        1000.0}}, {"metricsIndex": 1, "key": "directLatitude", "unit": {"id": 60,
        "key": "dd", "factor": 1.0}}, {"metricsIndex": 2, "key": "sumDuration", "unit":
        {"id": 40, "key": "second", "factor": 1000.0}}, {"metricsIndex": 3, "key":
        "directSpeed", "unit": {"id": 20, "key": "mps", "factor": 0.1}}, {"metricsIndex":
        4, "key": "directTimestamp", "unit": {"id": 120, "key": "gmt", "factor": 0.0}},
        {"metricsIndex": 5, "k[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1783841933&after=1783841331&per_page=1
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Re Stelvio Mapei", "distance": 43049.1, "moving_time":
        10352, "elapsed_time": 12380, "total_elevation_gain": 1546.0, "type": "Ride",
        "sport_type": "Ride", "workout_type": 11, "device_name": "Garmin Forerunner
        965", "id": 19280944043, "id_str": "19280944043", "start_date": "2026-07-12T07:33:52Z",
        "start_date_local": "2026-07-12T09:33:52Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 140, "kudos_count": 4, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a19280944043", "summary_polyline": "kbszGieh~@{HjMsHlDg@cAvB_IE{@YK}E`EcEv@yQ{A?q@`GuDiGyAcBsBiJ`FgIAwBxA{AbDoElC}AdDgJiCsKxHuCCsKlCaFhIiCd@mB|DAjD_KvIkB`@gAzAsBO_BfAsK`@iBnB}CdAeGUcDvAoBUiImToDwFTOnDtEXEeE}ImDsNgGoMbElEqDiJIkFcA}GqB_FmA_@{BuDi@eJeCmHQyDjBtEw@cFdBrEX?kAuEUqG`B}LrAuPb@_KG~Ak@yBXoDq@cHZ[a@Wc@cHAqD^iBk@_FsAqIgByG@gFkCoDkBoFoCcE}CsLcF{HhADfDvCBg@aBmBmAgDkBsAxBf@rArBTSmG_MwDOzBwBwEp@xFuFyFv@{BpBtAiDhEgDaGbAmDlGhBcJ~FmE}GvAaBzCwF|DUk@dAaGxDkB@m@gLdCoMwBwAkAqDxCqCm@sMtBu@IoE}D}DU{DjAkLs@_K{EqDaGgFGmD}D_F}@oK_Ry@gCcDex@b@}KdAwGpBiF|HgI_HvAfJoKsDR}C|AbBmExGwDjByFhG{Fq@mBzNkBjGaDqEiLQkBjAsCdFqC`AgEcAYoFr@YUD_AjDaJ^gG`Fh@jCnCP{@mAiDHs@bGcAJsAeAqIuAUdBgDrCqB[Ht@kAeBz@wDbGHj@nAFfA~IO`AeG~@Gj@nAnDW~@_CyCaFg@]fAIhEkDbJ?bAj@ZlFaAv@j@{@hD}EhCaBfDNdBtEvL{FtCgO~A`@pCuBnC_CjAqBdG_HvDaC~E~C{ArEi@kJ~JT`@hGiBcInIsBlFaAlGa@|LtCfu@l@zCtLhTvEl@lDzDlFH~CrFxKlFnKn@xEmAlCJfHpExL{B~Cr@fD{CjBjAnMvBfLeCaEjCeA|FPx@nFkDjBeDbHeBcG~DsBvI`@NhCsF~FyANRmErCaBdDlK{CiGhF`Fc@_CrAFd@nDJtGzLkBqB{Bc@lBfBhA~CnBjC{DsCw@G@r@rEtGz@rEhCdHhBvBpBzF`C`CTbJfAbDrChP_@`Iv@hYp@xDqAtK]~M{AnLLxCrA~EsAkBe@qBD|Bh@|Ag@c@y@gDJvExBdG`@fJlClEbDhAPfFjA|FAvDxD|JeD}Eg@FfGfMlDjNpEtJiE_FU`@tE`I`HhRxA^dDyAtGP~Bq@xCsCxKSrAgAdBRrDyB`KyIJuDbBmDjCc@zFaJxJ{BtC?bLaItCbBlEd@|AgDpEoCjAoCbByA~IAtHcFhAA|AtBxFpA_GnDOd@^Z~RpA|Bk@lE{Dn@ADz@{BtH\\hA`AGpFkC|E{GnBuDv@mJzC}DhFdZCv]",
        "resource_state": 2}, "trainer": false, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        "b12393437", "start_latlng": [46.46861, 10.372213], "end_latlng": [46.467857,
        10.361037], "average_speed": 4.159, "max_speed": 13.74, "average_watts": 195.3,
        "device_watts": false, "kilojoules": 2021.8, "has_heartrate": true, "average_heartrate":
        113.2, "max_heartrate": 148.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 2759.8, "elev_low": 1213.4, "upload_id": 20399078409, "upload_id_str":
        "20399078409", "external_id": "garmin_ping_597514425444", "from_accepted_tag":
        false, "pr_count": 14, "total_photo_count": 3, "has_kudoed": false, "suffer_score":
        89.0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2845d2aeebf87033129e3d8a0bb04adf"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 9,32
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 9,32
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/19280944043
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Re Stelvio Mapei", "distance": 43049.1, "moving_time":
        10352, "elapsed_time": 12380, "total_elevation_gain": 1546.0, "type": "Ride",
        "sport_type": "Ride", "workout_type": 11, "device_name": "Garmin Forerunner
        965", "id": 19280944043, "id_str": "19280944043", "start_date": "2026-07-12T07:33:52Z",
        "start_date_local": "2026-07-12T09:33:52Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 140, "kudos_count": 4, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a19280944043", "polyline": "y{rzGiyh~@Jj@Cb@STy@p@a@`@o@pAU|@Kx@OhEGp@CRUf@oGxJm@p@QLy@\\yAn@aBt@O?OGMMGUAWHe@lByGBWIc@YKSJw@z@yAnAw@h@UJo@PeBVw@?cBSoIq@[@gAIa@KKSBQFKJGrAc@\\SrBsANa@KQOEmAI_Dw@UWa@_AWUSEW@UDSJqAx@}AbAa@Ro@f@e@RU@i@CU@m@LS@UAmB[O?g@PwA~@SRSX]nAS^UX}@r@a@Tc@Ng@Vc@Z]p@a@pAMTOJSDWAqCo@QESO_BkAIAYDIDiBbBaClBUNgCpA]Hm@GO@[I]@aBp@SD{@DeANi@NUL_AR[L[^qAbC_@b@Q`@o@jAQRWRQBq@SG?QJSTo@vAk@`AQb@?f@LnAEVIZi@b@oAt@s@j@iAv@cBtBc@b@_@F_@?G@MDUPw@jASPW@}@QYAWVY`@m@LOAg@MWCu@HaADa@F{AJmAPYRoAzAo@\\WHg@Pm@J{A@mAQu@Ee@?k@F[...]
