interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 115, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 82000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 53.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.40555442, "lactateThresholdHeartRate": 163,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1122378158, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "FRIDAY", "SUNDAY", "THURSDAY", "WEDNESDAY", "TUESDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null}, "userSleep": {"sleepTime": 0, "defaultSleepTime":
        false, "wakeTime": 28800, "defaultWakeTime": false}, "connectDate": null,
        "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency": "SUNDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19792668968
  response:
    body:
      string: '{"activityId": 19792668968, "activityUUID": {"uuid": "0e17004c-af7c-4a85-b3a8-1d818a2955f4"},
        "activityName": "Re Stelvio Mapei", "description": "Nota che questa attivit\u00e0
        \u00e8 un multisport. Questo perch\u00e8, ad attivit\u00e0 in corso, ho cambiato
        il tipo di attivit\u00e0 da ciclismo a MTB. Cosa da NON FARE MAI! Io l''ho
        fatto perch\u00e8 il data screen del ciclismo non era personalizzato come
        quello del MTB, in particlare volevo sapere la durata e la quota.\n\nIl problema
        principale \u00e8 che Garmin Connect invia su Strava 2 attivit\u00e0 diverse
        (invece che una sola) e quindi per esmpio non mi era possibile vedere quanto
        avessi fatto nel segmento Strava Passo Stelvio (via Bormio).\n\nPer risolvere
        questo problema ho manualmente cancellato le due attivit\u00e0 su Strava.
        Poi scaricato da Garmin Connect i 2 file .fit e uniti con il sito fitfiletools
        . com e infine aggiunto il risultato su Strava, dove poi ho corretto Distance
        e Elevation.", "userProfileId": 113739130, "isMultiSportParent": true, "activityTypeDTO":
        {"typeId": 89, "typeKey": "multi_sport", "parentTypeId": 17, "isHidden": false,
        "restricted": false, "trimmable": true}, "eventTypeDTO": {"typeId": 9, "typeKey":
        "uncategorized", "sortOrder": 10}, "accessControlRuleDTO": {"typeId": 3, "typeKey":
        "subscribers"}, "timeZoneUnitDTO": {"unitId": 124, "unitKey": "Europe/Paris",
        "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO": {"isOriginal":
        true, "deviceApplicationInstallationId": 996666, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-07-20T13:50:04.0", "uploadedDate":
        "2025-07-20T13:38:58.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": false, "hasPowerTimeInZones": false, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [19792668848, 19792668850], "childActivityTypes":
        ["cycling", "mountain_biking"], "sensors": null, "activityImages": [], "manufacturer":
        "GARMIN", "diveNumber": null, "lapCount": 2, "associatedWorkoutId": null,
        "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk":
        37086, "deviceVersionPk": 996666}, "hasIntensityIntervals": false, "hasSplits":
        false, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": null, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "manualActivity": false,
        "runPowerWindDataEnabled": null, "autoCalcCalories": false, "favorite": false,
        "elevationCorrected": false, "trimmed": false, "personalRecord": false, "gcj02":
        false}, "summaryDTO": {"startTimeLocal": "2025-07-13T09:34:58.0", "startTimeGMT":
        "2025-07-13T07:34:58.0", "distance": 43504.17, "duration": 10284.154, "elapsedDuration":
        12162.381, "elevationGain": 1563.0, "elevationLoss": 1579.0, "maxElevation":
        2783.4, "minElevation": 1199.8, "averageSpeed": 4.230213943890991, "calories":
        1881.0, "maxHR": 145.0, "trainingEffect": 5.0, "anaerobicTrainingEffect":
        2.5999999046325684, "aerobicTrainingEffectMessage": "OVERREACHING_17", "anaerobicTrainingEffectMessage":
        "MAINTAINING_ANAEROBIC_BASE_1", "waterEstimated": 1811.0, "trainingEffectLabel":
        "VO2MAX", "activityTrainingLoad": 388.1424560546875}, "locationName": "Bormio"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19792668968/details?maxChartSize=100000&maxPolylineSize=0
  response:
    body:
      string: '{"activityId": 19792668968, "measurementCount": 18, "metricsCount":
        7517, "totalMetricsCount": 7517, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directLatitude", "unit": {"id": 60, "key": "dd", "factor": 1.0}},
        {"metricsIndex": 1, "key": "sumMovingDuration", "unit": {"id": 40, "key":
        "second", "factor": 1000.0}}, {"metricsIndex": 2, "key": "sumElapsedDuration",
        "unit": {"id": 40, "key": "second", "factor": 1000.0}}, {"metricsIndex": 3,
        "key": "directTimestamp", "unit": {"id": 120, "key": "gmt", "factor": 0.0}},
        {"metricsIndex": 4, "key": "directSpeed", "unit": {"id": 20, "key": "mps",
        "factor": 0.1}}, {"metricsInd[...]
