interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE",
        "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER",
        "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"], "nameApproved":
        true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring":
        false, "allowGolfScoringByConnections": true, "userLevel": 3, "userPoint":
        125, "levelUpdateDate": "2023-06-11T20:10:14.0", "levelIsViewed": false, "levelPointThreshold":
        140, "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 82000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 55.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.41944327000000003, "lactateThresholdHeartRate":
        163, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1128446380, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "FRIDAY", "SUNDAY", "MONDAY", "TUESDAY", "THURSDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null}, "userSleep": {"sleepTime": 0, "defaultSleepTime":
        false, "wakeTime": 28800, "defaultWakeTime": false}, "connectDate": null,
        "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency": "SUNDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/20579416584
  response:
    body:
      string: '{"activityId": 20579416584, "activityUUID": {"uuid": "8aabae66-d0c6-4427-b39f-52f4c4696bf0"},
        "activityName": "Verdellino - 10x200m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1000421, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-10-03T17:25:20.0", "uploadedDate":
        "2025-10-03T17:25:19.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.1, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 29, "associatedWorkoutId": 1345865141, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1000421}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "personalRecord": false,
        "gcj02": false, "runPowerWindDataEnabled": true, "manualActivity": false,
        "elevationCorrected": false, "trimmed": false, "autoCalcCalories": false,
        "favorite": false}, "summaryDTO": {"startTimeLocal": "2025-10-03T17:40:16.0",
        "startTimeGMT": "2025-10-03T15:40:16.0", "startLatitude": 45.60919621959329,
        "startLongitude": 9.616733025759459, "distance": 12480.44, "duration": 5455.102,
        "movingDuration": 5122.653, "elapsedDuration": 5943.756, "elevationGain":
        39.0, "elevationLoss": 37.0, "maxElevation": 189.2, "minElevation": 170.0,
        "averageSpeed": 2.2880001068115234, "averageMovingSpeed": 2.4363236124940206,
        "maxSpeed": 7.427000045776367, "calories": 1037.0, "bmrCalories": 133.0, "averageHR":
        123.0, "maxHR": 162.0, "minHR": 81.0, "averageRunCadence": 134.125, "maxRunCadence":
        237.0, "averageTemperature": 20.172248664349546, "maxTemperature": 25.0, "minTemperature":
        18.0, "averagePower": 249.0, "maxPower": 874.0, "minPower": 0.0, "normalizedPower":
        330.0, "totalWork": 323.86480255464176, "groundContactTime": 279.6000061035156,
        "strideLength": 97.97000122070312, "verticalOscillation": 7.930000305175781,
        "trainingEffect": 3.4000000953674316, "anaerobicTrainingEffect": 4.400000095367432,
        "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_FITNESS_2", "anaerobicTrainingEffectMessage":
        "HIGHLY_IMPROVING_ANAEROBIC_CAPACITY_AND_POWER_3", "verticalRatio": 8.880000114440918,
        "endLatitude": 45.60906579717994, "endLongitude": 9.616644429042935, "maxVerticalSpeed":
        1.0, "waterEstimated": 1146.0, "minRespirationRate": 15.130000114440918, "maxRespirationRate":
        47.209999084472656, "avgRespirationRate": 34.90999984741211, "trainingEffectLabel":
        "ANAEROBIC_CAPACITY", "activityTrainingLoad": 272.45831298828125, "minActivityLapDuration":
        29.772, "directWorkoutFeel": 75, "directWorkoutRpe": 70, "directWorkoutComplianceScore":
        100, "moderateIntensityMinutes": 20, "vigorousIntensityMinutes": 73, "steps":
        12354, "beginPotentialStamina": 100.0, "endPotentialStamina": 61.0, "minAvailableStamina":
        55.0, "avgGradeAdjustedSpeed": 2.2890000343322754, "differenceBodyBattery":
        -20}, "locationName": "Verdellino", "splitSummaries": [{"distance": 132.33,
        "duration": 195.926, "movingDuration": 0.0, "elevationGain": 0.0, "elevationLoss":
        0.0, "averageSpeed": 0.675000011920929, "maxSpeed": 0.9700000286102295, "calories":
        33.0, "bmrCalories": 5.0, "averageHR": 125.0, "maxHR": 158.0, "averageRunCadence":
        15.78125, "maxRunCadence": 150.0, "averageTemperature": 20.0, "maxTemperature":
        21.0, "minTemperature": 18.0, "averagePower": 0.0, "maxPower": 0.0, "normalizedPower":
        308.0, "strideLength": 153.06770127485473, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0, "avgGradeAdjustedSpeed": 0.004999999888241291, "splitType": "RWD_STAND",
        "noOfSplits": 31, "maxElevationGain": 0.0, "averageElevationGain": 0.0, "maxDistance":
        15, "maxDistanceWithPrecision": 15.94, "avgStepFrequency": 15.78125}, {"distance":
        11125.23, "duration": 4123.432, "movingDuration": 4055.0, "elevationGain":
        34.0, "elevationLoss": 35.0, "averageSpeed": 2.6979999542236324, "averageMovingSpeed":
        2.7539070226165574, "maxSpeed": 7.427000045776367, "calories": 850.0, "bmrCalories":
        100.0, "averageHR": 125.0, "maxHR": 162.0, "averageRunCadence": 159.03125,
        "maxRunCadence": 237.0, "averageTemperature": 20.0, "maxTemperature": 25.0,
        "minTemperature": 18.0, "averagePower": 311.0, "maxPower": 874.0, "normalizedPower":
        350.0, "groundContactTime": 279.5, "strideLength": 99.42999877929688, "verticalOscillation":
        8.330000305175782, "verticalRatio": 8.970000267028809, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.0, "avgGradeAdjustedSpeed": 2.7479999065399165, "splitType":
        "RWD_RUN", "noOfSplits": 42, "maxElevationGain": 12.0, "averageElevationGain":
        1.0, "maxDistance": 3357, "maxDistanceWithPrecision": 3357.68, "avgStepFrequency":
        159.03125, "avgStepLength": 994.2999877929688}, {"distance": 3753.22, "duration":
        1316.323, "movingDuration": 1288.0, "elevationGain": 19.0, "elevationLoss":
        6.0, "averageSpeed": 2.8510000705718994, "averageMovingSpeed": 2.9139906604837926,
        "maxSpeed": 3.3959999084472656, "calories": 296.0, "bmrCalories": 32.0, "averageHR":
        122.0, "maxHR": 139.0, "averageRunCadence": 155.84375, "maxRunCadence": 170.0,
        "averageTemperature": 21.0, "maxTemperature": 25.0, "minTemperature": 20.0,
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/20579416584/typedsplits
  response:
    body:
      string: '{"activityId": 20579416584, "activityUUID": {"uuid": "8aabae66-d0c6-4427-b39f-52f4c4696bf0"},
        "splits": [{"startTimeLocal": "2025-10-03T17:40:16.0", "startTimeGMT": "2025-10-03T15:40:16.0",
        "startLatitude": 45.60919621959329, "startLongitude": 9.616733025759459, "distance":
        1930.37, "duration": 627.432, "movingDuration": 626.0, "elapsedDuration":
        642.001, "elevationGain": 7.0, "elevationLoss": 0.0, "averageSpeed": 3.0769999027252197,
        "averageMovingSpeed": 3.0836581391648363, "maxSpeed": 3.3959999084472656,
        "calories": 148.0, "bmrCalories": 15.0, "averageHR": 123.0, "maxHR": 139.0,
        "averageRunCadence": 163.40625, "maxRunCadence": 169.0, "averageTemperature":
        22.0, "maxTemperature": 25.0, "minTemperature": 20.0, "averagePower": 361.0,
        "maxPower": 416.0, "normalizedPower": 367.0, "groundContactTime": 270.20001220703125,
        "strideLength": 112.69000244140625, "verticalOscillation": 9.35999984741211,
        "verticalRatio": 8.3100004196167, "totalExerciseReps": 0, "endLatitude": 45.61962221749127,
        "endLongitude": 9.62407959625125, "avgVerticalSpeed": 0.010999999940395355,
        "avgGradeAdjustedSpeed": 3.0969998836517334, "avgElapsedDurationVerticalSpeed":
        0.010862624683319189, "type": "RWD_RUN", "messageIndex": 0, "endTimeGMT":
        "2025-10-03T15:50:43.0", "startElevation": 175.8}, {"startTimeLocal": "2025-10-03T17:40:16.0",
        "startTimeGMT": "2025-10-03T15:40:16.0", "startLatitude": 45.60919621959329,
        "startLongitude": 9.616733025759459, "distance": 3753.22, "duration": 1316.323,
        "movingDuration": 1288.0, "elapsedDuration": 1804.977, "elevationGain": 19.0,
        "elevationLoss": 6.0, "averageSpeed": 2.8510000705718994, "averageMovingSpeed":
        2.9139906604837926, "maxSpeed": 3.3959999084472656, "calories": 296.0, "bmrCalories":
        32.0, "averageHR": 122.0, "maxHR": 139.0, "averageRunCadence": 155.84375,
        "maxRunCadence": 170.0, "averageTemperature": 21.0, "maxTemperature": 25.0,
        "minTemperature": 20.0, "averagePower": 338.0, "maxPower": 437.0, "normalizedPower":
        355.0, "groundContactTime": 272.70001220703125, "strideLength": 110.0800048828125,
        "verticalOscillation": 9.20999984741211, "verticalRatio": 8.420000076293945,
        "totalExerciseReps": 0, "endLatitude": 45.62517648562789, "endLongitude":
        9.630268206819892, "avgVerticalSpeed": 0.009999999776482582, "avgGradeAdjustedSpeed":
        2.8929998874664307, "avgElapsedDurationVerticalSpeed": 0.012201809578978613,
        "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes": [1, 2, 3, 4],
        "endTimeGMT": "2025-10-03T16:10:20.0", "startElevation": 175.8}, {"startTimeLocal":
        "2025-10-03T17:50:58.0", "startTimeGMT": "2025-10-03T15:50:58.0", "duration":
        0.0, "elapsedDuration": 1.0, "totalExerciseReps": 0, "endLatitude": 45.61964183114469,
        "endLongitude": 9.62406794540584, "type": "RWD_WALK", "messageIndex": 2, "endTimeGMT":
        "2025-10-03T15:50:58.0"}, {"startTimeLocal": "2025-10-03T17:51:21.0", "startTimeGMT":
        "2025-10-03T15:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=11&search=2x200m+3x200m+4x200m+5x200m+6x200m+7x200m+8x200m+9x200m+10x200m+11x200m+12x200m+13x200m+14x200m+15x200m+16x200m+17x200m+18x200m+19x200m+20x200m+21x200m+22x200m+23x200m+24x200m+25x200m&endDate=2025-10-03&activityType=running
  response:
    body:
      string: '[{"activityId": 20579416584, "activityName": "Verdellino - 10x200m",
        "startTimeLocal": "2025-10-03 17:40:16", "startTimeGMT": "2025-10-03 15:40:16",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "distance": 12480.4404296875,
        "duration": 5455.10205078125, "elapsedDuration": 5943.755859375, "movingDuration":
        5122.652986526489, "elevationGain": 39.0, "elevationLoss": 37.0, "averageSpeed":
        2.2880001068115234, "maxSpeed": 7.427000045776367, "startLatitude": 45.60919621959329,
        "startLongitude": 9.616733025759459, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 1037.0, "bmrCalories": 133.0, "averageHR": 123.0, "maxHR": 162.0,
        "averageRunningCadenceInStepsPerMinute": 134.125, "maxRunningCadenceInStepsPerMinute":
        237.0, "steps": 12354, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_ATP_READ",
        "SCOPE_DIVE_API_WRITE", "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_MCT_DAILY_LOG_READ", "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "ROLE_CONNECTUSER",
        "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"], "privacy":
        {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo": false,
        "timeZoneId": 124, "beginTimestamp": 1759506016000, "sportTypeId": 1, "avgPower":
        249.0, "maxPower": 874.0, "aerobicTrainingEffect": 3.4000000953674316, "anaerobicTrainingEffect":
        4.400000095367432, "normPower": 330.0, "avgVerticalOscillation": 7.930000305175781,
        "avgGroundContactTime": 279.6000061035156, "avgStrideLength": 97.97000122070312,
        "vO2MaxValue": 54.0, "avgVerticalRatio": 8.880000114440918, "workoutId": 1345865141,
        "deviceId": 3444001964, "minTemperature": 18.0, "maxTemperature": 25.0, "minElevation":
        170.0, "maxElevation": 189.1999969482422, "maxDoubleCadence": 237.0, "summarizedDiveInfo":
        {"summarizedDiveGases": []}, "maxVerticalSpeed": 1.0, "manufacturer": "GARMIN",
        "locationName": "Verdellino", "lapCount": 29, "endLatitude": 45.60906579717994,
        "endLongitude": 9.616644429042935, "waterEstimated": 1146.0, "minRespirationRate":
        15.130000114440918, "maxRespirationRate": 47.209999084472656, "avgRespirationRate":
        34.90999984741211, "trainingEffectLabel": "ANAEROBIC_CAPACITY", "activityTrainingLoad":
        272.45831298828125, "minActivityLapDuration": 29.77199935913086, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_FITNESS_2", "anaerobicTrainingEffectMessage": "HIGHLY_IMPROVING_ANAEROBIC_CAPACITY_AND_POWER_3",
        "splitSummaries": [{"noOfSplits": 31, "totalAscent": 0.0, "duration": 195.92599487304688,
        "splitType": "RWD_STAND", "numClimbSends": 0, "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 15, "distance": 132.3300018310547, "averageSpeed": 0.675000011920929,
        "maxSpeed": 0.9700000286102295, "numFalls": 0, "elevationLoss": 0.0}, {"noOfSplits":
        42, "totalAscent": 34.0, "duration": 4123.43212890625, "splitType": "RWD_RUN",
        "numClimbSends": 0, "maxElevationGain": 12.0, "averageElevationGain": 1.0,
        "maxDistance": 3357, "distance": 11125.23046875, "averageSpeed": 2.697999954223633,
        "maxSpeed": 7.427000045776367, "numFalls": 0, "elevationLoss": 35.0}, {"noOfSplits":
        1, "totalAscent": 19.0, "duration": 1316.322998046875, "splitType": "INTERVAL_WARMUP",
        [...]
