interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 163, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        152, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157017968, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "THURSDAY", "WEDNESDAY", "SUNDAY", "MONDAY", "TUESDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23945353188
  response:
    body:
      string: '{"activityId": 23945353188, "activityUUID": {"uuid": "33e26343-48e2-4546-a832-6b95627764bc"},
        "activityName": "Verdellino Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1015377, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-08-12T06:38:23.0", "uploadedDate":
        "2026-08-12T06:38:23.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 11, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1015377}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "sessionResultType": "ORIGINAL", "hasMultiDayActivities": false, "thirdPartyGymEquipment":
        [], "personalRecord": false, "runPowerWindDataEnabled": true, "gcj02": false,
        "manualActivity": false, "trimmed": false, "elevationCorrected": false, "autoCalcCalories":
        false, "favorite": false}, "summaryDTO": {"startTimeLocal": "2026-08-12T07:25:33.0",
        "startTimeGMT": "2026-08-12T05:25:33.0", "startLatitude": 45.60930350795388,
        "startLongitude": 9.61674040183425, "distance": 10021.5, "duration": 3263.795,
        "movingDuration": 3261.641, "elapsedDuration": 3636.059, "elevationGain":
        33.0, "elevationLoss": 31.0, "maxElevation": 189.2, "minElevation": 172.2,
        "avgElevation": 180.33, "averageSpeed": 3.071000099182129, "averageMovingSpeed":
        3.0725331288773616, "maxSpeed": 4.3480000495910645, "calories": 767.0, "bmrCalories":
        80.0, "averageHR": 121.0, "maxHR": 163.0, "minHR": 72.0, "averageRunCadence":
        169.0, "maxRunCadence": 185.0, "averageTemperature": 30.480240027344543, "maxTemperature":
        32.0, "minTemperature": 29.0, "averagePower": 366.0, "maxPower": 545.0, "minPower":
        0.0, "normalizedPower": 379.0, "totalWork": 285.4401649634131, "groundContactTime":
        264.0, "strideLength": 108.65999755859376, "verticalOscillation": 8.86999969482422,
        "trainingEffect": 3.299999952316284, "anaerobicTrainingEffect": 0.0, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_FITNESS_2", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "verticalRatio": 8.25, "endLatitude": 45.60923100449145, "endLongitude": 9.616770157590508,
        "maxVerticalSpeed": 0.4000091552734375, "waterEstimated": 906.0, "minRespirationRate":
        17.719999313354492, "maxRespirationRate": 46.099998474121094, "avgRespirationRate":
        34.779998779296875, "trainingEffectLabel": "TEMPO", "activityTrainingLoad":
        88.25071716308594, "minActivityLapDuration": 5.392, "directWorkoutFeel": 25,
        "directWorkoutRpe": 20, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes":
        57, "steps": 9178, "beginPotentialStamina": 100.0, "endPotentialStamina":
        77.0, "minAvailableStamina": 77.0, "avgGradeAdjustedSpeed": 3.072999954223633,
        "differenceBodyBattery": -17}, "locationName": "Verdellino", "splitSummaries":
        [{"duration": 0.0, "totalExerciseReps": 0, "splitType": "RWD_STAND", "noOfSplits":
        2}, {"distance": 10021.5, "duration": 3263.795, "movingDuration": 3262.0,
        "elevationGain": 33.0, "elevationLoss": 31.0, "averageSpeed": 3.071000099182129,
        "averageMovingSpeed": 3.0721949724095645, "maxSpeed": 4.3480000495910645,
        "calories": 767.0, "bmrCalories": 80.0, "averageHR": 121.0, "maxHR": 163.0,
        "averageRunCadence": 169.0, "maxRunCadence": 185.0, "averageTemperature":
        31.0, "maxTemperature": 32.0, "minTemperature": 29.0, "averagePower": 366.0,
        "maxPower": 545.0, "normalizedPower": 379.0, "groundContactTime": 264.0, "strideLength":
        108.65999755859376, "verticalOscillation": 8.86999969482422, "verticalRatio":
        8.25, "totalExerciseReps": 0, "avgVerticalSpeed": 0.0010000000474974513, "avgGradeAdjustedSpeed":
        3.072999954223633, "splitType": "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain":
        33.0, "averageElevationGain": 33.0, "maxDistance": 10021, "maxDistanceWithPrecision":
        10021.5, "avgStepFrequency": 169.0, "avgStepLength": 1.0865999755859377},
        {"distance": 10018.89, "duration": 3261.881, "movingDuration": 3261.0, "elevationGain":
        33.0, "elevationLoss": 31.0, "averageSpeed": 3.0720000267028813, "averageMovingSpeed":
        3.072324026557639, "maxSpeed": 4.3480000495910645, "calories": 767.0, "bmrCalories":
        80.0, "averageHR": 121.0, "maxHR": 163.0, "averageRunCadence": 169.109375,
        "maxRunCadence": 185.0, "averageTemperature": 31.0, "maxTemperature": 32.0,
        "minTemperature": 2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/23945353188/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 23945353188, "measurementCount": 27, "metricsCount":
        3266, "totalMetricsCount": 3266, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directDoubleCadence", "unit": {"id": 92, "key": "stepsPerMinute",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directTimestamp", "unit": {"id":
        120, "key": "gmt", "factor": 0.0}}, {"metricsIndex": 2, "key": "directGradeAdjustedSpeed",
        "unit": {"id": 20, "key": "mps", "factor": 0.1}}, {"metricsIndex": 3, "key":
        "directHeartRate", "unit": {"id": 100, "key": "bpm", "factor": 1.0}}, {"metricsIndex":
        4, "key": "directSpeed", "unit": {"id": 20, "key": "mps", "factor": 0.1}},
        {"metri[...]
