interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 164, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        154, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157618665, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "FRIDAY", "THURSDAY", "SUNDAY", "MONDAY", "TUESDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24330701697
  response:
    body:
      string: '{"activityId": 24330701697, "activityUUID": {"uuid": "4ab47ff2-2c25-47f0-a71a-42d133a9dc0a"},
        "activityName": "Arenzano Trail Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 6, "typeKey": "trail_running", "parentTypeId":
        1, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1014006, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-09-12T09:26:18.0", "uploadedDate":
        "2026-09-12T09:26:16.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 15, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1014006}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "sessionResultType": "ORIGINAL", "hasMultiDayActivities": false, "thirdPartyGymEquipment":
        [], "personalRecord": false, "elevationCorrected": false, "autoCalcCalories":
        false, "favorite": false, "trimmed": false, "runPowerWindDataEnabled": true,
        "manualActivity": false, "gcj02": false}, "summaryDTO": {"startTimeLocal":
        "2026-09-12T08:57:15.0", "startTimeGMT": "2026-09-12T06:57:15.0", "startLatitude":
        44.40632052719593, "startLongitude": 8.686273880302906, "distance": 14711.65,
        "duration": 8857.131, "movingDuration": 8590.075, "elapsedDuration": 8902.461,
        "elevationGain": 719.0, "elevationLoss": 720.0, "maxElevation": 546.4, "minElevation":
        9.0, "avgElevation": 305.02, "averageSpeed": 1.6610000133514404, "averageMovingSpeed":
        1.7126335243853232, "maxSpeed": 3.3499999046325684, "calories": 1285.0, "bmrCalories":
        218.0, "averageHR": 103.0, "maxHR": 137.0, "minHR": 70.0, "averageRunCadence":
        124.21875, "maxRunCadence": 250.0, "averageTemperature": 28.995729421503295,
        "maxTemperature": 34.0, "minTemperature": 26.0, "averagePower": 218.0, "maxPower":
        520.0, "minPower": 0.0, "normalizedPower": 281.0, "totalWork": 460.37966405888284,
        "groundContactTime": 310.79998779296875, "strideLength": 77.85000000000001,
        "verticalOscillation": 7.230000305175782, "trainingEffect": 2.9000000953674316,
        "anaerobicTrainingEffect": 0.0, "aerobicTrainingEffectMessage": "MAINTAINING_AEROBIC_BASE_7",
        "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0", "verticalRatio":
        9.979999542236328, "endLatitude": 44.406092120334506, "endLongitude": 8.686223085969687,
        "maxVerticalSpeed": 0.8000488281250001, "waterEstimated": 2080.0, "minRespirationRate":
        18.040000915527344, "maxRespirationRate": 40.529998779296875, "avgRespirationRate":
        27.829999923706055, "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad":
        58.29290771484375, "minActivityLapDuration": 319.033, "directWorkoutFeel":
        75, "directWorkoutRpe": 40, "moderateIntensityMinutes": 61, "vigorousIntensityMinutes":
        70, "steps": 19938, "beginPotentialStamina": 100.0, "endPotentialStamina":
        75.0, "minAvailableStamina": 75.0, "avgGradeAdjustedSpeed": 1.9279999732971191,
        "differenceBodyBattery": -24}, "locationName": "Arenzano", "splitSummaries":
        [{"distance": 11748.21, "duration": 6168.792, "movingDuration": 6051.444,
        "elevationGain": 562.0, "elevationLoss": 442.0, "averageSpeed": 1.9040000438690186,
        "averageMovingSpeed": 1.9340613693976245, "maxSpeed": 3.3499999046325684,
        "calories": 1025.0, "bmrCalories": 152.0, "averageHR": 107.0, "maxHR": 137.0,
        "averageRunCadence": 147.59375, "maxRunCadence": 250.0, "averageTemperature":
        29.0, "maxTemperature": 34.0, "minTemperature": 26.0, "averagePower": 272.0,
        "maxPower": 520.0, "normalizedPower": 304.0, "groundContactTime": 307.70001220703125,
        "strideLength": 78.30999755859375, "verticalOscillation": 7.7, "verticalRatio":
        10.149999618530273, "totalExerciseReps": 0, "avgVerticalSpeed": 0.019999999552965164,
        "avgGradeAdjustedSpeed": 2.2279999256134033, "splitType": "RWD_RUN", "noOfSplits":
        105, "maxElevationGain": 79.0, "averageElevationGain": 5.0, "maxDistance":
        1134, "maxDistanceWithPrecision": 1134.46, "avgStepFrequency": 147.59375,
        "avgStepLength": 0.7830999755859375}, {"distance": 59.95, "duration": 192.325,
        "movingDuration": 0.0, "elevationGain": 0.0, "elevationLoss": 1.0, "averageSpeed":
        0.31200000643730164, "maxSpeed": 0.9980000257492067, "calories": 18.0, "bmrCalories":
        5.0, "averageHR": 90.0, "maxHR": 129.0, "averageRunCadence": 0.0, "maxRunCadence":
        0.0, "averageTemperature": 31.0, "maxTemperature": 33.0, "minTemperature":
        26.0, "averagePower": 0.0, "maxPower": 0.0, "normalizedPower": 167.0, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24330701697/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24330701697, "measurementCount": 27, "metricsCount":
        8860, "totalMetricsCount": 8860, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directDoubleCadence", "unit":
        {"id": 92, "key": "stepsPerMinute", "factor": 1.0}}, {"metricsIndex": 2, "key":
        "sumAccumulatedPower", "unit": {"id": 10, "key": "watt", "factor": 1.0}},
        {"metricsIndex": 3, "key": "directStrideLength", "unit": {"id": 5, "key":
        "centimeter", "factor": 1.0}}, {"metricsIndex": 4, "key": "directRunCadence",
        "unit": {"id": 92, "key": "stepsPerM[...]
