interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 164, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        154, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157618665, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "TUESDAY", "FRIDAY", "SATURDAY", "THURSDAY", "MONDAY", "SUNDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22663177131
  response:
    body:
      string: '{"activityId": 22663177131, "activityUUID": {"uuid": "cf1862e6-1885-407e-850e-f0c92895b47b"},
        "activityName": "Sarnico Running", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "trimmable": true, "restricted": false}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1004830, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2026-04-26T09:44:00.0", "uploadedDate":
        "2026-04-26T09:43:59.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        5.4, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 25, "associatedWorkoutId": null, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 1004830}, "hasIntensityIntervals": false, "hasSplits":
        true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "hasMultiDayActivities":
        false, "thirdPartyGymEquipment": [], "elevationCorrected": false, "trimmed":
        false, "manualActivity": false, "autoCalcCalories": false, "favorite": false,
        "runPowerWindDataEnabled": true, "gcj02": false, "personalRecord": false},
        "summaryDTO": {"startTimeLocal": "2026-04-26T09:30:52.0", "startTimeGMT":
        "2026-04-26T07:30:52.0", "startLatitude": 45.66647135652602, "startLongitude":
        9.956504786387086, "distance": 24951.3, "duration": 6872.751, "movingDuration":
        6864.869, "elapsedDuration": 6872.751, "elevationGain": 92.0, "elevationLoss":
        83.0, "maxElevation": 226.2, "minElevation": 189.0, "avgElevation": 199.26,
        "averageSpeed": 3.630000114440918, "averageMovingSpeed": 3.6346360874315553,
        "maxSpeed": 4.8429999351501465, "calories": 1970.0, "bmrCalories": 169.0,
        "averageHR": 148.0, "maxHR": 156.0, "minHR": 98.0, "averageRunCadence": 172.09375,
        "maxRunCadence": 188.0, "averageTemperature": 26.717663576436443, "maxTemperature":
        31.0, "minTemperature": 25.0, "averagePower": 431.0, "maxPower": 572.0, "minPower":
        0.0, "normalizedPower": 435.0, "totalWork": 707.1565290857801, "groundContactTime":
        245.89999389648438, "strideLength": 126.05000000000001, "verticalOscillation":
        9.280000305175781, "trainingEffect": 5.0, "anaerobicTrainingEffect": 0.6000000238418579,
        "aerobicTrainingEffectMessage": "OVERREACHING_14", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "verticalRatio": 7.380000114440918, "endLatitude":
        45.80779016017914, "endLongitude": 10.069651175290346, "maxVerticalSpeed":
        0.5999908447265625, "waterEstimated": 1908.0, "minRespirationRate": 23.09000015258789,
        "maxRespirationRate": 49.060001373291016, "avgRespirationRate": 39.59000015258789,
        "trainingEffectLabel": "LACTATE_THRESHOLD", "activityTrainingLoad": 325.6413269042969,
        "minActivityLapDuration": 261.51, "directWorkoutFeel": 100, "directWorkoutRpe":
        100, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 113, "steps":
        19582, "beginPotentialStamina": 88.0, "endPotentialStamina": 25.0, "minAvailableStamina":
        25.0, "avgGradeAdjustedSpeed": 3.635999917984009, "differenceBodyBattery":
        -22}, "locationName": "Sarnico", "splitSummaries": [{"distance": 110.57, "duration":
        55.999, "movingDuration": 52.0, "elevationGain": 0.0, "elevationLoss": 0.0,
        "averageSpeed": 1.9739999771118166, "averageMovingSpeed": 2.1428147485114715,
        "maxSpeed": 2.2019999027252197, "calories": 10.0, "bmrCalories": 1.0, "averageHR":
        140.0, "maxHR": 145.0, "averageRunCadence": 114.1875, "maxRunCadence": 177.0,
        "averageTemperature": 27.0, "maxTemperature": 27.0, "minTemperature": 26.0,
        "averagePower": 168.0, "maxPower": 219.0, "normalizedPower": 275.0, "groundContactTime":
        450.29998779296875, "strideLength": 87.54000244140626, "verticalOscillation":
        6.819999694824219, "verticalRatio": 7.829999923706055, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.0, "avgGradeAdjustedSpeed": 1.7970000505447388, "splitType":
        "RWD_WALK", "noOfSplits": 5, "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 50, "maxDistanceWithPrecision": 50.77, "avgStepFrequency":
        114.1875, "avgStepLength": 0.8754000244140626}, {"distance": 24951.28, "duration":
        6872.751, "movingDuration": 6868.0, "elevationGain": 92.0, "elevationLoss":
        83.0, "averageSpeed": 3.630000114440918, "averageMovingSpeed": 3.6329760187645603,
        "maxSpeed": 4.8429999351501465, "calories": 1970.0, "bmrCalories": 169.0,
        "averageHR": 148.0, "maxHR": 156.0, "averageRunCadence": 172.09375, "maxRunCadence":
        188.0, "averageTemperature": 27.0, "maxTemperature": 31.0, "minTemperature":
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/22663177131/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 22663177131, "measurementCount": 27, "metricsCount":
        6874, "totalMetricsCount": 6874, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directPotentialStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directPower", "unit": {"id":
        10, "key": "watt", "factor": 1.0}}, {"metricsIndex": 2, "key": "directTimestamp",
        "unit": {"id": 120, "key": "gmt", "factor": 0.0}}, {"metricsIndex": 3, "key":
        "directDoubleCadence", "unit": {"id": 92, "key": "stepsPerMinute", "factor":
        1.0}}, {"metricsIndex": 4, "key": "directVerticalOscillation", "unit": {"id":
        5, "key": "centimeter", "fac[...]
