interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?after=1766617199&per_page=100
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Back, calisthenics, triceps", "distance": 0.0, "moving_time":
        5194, "elapsed_time": 5194, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout_type": 30, "device_name": "Garmin
        Forerunner 965", "id": 16838881903, "start_date": "2025-12-25T17:15:17Z",
        "start_date_local": "2025-12-25T18:15:17Z", "timezone": "(GMT+01:00) Africa/Algiers",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 1, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a16838881903", "summary_polyline": "",
        "resource_state": 2}, "trainer": true, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0.0, "average_temp": 28, "has_heartrate": true, "average_heartrate": 69.1,
        "max_heartrate": 115.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 0.0, "elev_low": 0.0, "upload_id": 17930486315, "upload_id_str":
        "17930486315", "external_id": "garmin_ping_516397818354", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Slow run",
        "distance": 10018.3, "moving_time": 3049, "elapsed_time": 3379, "total_elevation_gain":
        32.0, "type": "Run", "sport_type": "Run", "workout_type": null, "device_name":
        "Garmin Forerunner 965", "id": 16844998965, "start_date": "2025-12-26T12:55:39Z",
        "start_date_local": "2025-12-26T13:55:39Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 3600[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/16838881903
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Back, calisthenics, triceps", "distance": 0.0, "moving_time":
        5194, "elapsed_time": 5194, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout_type": 30, "device_name": "Garmin
        Forerunner 965", "id": 16838881903, "start_date": "2025-12-25T17:15:17Z",
        "start_date_local": "2025-12-25T18:15:17Z", "timezone": "(GMT+01:00) Africa/Algiers",
        "utc_offset": 3600.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 1, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a16838881903", "polyline": "", "resource_state":
        3, "summary_polyline": ""}, "trainer": true, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0.0, "average_temp": 28, "has_heartrate": true, "average_heartrate": 69.1,
        "max_heartrate": 115.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "elev_high": 0.0, "elev_low": 0.0, "upload_id": 17930486315, "upload_id_str":
        "17930486315", "external_id": "garmin_ping_516397818354", "from_accepted_tag":
        false, "pr_count": 0, "total_photo_count": 0, "has_kudoed": false, "description":
        "Triangle lat pull-down: 3 sets x 13 reps @ 60kg\nSingle arm iliac pull-down:
        3 sets x 10 reps @ 26kg\nStraight arm pull-down: 3 sets x 13 reps @ 20kg\nDiagonal
        pull-up: 5 sets x 7 reps @ bodyweight\nVulken cable triceps pull-down (SS):
        3 sets x 10 reps @ 16kg\nDB skull crusher (SS): 3 sets x 5 reps @ 8kg\n",
        "calories": 266.0, "perceived_exertion": null, "prefer_perceived_exertion":
        null, "segment_efforts": [], "laps": [{"id": 60070352355, "resource_state":
        2, "name": "Lap 1", "activity": {"id": 16838881903, "visibility": "followers_only",
        "resource_state": 1}, "athlete": {"id": 115890775, "resource_state": 1}, "elapsed_time":
        5194, "moving_time": 5194, "start_date": "2025-12-25T17:15:17Z", "start_date_local":
        "2025-12-25T18:15:17Z", "distance": 0.0, "average_speed": 0.0, "max_speed":
        0.0, "lap_index": 1, "split": 1, "start_index": 0, "end_index": 2539, "total_elevation_gain":
        0, "device_watts": false, "average_heartrate": 69.1, "max_heartrate": 115.0}],
        "photos": {"primary": null, "count": 0}, "stats_visibility": [{"type": "heart_rate",
        "visibility": "everyone"}, {"type": "pace", "visibility": "everyone"}, {"type":
        "power", "visibility": "everyone"}, {"type": "speed", "visibility": "everyone"},
        {"type": "calories", "visibility": "everyone"}], "hide_from_home": false,
        "embed_token": "0925d90dc611662bd622773264a1efb47a2509c0", "available_zones":
        []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"326ede93c079e92b9aed8172d5801491"
      status:
      - 200 OK
      x-ratelimit-limit:
      - 200,2000
      x-ratelimit-usage:
      - 6,233
      x-readratelimit-limit:
      - 100,1000
      x-readratelimit-usage:
      - 6,233
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 135, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 82000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 54.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.41944327000000003, "lactateThresholdHeartRate":
        163, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1128446380, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["THURSDAY", "TUESDAY", "SATURDAY", "SUNDAY", "FRIDAY", "WEDNESDAY", "MONDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null}, "userSleep": {"sleepTime": 0, "defaultSleepTime":
        false, "wakeTime": 28800, "defaultWakeTime": false}, "connectDate": null,
        "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency": "SUNDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-12-25
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        21349480697, "activityName": "Strength", "startTimeLocal": "2025-12-25T18:15:17.0",
        "startTimeGMT": "2025-12-25T17:15:17.0", "activityType": {"typeId": 13, "typeKey":
        "strength_training", "parentTypeId": 29, "isHidden": false, "restricted":
        false, "trimmable": false}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "distance": 0.0, "duration": 5194.251953125, "ownerId":
        113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "calories":
        266.0, "bmrCalories": 126.48965404369213, "activeCalories": 139.51034595630787,
        "steps": 336, "privacy": {"typeId": 3, "typeKey": "subscribers"}, "requestorHasAccess":
        true, "elapsedDuration": 5194.251953125, "minTemperature": 24.0, "lapCount":
        1, "averageHR": 69.0, "activeSets": 15, "moderateIntensityMinutes": 14, "vigorousIntensityMinutes":
        0, "purposefull": false, "pr": false, "parent": false, "favorite": false,
        "atpActivity": false}], "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK":
        113739130, "calendarDate": "2025-12-25", "startTimestampGMT": "2025-12-24T23:00:00.0",
        "endTimestampGMT": "2025-12-25T23:00:00.0", "startTimestampLocal": "2025-12-25T00:00:00.0",
        "endTimestampLocal": "2025-12-26T00:00:00.0", "maxHeartRate": 84, "minHeartRate":
        36, "restingHeartRate": 37, "lastSevenDaysAvgRestingHeartRate": 37, "heartRateValueDescriptors":
        [{"key": "timestamp", "index": 0}, {"key": "heartrate", "index": 1}], "heartRateValues":
        [[1766617200000, 74], [1766617320000, 74], [1766617440000, 74], [1766617560000,
        74], [1766617680000, 67], [1766617800000, 43], [1766617920000, 46], [1766618040000,
        42], [1766618160000, 42], [1766618280000, 43], [1766618400000, 44], [1766618520000,
        46], [1766618640000, 43], [1766618760000, 42], [1766618880000, 43], [1766619000000,
        42], [1766619120000, 42], [1766619240000, 41], [1766619360000, 42], [1766619480000,
        43], [1766619600000, 41], [17666197[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/21349480697
  response:
    body:
      string: '{"activityId": 21349480697, "activityUUID": {"uuid": "68bdd75a-42f2-40fe-be1e-abf202edefbe"},
        "activityName": "Strength", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 13, "typeKey": "strength_training", "parentTypeId":
        29, "isHidden": false, "restricted": false, "trimmable": false}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 1003586, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-12-25T18:42:15.0", "uploadedDate":
        "2025-12-25T18:42:15.0", "videoUrl": null, "hasPolyline": false, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": false, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": null,
        "activityImages": [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount":
        1, "associatedWorkoutId": null, "isAtpActivity": null, "deviceMetaDataDTO":
        {"deviceId": "3444001964", "deviceTypePk": 37086, "deviceVersionPk": 1003586},
        "hasIntensityIntervals": false, "hasSplits": false, "eBikeMaxAssistModes":
        null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList":
        null, "hasRunPowerWindData": null, "calendarEventInfo": null, "groupRideUUID":
        null, "hasHeatMap": false, "personalRecord": false, "autoCalcCalories": false,
        "favorite": false, "trimmed": false, "manualActivity": false, "gcj02": false,
        "elevationCorrected": false, "runPowerWindDataEnabled": null}, "summaryDTO":
        {"startTimeLocal": "2025-12-25T18:15:17.0", "startTimeGMT": "2025-12-25T17:15:17.0",
        "distance": 0.0, "duration": 5194.252, "movingDuration": 1026.118, "elapsedDuration":
        5194.252, "averageSpeed": 0.0, "averageMovingSpeed": 0.0, "calories": 266.0,
        "bmrCalories": 126.0, "averageHR": 69.0, "maxHR": 115.0, "minHR": 43.0, "averageTemperature":
        28.561609549480167, "maxTemperature": 30.0, "minTemperature": 24.0, "trainingEffect":
        0.10000000149011612, "anaerobicTrainingEffect": 0.0, "aerobicTrainingEffectMessage":
        "NO_AEROBIC_BENEFIT_18", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "totalExerciseReps": 168, "activeSets": 15, "waterEstimated": 656.0, "trainingEffectLabel":
        "UNKNOWN", "activityTrainingLoad": 1.801361083984375, "minActivityLapDuration":
        5194.252, "moderateIntensityMinutes": 14, "vigorousIntensityMinutes": 0, "steps":
        336, "differenceBodyBattery": -5}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-12-26
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        21355417066, "activityName": "Verdellino Running", "startTimeLocal": "2025-12-26T13:55:39.0",
        "startTimeGMT": "2025-12-26T12:55:39.0", "activityType": {"typeId": 1, "typeKey":
        "running", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 10019.4404296875, "duration": 3049.68603515625, "activeSplitSummaryDuration":
        3049.68603515625, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 749.0, "bmrCalories": 74.26550252278645, "activeCalories": 674.7344974772136,
        "steps": 8578, "privacy": {"typeId": 3, "typeKey": "subscribers"}, "requestorHasAccess":
        true, "elapsedDuration": 3379.491943359375, "minTemperature": 14.0, "lapCount":
        11, "avgRespirationRate": 37.40999984741211, "averageHR": 130.0, "maxSpeed":
        0.4787000179290772, "maxSplitDistance": 10019, "noOfSplits": 1, "totalAscent":
        32.0, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 54, "purposefull":
        false, "atpActivity": false, "pr": true, "favorite": false, "parent": false}],
        "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK":
        113739130, "calendarDate": "2025-12-26", "startTimestampGMT": "2025-12-25T23:00:00.0",
        "endTimestampGMT": "202[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-12-27
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        21364232938, "activityName": "Verdellino - 6x300m", "startTimeLocal": "2025-12-27T12:52:28.0",
        "startTimeGMT": "2025-12-27T11:52:28.0", "activityType": {"typeId": 1, "typeKey":
        "running", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 9615.7900390625, "duration": 4494.77783203125, "activeSplitSummaryDuration":
        303.9939880371094, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 751.0, "bmrCalories": 109.45616387261283, "activeCalories": 641.5438361273872,
        "steps": 9920, "privacy": {"typeId": 3, "typeKey": "subscribers"}, "requestorHasAccess":
        true, "elapsedDuration": 5134.9560546875, "minTemperature": 19.0, "lapCount":
        19, "workoutId": 1090297018, "avgRespirationRate": 30.3799991607666, "averageHR":
        110.0, "maxSpeed": 0.7342999935150147, "maxSplitDistance": 300, "noOfSplits":
        6, "totalAscent": 3.0, "moderateIntensityMinutes": 25, "vigorousIntensityMinutes":
        53, "purposefull": false, "atpActivity": false, "favorite": false, "pr": false,
        "parent": false}], "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "errorM[...]
[...]
