interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1756854000&after=1756594799&per_page=100
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: calisthenics", "distance": 0.0, "moving_time":
        3600, "elapsed_time": 3600, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout_type": 30, "id": 15675847441, "start_date":
        "2025-09-02T17:00:00Z", "start_date_local": "2025-09-02T19:00:00Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 0,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a15675847441",
        "summary_polyline": "", "resource_state": 2}, "trainer": false, "commute":
        false, "manual": true, "private": false, "visibility": "followers_only", "flagged":
        false, "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed":
        0.0, "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Lunch Run",
        "distance": 10019.7, "moving_time": 3181, "elapsed_time": 3228, "total_elevation_gain":
        32.0, "type": "Run", "sport_type": "Run", "workout_type": 0, "device_name":
        "Garmin Forerunner 965", "id": 15658059835, "start_date": "2025-09-01T10:47:18Z",
        "start_date_local": "2025-09-01T12:47:18Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 2, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a15658059835", "summary_polyline": "wqkuGoduy@mAF_AP_@Du@Dc@AQBqAGc@B{@CUBKCmC@{BFuA[...]
