interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/segments/37699613
  response:
    body:
      string: '{"id": 37699613, "resource_state": 3, "name": "GAVIA UFFICIALE da S.Caterina",
        "activity_type": "Ride", "distance": 13105.4, "average_grade": 6.7, "maximum_grade":
        24.6, "elevation_high": 2616.0, "elevation_low": 1738.0, "start_latlng": [46.411443,
        10.494819], "end_latlng": [46.343536, 10.487763], "elevation_profile": "https://d3o5xota0a1fcr.cloudfront.net/v6/charts/EIRITLJRHKBN3EJZUJF76G64AKG5KGMOWYWU3TYFGJMJJYAASEBKO3NREN6X6SBWTUADWR6E5KZO4GLLRZIGYOQ=",
        "elevation_profiles": {"light_url": "https://d3o5xota0a1fcr.cloudfront.net/v6/charts/EIRITLJRHKBN3EJZUJF76G64AKG5KGMOWYWU3TYFGJMJJYAASEBKO3NREN6X6SBWTUADWR6E5KZO4GLLRZIGYOQ=",
        "dark_url": "https://d3o5xota0a1fcr.cloudfront.net/v6/charts/WK7K6FZF776JHESD2WNN5U52KFX2BXVKTLWADBH7ZJKWBYJGOR2C5PIGDBJZ6KKEG77TFAQYFVFRC45DB2KEVXA="},
        "climb_category": 5, "city": "Valfurva", "state": "Lombardy", "country": "Italy",
        "private": false, "hazardous": false, "starred": true, "created_at": "2024-09-01T20:32:35Z",
        "updated_at": "2024-09-01T20:32:35Z", "total_elevation_gain": 878.0, "map":
        {"id": "s37699613", "polyline": "ovgzGqw`_A`Aw@dAgADC`@EFCRSZk@\\ULUDSTqAJaANa@NMn@Y`@WRUb@u@X]hAeARMH@BJW|BKZ_@j@OlAOh@i@fAa@~@GRGhBAzAKr@_@lAWl@[`@GN?DBFXGjAeAnA{B\\gCL]LSPQVIPMV[Vg@ZWlAk@rAKZEHCFIBMIaA@MBMd@s@V[dAwAz@o@Tc@`@a@dAm@FGx@YRSRg@Ny@V[VUHEX?b@Mp@]h@a@H?@FAFKNq@h@e@f@a@XMRUv@Q|@oA~Bg@dBIJe@`@WZKRUr@CBOn@AHBDDBHIVs@R_@HG~@a@p@SHITYd@y@h@m@VST[dBuBBCD@?L_@f@[l@YlA]hASlAWh@]^Yd@IRYlAUf@GjAKz@UZa@^g@|@g@t@g@nA@ND?BC^s@VUj@]`@c@hAYNIZc@ZYPSnAyBPQTI\\BXEPGPK`AaB^aALOh@]j@s@fAw@ZQpAe@`@Gb@CTElBcApAQr@@PEb@Sf@MNGb@c@NGPAJ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1756854000&after=1756594799&per_page=100
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Weight training: calisthenics", "distance": 0.0, "moving_time":
        3600, "elapsed_time": 3600, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "workout_type": 30, "id": 15675847441, "start_date":
        "2025-09-02T17:00:00Z", "start_date_local": "2025-09-02T19:00:00Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 0,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a15675847441",
        "summary_polyline": "", "resource_state": 2}, "trainer": false, "commute":
        false, "manual": true, "private": false, "visibility": "followers_only", "flagged":
        false, "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed":
        0.0, "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "resource_state": 1}, "name": "Lunch Run",
        "distance": 10019.7, "moving_time": 3181, "elapsed_time": 3228, "total_elevation_gain":
        32.0, "type": "Run", "sport_type": "Run", "workout_type": 0, "device_name":
        "Garmin Forerunner 965", "id": 15658059835, "start_date": "2025-09-01T10:47:18Z",
        "start_date_local": "2025-09-01T12:47:18Z", "timezone": "(GMT+01:00) Europe/Rome",
        "utc_offset": 7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 2, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a15658059835", "summary_polyline": "wqkuGoduy@mAF_AP_@Du@Dc@AQBqAGc@B{@CUBKCmC@{BFuA[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/activities/15647482107
  response:
    body:
      string: '{"resource_state": 3, "athlete": {"id": 115890775, "resource_state":
        1}, "name": "Santa Caterina di Valfurva - Passo Gavia", "distance": 27584.7,
        "moving_time": 6788, "elapsed_time": 9872, "total_elevation_gain": 888.0,
        "type": "Ride", "sport_type": "MountainBikeRide", "workout_type": null, "device_name":
        "Garmin[...]
