interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 101, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 49.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.37777672, "lactateThresholdHeartRate": 160,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1115147309, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "TUESDAY", "THURSDAY", "WEDNESDAY", "MONDAY", "SUNDAY", "FRIDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=20&minDistance=15000&maxDistance=22000
  response:
    body:
      string: '[{"activityId": 18891426764, "activityName": "Verdellino Running",
        "startTimeLocal": "2025-04-21 12:35:00", "startTimeGMT": "2025-04-21 10:35:00",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "distance": 21117.830078125,
        "duration": 6332.43115234375, "elapsedDuration": 6425.55078125, "movingDuration":
        6325.236022949219, "elevationGain": 75.0, "elevationLoss": 73.0, "averageSpeed":
        3.3350000381469727, "maxSpeed": 4.703000068664551, "startLatitude": 45.60910846106708,
        "startLongitude": 9.616695223376155, "hasPolyline": true, "hasImages": false,
        "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "ownerFullName": "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 1683.0, "bmrCalories": 153.0, "averageHR": 138.0, "maxHR": 162.0,
        "averageRunningCadenceInStepsPerMinute": 168.03125, "maxRunningCadenceInStepsPerMinute":
        179.0, "steps": 17662, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_ATP_READ",
        "SCOPE_DIVE_API_WRITE", "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ", "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_TOKEN_ADMIN",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo":
        false, "timeZoneId": 124, "beginTimestamp": 1745231700000, "sportTypeId":
        1, "avgPower": 388.0, "maxPower": 610.0, "aerobicTrainingEffect": 5.0, "anaerobicTrainingEffect":
        2.4000000953674316, "normPower": 391.0, "avgVerticalOscillation": 9.419999694824218,
        "avgGroundContactTime": 257.8999938964844, "avgStrideLength": 119.66999511718751,
        "vO2MaxValue": 48.0, "avgVerticalRatio": 7.880000114440918, "deviceId": 3444001964,
        "minTemperature": 23.0, "maxTemperature": 27.0, "minElevation": 170.1999969482422,
        "maxElevation": 189.0, "maxDoubleCadence": 179.0, "summarizedDiveInfo": {"summarizedDiveGases":
        []}, "maxVerticalSpeed": 0.600006103515625, "manufacturer": "GARMIN", "locationName":
        "Verdellino", "lapCount": 22, "endLatitude": 45.608706967905164, "endLongitude":
        9.616325329989195, "waterEstimated": 1758.0, "minRespirationRate": 17.290000915527344,
        "maxRespirationRate": 55.31999969482422, "avgRespirationRate": 42.66999816894531,
        "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad": 656.4812622070312,
        "minActivityLapDuration": 32.766998291015625, "aerobicTrainingEffectMessage":
        "OVERREACHING_11", "anaerobicTrainingEffectMessage": "MAINTAINING_ANAEROBIC_BASE_1",
        "splitSummaries": [{"noOfSplits": 1, "totalAscent": 75.0, "duration": 6332.43115234375,
        "splitType": "INTERVAL_ACTIVE", "numClimbSends": 0, "maxElevationGain": 75.0,
        "averageElevationGain": 75.0, "maxDistance": 21117, "distance": 21117.810546875,
        "averageSpeed": 3.3350000381469727, "maxSpeed": 4.703000068664551, "numFalls":
        0, "elevationLoss": 73.0}, {"noOfSplits": 4, "totalAscent": 75.0, "duration":
        6317.52294921875, "splitType": "RWD_RUN", "numClimbSends": 0, "maxElevationGain":
        32.0, "averageElevationGain": 19.0, "maxDistance": 10085, "distance": 21080.109375,
        "averageSpeed": 3.3369998931884766, "maxSpeed": 4.703000068664551, "numFalls":
        0, "elevationLoss": 73.0}, {"noOfSplits": 5, "totalAscent": 0.0, "duration":
        14.892999649047852, "splitType": "RWD_WALK", "numClimbSends": 0, "maxElevationGain":
        0.0, "averageElevationGain": 0.0, "maxDistance": 26, "distance": 37.720001220703125,
        "averageSpeed": 2.5329999923706055, "maxSpeed": 2.2109999656677246, "numFalls":
        0, "elevationLoss": 0.0}, {"noOfSplits": 2, "duration": 0.0, "splitType":
        "RWD_STAND", "numClimbSends": 0, "numFalls": 0}], "hasSplits": true, "moderateIntensityMinutes":
        0, "vigorousIntensityMinutes": 107, "avgGradeAdjustedSpeed": 3.351999998092652,
        "differenceBodyBattery": -32, "hasHeatMap": false, "fastestSplit_1000": 269.8500061035156,
        "fastestSplit_1609": 441.64300537109375, "fastestSplit_5000": 1429.822021484375,
        "fastestSplit_10000": 2905.97998046875, "fastestSplit_21098": 6332.43115234375,
        "hrTimeInZone_1": 10.909, "hrTimeInZone_2": 33.679, "hrTimeInZone_3": 92.0,
        "hrTimeInZone_4": 1914.123, "hrTimeInZone_5": 4281.47, "powerTimeInZone_1":
        143.99, "powerTimeInZone_2": 2357.921, "powerTimeInZone_3": 3151.706, "powerTimeInZone_4":
        578.977, "powerTimeInZone_5": 53.998, "endTimeGMT": "2025-04-21 12:22:05",
        "qualifyingDive": false, "autoCalcCalories": false, "elevationCorrected":
        false, "atpActivity": false, "decoDive": false, "favorite": false, "purposeful":
        false, "pr": false, "manualActivity": false, "parent": false}, {"activityId":
        18843799124, "activityName": "Verdellino Running", "startTimeLocal": "2025-04-16
        12:01:39", "startTimeGMT": "2025-04-16 10:01:39", "activityType": {"typeId":
        1, "typeKey": "running", "parentTypeId": 17, "isHidden": false, "restricted":
        false, "trimmable": true}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "distance": 18016.2109375, "duration": 5390.59716796875,
        "elapsedDuration": 5390.59716796875[...]
