interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 101, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 48.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.36944341, "lactateThresholdHeartRate": 170,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1114172809, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "FRIDAY", "THURSDAY", "TUESDAY", "SATURDAY", "MONDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-03-31
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        18689027868, "activityName": "Bergamo Mountain Biking", "startTimeLocal":
        "2025-03-31T09:29:56.0", "startTimeGMT": "2025-03-31T07:29:56.0", "activityType":
        {"typeId": 5, "typeKey": "mountain_biking", "parentTypeId": 2, "isHidden":
        false, "trimmable": true, "restricted": false}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "distance": 60436.87890625,
        "duration": 14023.0595703125, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1972.0, "bmrCalories": 337.5921748408565, "activeCalories": 1634.4078251591436,
        "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess": true,
        "elapsedDuration": 19900.06640625, "minTemperature": 21.0, "lapCount": 13,
        "averageHR": 96.0, "maxSpeed": 1.56850004196167, "moderateIntensityMinutes":
        53, "vigorousIntensityMinutes": 123, "pr": false, "purposefull": false, "atpActivity":
        false, "favorite": false, "parent": false}], "successful": true}, "AllDayHR":
        {"requestUrl": "/wellness-service/wellness/dailyHeartRate", "statusCode":
        200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK": 113739130,
        "calendarDate": "2025-03-31", "startTimestampGMT": "2025-03-30T22:00:00.0",
        "endTimestampGMT": "2025-03-31T22:00:00.0", "startTimestampLocal": "2025-03-31T00:00:00.0",
        "endTimestampLocal": "2025-04-01T00:00:00.0", "maxHeartRate": 136, "minHeartRate":
        50, "restingHeartRate": 51, "lastSevenDaysAvgRestingHeartRate": 50, "heartRateValueDescriptors":
        [{"key": "timestamp", "index": 0}, {"key": "heartrate", "index": 1}], "heartRateValues":
        [[1743372000000, null], [1743402120000, 73], [1743402240000, 77], [1743402360000,
        63], [1743402480000, 67], [1743402600000, 60], [1743402720000, 64], [1743402840000,
        61], [1743402960000, 65], [1743403080000, 56], [1743403200000, 50], [1743403320000,
        63], [1743403440000, 57], [1743403560000, 52], [1743403680000, 52], [1743403800000,
        50], [1743403920000, 50], [1743404040000, 52], [1743404160000, 54], [1743404280000,
        50], [1743404400000, 50], [174340[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2024-06-18
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        15974223178, "activityName": "Bergamo Cycling", "startTimeLocal": "2024-06-18T10:24:51.0",
        "startTimeGMT": "2024-06-18T08:24:51.0", "activityType": {"typeId": 2, "typeKey":
        "cycling", "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable":
        true}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 62270.12109375, "duration": 13562.37890625, "activeSplitSummaryDuration":
        13562.37905883789, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1597.0, "bmrCalories": 321.63558308919266, "activeCalories": 1275.3644169108074,
        "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess": true,
        "elapsedDuration": 23251.44921875, "minTemperature": 25.0, "lapCount": 13,
        "avgRespirationRate": 25.040000915527344, "averageHR": 98.0, "maxSpeed": 1.311900043487549,
        "maxSplitDistance": 62270, "totalAscent": 1342.0, "moderateIntensityMinutes":
        72, "vigorousIntensityMinutes": 80, "purposefull": false, "pr": false, "atpActivity":
        false, "favorite": false, "parent": false}], "successful": true}, "AllDayHR":
        {"requestUrl": "/wellness-service/wellness/dailyHeartRate", "statusCode":
        200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK": 113739130,
        "calendarDate": "2024-06-18", "startTimestampGMT": "2024-06-17T22:00:00.0",
        "endTimestampGMT": "2024-06-18T22:00:00.0", "startTimestampLocal": "2024-06-18T00:00:00.0",
        "endTimestampLocal": "2024-06-19T00:00:00.0", "maxHeartRate": null, "minHeartRate":
        null, "restingHeartRate": 52, "lastSevenDaysAvgRestingHeartRate": 49, "heartRateValueDescriptors":
        null, "heartRateValues": null}, "successful": true}, "SleepTimes": {"currentDaySleepEndTimeGMT":
        null, "currentDaySleepStartTimeGMT": null, "nextDaySleepEndTimeGMT": null,
        "nextDaySleepStartTimeGMT": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2023-11-26
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        12877651519, "activityName": "Milan Running", "startTimeLocal": "2023-11-26T09:00:56.0",
        "startTimeGMT": "2023-11-26T08:00:56.0", "activityType": {"typeId": 1, "typeKey":
        "running", "parentTypeId": 17, "isHidden": false, "trimmable": true, "restricted":
        false}, "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "distance": 21460.8203125, "duration": 5762.330078125, "activeSplitSummaryDuration":
        5762.330078125, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1443.0, "bmrCalories": 137.05542026095918, "activeCalories": 1305.9445797390408,
        "steps": 16554, "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess":
        true, "elapsedDuration": 5762.330078125, "minTemperature": 17.0, "lapCount":
        22, "avgRespirationRate": 35.900001525878906, "averageHR": 148.0, "maxSpeed":
        0.5235000133514405, "maxSplitDistance": 21460, "noOfSplits": 1, "totalAscent":
        34.0, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes": 92, "pr":
        false, "purposefull": false, "atpActivity": false, "favorite": false, "parent":
        false}], "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK":
        113739130, "calendarDate": "2023-11-26", "startTimestampGMT": "2023-11-25T23:00:00.0",
        "endTimestampGMT": "2023-11-26T23:00:00.0", "startTimestampLocal": "2023-11-26T00:00:00.0",
        "endTimestampLocal": "2023-11-27T00:00:00.0", "maxHeartRate": null, "minHeartRate":
        null, "restingHeartRate": 44, "lastSevenDaysAvgRestingHeartRate": 44, "heartRateValueDescriptors":
        null, "heartRateValues": null}, "successful": true}, "SleepTimes": {"currentDaySleepEndTimeGMT":
        null, "currentDaySleepStartTimeGMT": null, "nextDaySleepEndTimeGMT": null,
        "nextDaySleepStartTimeGMT": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-04-18
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        18861865288, "activityName": "Bergamo - 5x40s", "startTimeLocal": "2025-04-18T09:17:00.0",
        "startTimeGMT": "2025-04-18T07:17:00.0", "activityType": {"typeId": 5, "typeKey":
        "mountain_biking", "parentTypeId": 2, "isHidden": false, "trimmable": true,
        "restricted": false}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "distance": 39593.01953125, "duration": 8225.34765625, "activeSplitSummaryDuration":
        5415.84716796875, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 1123.0, "bmrCalories": 199.16003815827548, "activeCalories": 923.8399618417245,
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "requestorHasAccess":
        true, "elapsedDuration": 11261.044921875, "minTemperature": 17.0, "lapCount":
        16, "workoutId": 1190415244, "avgRespirationRate": 26.84000015258789, "averageHR":
        93.0, "maxSpeed": 1.2699000358581545, "maxSplitDistance": 19819, "noOfSplits":
        7, "totalAscent": 187.0, "moderateIntensityMinutes": 42, "vigorousIntensityMinutes":
        55, "purposefull": false, "atpActivity": false, "favorite": false, "pr": false,
        "parent": false}], "successful": true}, "AllDayHR": {"requestUrl": "/wellness-service/wellness/dailyHeartRate",
        "statusCode": 200, "headers": {}, "er[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-03-22
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        18603794245, "activityName": "Strength", "startTimeLocal": "2025-03-22T12:06:14.0",
        "startTimeGMT": "2025-03-22T11:06:14.0", "activityType": {"typeId": 13, "typeKey":
        "strength_training", "parentTypeId": 29, "isHidden": false, "restricted":
        false, "trimmable": false}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "distance": 0.0, "duration": 5267.6572265625, "ownerId":
        113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "calories":
        410.0, "bmrCalories": 126.81397026909723, "activeCalories": 283.18602973090276,
        "steps": 428, "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess":
        true, "elapsedDuration": 5267.6572265625, "minTemperature": 31.0, "lapCount":
        1, "averageHR": 72.0, "activeSets": 21, "moderateIntensityMinutes": 38, "vigorousIntensityMinutes":
        3, "purposefull": false, "pr": false, "parent": false, "favorite": false,
        "atpActivity": false}, {"activityId": 18606916834, "activityName": "Limone
        Piemonte Trail Running", "startTimeLocal": "2025-03-22T17:04:36.0", "startTimeGMT":
        "2025-03-22T16:04:36.0", "activityType": {"typeId": 6, "typeKey": "trail_running",
        "parentTypeId": 1, "isHidden": false, "restricted": false, "trimmable": true},
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18689027868
  response:
    body:
      string: '{"activityId": 18689027868, "activityUUID": {"uuid": "c452ba30-c095-4cd8-9a97-a9366b088295"},
        "activityName": "Bergamo Mountain Biking", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 5, "typeKey": "mountain_biking", "parentTypeId":
        2, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 2, "typeKey": "private"}, "timeZoneUnitDTO": {"unitId": 124, "unitKey":
        "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 991290, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-03-31T13:02:40.0", "uploadedDate":
        "2025-03-31T13:02:39.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": false, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": null,
        "activityImages": [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount":
        13, "associatedWorkoutId": null, "isAtpActivity": null, "deviceMetaDataDTO":
        {"deviceId": "3444001964", "deviceTypePk": 37086, "deviceVersionPk": 991290},
        "hasIntensityIntervals": false, "hasSplits": false, "eBikeMaxAssistModes":
        null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList":
        null, "hasRunPowerWindData": null, "calendarEventInfo": null, "groupRideUUID":
        null, "hasHeatMap": false, "trimmed": false, "gcj02": false, "runPowerWindDataEnabled":
        null, "autoCalcCalories": false, "favorite": false, "personalRecord": false,
        "manualActivity": false, "elevationCorrected": false}, "summaryDTO": {"startTimeLocal":
        "2025-03-31T09:29:56.0", "startTimeGMT": "2025-03-31T07:29:56.0", "startLatitude":
        45.72029381990433, "startLongitude": 9.684466095641255, "distance": 60436.88,
        "duration": 14023.06, "movingDuration": 13871.828, "elapsedDuration": 19900.066,
        "elevationGain": 1405.0, "elevationLoss": 1399.0, "maxElevation": 1104.6,
        "minElevation": 254.2, "averageSpeed": 4.309999942779541, "averageMovingSpeed":
        4.356807093309369, "maxSpeed": 15.6850004196167, "calories": 1972.0, "bmrCalories":
        338.0, "averageHR": 96.0, "maxHR": 147.0, "minHR": 46.0, "averageTemperature":
        24.376506693351562, "maxTemperature": 31.0, "minTemperature": 21.0, "trainingEffect":
        3.4000000953674316, "anaerobicTrainingEffect": 2.9000000953674316, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage": "MAINTAINING_ANAEROBIC_BASE_1",
        "endLatitude": 45.72030019015074, "endLongitude": 9.684445895254612, "maxVerticalSpeed":
        1.7999877929687502, "grit": 145.0265655517578, "waterEstimated": 2364.0, "trainingEffectLabel":
        "AEROBIC_BASE", "activityTrainingLoad": 195.61366271972656, "avgFlow": 3.0469846725463867,
        "minActivityLapDuration": 84.441, "directWorkoutFeel": 75, "directWorkoutRpe":
        80, "moderateIntensityMinutes": 53, "vigorousIntensityMinutes": 123, "beginPotentialStamina":
        100.0, "endPotentialStamina": 26.0, "minAvailableStamina": 13.0, "differenceBodyBattery":
        -38}, "locationName": "Bergamo"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
