interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 101, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 48.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.36944341, "lactateThresholdHeartRate": 170,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1114172809, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "FRIDAY", "THURSDAY", "TUESDAY", "SATURDAY", "MONDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18689027868/typedsplits
  response:
    body:
      string: '{"activityId": 18689027868, "activityUUID": {"uuid": "c452ba30-c095-4cd8-9a97-a9366b088295"},
        "splits": []}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/15974223178/typedsplits
  response:
    body:
      string: '{"activityId": 15974223178, "activityUUID": {"uuid": "6ddab73a-aacb-4a04-899c-0ef8449c9ba6"},
        "splits": [{"startTimeLocal": "2024-06-18T10:24:51.0", "startTimeGMT": "2024-06-18T08:24:51.0",
        "distance": 62270.11, "duration": 13562.379, "movingDuration": 13293.0, "elapsedDuration":
        23251.45, "elevationGain": 1342.0, "elevationLoss": 1349.0, "averageSpeed":
        4.591385466906244, "averageMovingSpeed": 4.6844286547372205, "maxSpeed": 13.119000434875488,
        "calories": 1598.0, "averageHR": 98.0, "maxHR": 146.0, "minHR": 65.0, "averageTemperature":
        31.25813287096002, "maxTemperature": 36.0, "minTemperature": 25.0, "totalExerciseReps":
        0, "type": "INTERVAL_ACTIVE", "messageIndex": 1, "lapIndexes": [1, 2, 3, 4,
        5, 6, 7, 8, 9, 10, 11, 12, 13], "endTimeGMT": "2024-06-18T14:44:34.894"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/12877651519/typedsplits
  response:
    body:
      string: '{"activityId": 12877651519, "activityUUID": {"uuid": "bd30b1ea-0cd8-40ec-873f-00ababe4a8b7"},
        "splits": [{"startTimeLocal": "2023-11-26T09:00:56.0", "startTimeGMT": "2023-11-26T08:00:56.0",
        "startLatitude": 45.48202355392277, "startLongitude": 9.157638670876622, "distance":
        21460.79, "duration": 5762.33, "movingDuration": 5760.0, "elapsedDuration":
        5795.511, "elevationGain": 34.0, "elevationLoss": 28.0, "averageSpeed": 3.7239999771118164,
        "averageMovingSpeed": 3.725831434461806, "maxSpeed": 5.235000133514404, "calories":
        1443.0, "bmrCalories": 137.0, "averageHR": 148.0, "maxHR": 159.0, "averageRunCadence":
        172.796875, "maxRunCadence": 183.0, "averageTemperature": 18.0, "maxTemperature":
        19.0, "minTemperature": 17.0, "averagePower": 408.0, "maxPower": 577.0, "normalizedPower":
        412.0, "groundContactTime": 241.8000030517578, "strideLength": 128.60999755859376,
        "verticalOscillation": 9.450000000000001, "verticalRatio": 7.369999885559082,
        "totalExerciseReps": 0, "endLatitude": 45.48203025944531, "endLongitude":
        9.157531131058931, "avgVerticalSpeed": 0.0010000000474974513, "avgGradeAdjustedSpeed":
        3.7149999141693115, "avgElapsedDurationVerticalSpeed": 0.0010763896836174858,
        "type": "INTERVAL_ACTIVE", "messageIndex": 0, "endTimeGMT": "2023-11-26T09:36:58.0",
        "startElevation": 126.4}, {"startTimeLocal": "2023-11-26T09:00:56.0", "startTimeGMT":
        "2023-11-26T08:00:56.0", "startLatitude": 45.48202355392277, "startLongitude":
        9.157638670876622, "distance": 8.25, "duration": 4.0, "movingDuration": 1.0,
        "elapsedDuration": 4.0, "elevationGain": 0.0, "elevationLoss": 0.0, "averageSpeed":
        2.062999963760376, "averageMovingSpeed": 8.25, "maxSpeed": 1.9309999942779543,
        "calories": 0.0, "bmrCalories": 0.0, "averageHR": 109.0, "maxHR": 111.0,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/11313479371/typedsplits
  response:
    body:
      string: '{"activityId": 11313479371, "activityUUID": {"uuid": "e3d5c00c-1889-4172-8771-f50be0605754"},
        "splits": [{"startTimeLocal": "2023-06-10T08:31:11.0", "startTimeGMT": "2023-06-10T06:31:11.0",
        "distance": 46988.64, "duration": 13600.13, "movingDuration": 11608.0, "elapsedDuration":
        20814.65, "elevationGain": 1598.0, "elevationLoss": 1462.0, "averageSpeed":
        3.455014040543503, "averageMovingSpeed": 4.047953137030362, "maxSpeed": 16.81399917602539,
        "calories": 2070.0, "averageHR": 121.0, "maxHR": 161.0, "minHR": 71.0, "averageTemperature":
        26.26374849587644, "maxTemperature": 35.0, "minTemperature": 20.0, "totalExerciseReps":
        0, "grit": 167.18203282356262, "avgFlow": 2.2446606547283463, "type": "INTERVAL_ACTIVE",
        "messageIndex": 1, "lapIndexes": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "endTimeGMT":
        "2023-06-10T12:18:06.40"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
