interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 101, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 48.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.36944341, "lactateThresholdHeartRate": 170,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1114172809, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "SUNDAY", "WEDNESDAY", "FRIDAY", "SATURDAY", "THURSDAY", "TUESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/heartRate/forDate/2025-03-22
  response:
    body:
      string: '{"ActivitiesForDay": {"requestUrl": "/activitylist-service/activities/fordailysummary/3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": [{"activityId":
        18603794245, "activityName": "Strength", "startTimeLocal": "2025-03-22T12:06:14.0",
        "startTimeGMT": "2025-03-22T11:06:14.0", "activityType": {"typeId": 13, "typeKey":
        "strength_training", "parentTypeId": 29, "isHidden": false, "restricted":
        false, "trimmable": false}, "eventType": {"typeId": 9, "typeKey": "uncategorized",
        "sortOrder": 10}, "distance": 0.0, "duration": 5267.6572265625, "ownerId":
        113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "calories":
        410.0, "bmrCalories": 126.81397026909723, "activeCalories": 283.18602973090276,
        "steps": 428, "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess":
        true, "elapsedDuration": 5267.6572265625, "minTemperature": 31.0, "lapCount":
        1, "averageHR": 72.0, "activeSets": 21, "moderateIntensityMinutes": 38, "vigorousIntensityMinutes":
        3, "purposefull": false, "pr": false, "favorite": false, "parent": false,
        "atpActivity": false}, {"activityId": 18606916834, "activityName": "Limone
        Piemonte Trail Running", "startTimeLocal": "2025-03-22T17:04:36.0", "startTimeGMT":
        "2025-03-22T16:04:36.0", "activityType": {"typeId": 6, "typeKey": "trail_running",
        "parentTypeId": 1, "isHidden": false, "restricted": false, "trimmable": true},
        "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "distance":
        10803.7001953125, "duration": 4177.955078125, "activeSplitSummaryDuration":
        4177.955078125, "ownerId": 113739130, "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "calories": 951.0, "bmrCalories": 100.58040002893519, "activeCalories": 850.4195999710648,
        "steps": 11150, "privacy": {"typeId": 2, "typeKey": "private"}, "requestorHasAccess":
        true, "elapsedDuration": 4177.955078125, "minTemperature": 12.0, "lapCount":
        11, "averageHR": 121.0, "maxSpeed": 0.440399980545044, "maxSplitDistance":
        10803, "noOfSplits": 1, "totalAscent": 514.0, "moderateIntensityMinutes":
        1, "vigorousIntensityMinutes": 44, "purposefull": false, "pr": false, "favorite":
        false, "parent": false, "atpActivity": false}], "successful": true}, "AllDayHR":
        {"requestUrl": "/wellness-service/wellness/dailyHeartRate", "statusCode":
        200, "headers": {}, "errorMessage": null, "payload": {"userProfilePK": 113739130,
        "calendarDate": "2025-03-22", "startTimestampGMT": "2025-03-21T23:00:00.0",
        "endTimestampGMT": "2025-03-22T23:00:00.0", "startTimestampLocal": "2025-03-22T00:00:00.0",
        "endTimestampLocal": "2025-03-23T00:00:00.0", "maxHeartRate": 137, "minHeartRate":
        53, "restingHeartRate": 50, "lastSevenDaysAvgRestingHeartRate": 47, "heartRateValues":
        [[1742598000000, null], [1742624040000, 77], [1742624160000, 92], [1742624280000,
        95], [1742624400000, 63], [1742624520000, 63], [1742624640000, 59], [1742624760000,
        57], [1742624880000, 67], [1742625000000, 59], [1742625120000, 61], [1742625240000,
        61], [1742625360000, 59], [1742625480000, 61], [1742625600000, 60], [1742625720000,
        61], [1742625840000, 57], [1742625960000, 74], [1742626080000, 68], [1742626200000,
        60], [1742626320000, 62], [174262[...]
