interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 101, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 48.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.36944341, "lactateThresholdHeartRate": 170,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1114172809, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SUNDAY", "FRIDAY", "THURSDAY", "TUESDAY", "SATURDAY", "MONDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18606916834
  response:
    body:
      string: '{"activityId": 18606916834, "activityUUID": {"uuid": "56e0a3b9-1e01-41fd-9706-969ddc783154"},
        "activityName": "Limone Piemonte Trail Running", "userProfileId": 113739130,
        "isMultiSportParent": false, "activityTypeDTO": {"typeId": 6, "typeKey": "trail_running",
        "parentTypeId": 1, "isHidden": false, "restricted": false, "trimmable": true},
        "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10},
        "accessControlRuleDTO": {"typeId": 2, "typeKey": "private"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 991290,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2025-03-22T17:29:36.0", "uploadedDate": "2025-03-22T17:29:35.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": true, "userInfoDto": {"userProfilePk": 113739130, "displayname":
        "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": null,
        "activityImages": [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount":
        11, "associatedWorkoutId": null, "isAtpActivity": null, "deviceMetaDataDTO":
        {"deviceId": "3444001964", "deviceTypePk": 37086, "deviceVersionPk": 991290},
        "hasIntensityIntervals": false, "hasSplits": true, "eBikeMaxAssistModes":
        null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList":
        null, "hasRunPowerWindData": true, "calendarEventInfo": null, "groupRideUUID":
        null, "hasHeatMap": false, "trimmed": false, "manualActivity": false, "runPowerWindDataEnabled":
        true, "personalRecord": false, "autoCalcCalories": false, "favorite": false,
        "gcj02": false, "elevationCorrected": false}, "summaryDTO": {"startTimeLocal":
        "2025-03-22T17:04:36.0", "startTimeGMT": "2025-03-22T16:04:36.0", "startLatitude":
        44.16586736217141, "startLongitude": 7.569181434810162, "distance": 10803.7,
        "duration": 4177.955, "movingDuration": 4173.44, "elapsedDuration": 4177.955,
        "elevationGain": 514.0, "elevationLoss": 508.0, "maxElevation": 1803.6, "minElevation":
        1396.8, "averageSpeed": 2.5859999656677246, "averageMovingSpeed": 2.5886798967979896,
        "maxSpeed": 4.4039998054504395, "calories": 951.0, "bmrCalories": 101.0, "averageHR":
        121.0, "maxHR": 146.0, "minHR": 98.0, "averageRunCadence": 159.359375, "maxRunCadence":
        236.0, "averageTemperature": 15.536073508039488, "maxTemperature": 19.0, "minTemperature":
        12.0, "averagePower": 333.0, "maxPower": 473.0, "minPower": 0.0, "normalizedPower":
        353.0, "totalWork": 331.74065994911723, "groundContactTime": 277.20001220703125,
        "strideLength": 97.27000122070314, "verticalOscillation": 8.34000015258789,
        "trainingEffect": 3.700000047683716, "anaerobicTrainingEffect": 2.0, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_ENDURANCE_9", "anaerobicTrainingEffectMessage": "MAINTAINING_ANAEROBIC_BASE_1",
        "verticalRatio": 8.930000305175781, "endLatitude": 44.1658887360245, "endLongitude":
        7.569096609950066, "maxVerticalSpeed": 0.8000488281250001, "waterEstimated":
        1025.0, "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad": 189.7177276611328,
        "minActivityLapDuration": 205.186, "directWorkoutFeel": 75, "directWorkoutRpe":
        80, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 44, "steps":
        11150, "beginPotentialStamina": 81.0, "endPotentialStamina": 56.0, "minAvailableStamina":
        50.0, "avgGradeAdjustedSpeed": 2.947999954223633, "differenceBodyBattery":
        -10}, "locationName": "Limone Piemonte", "splitSummaries": [{"distance": 10803.7,
        "duration": 4177.955, "movingDuration": 4174.0, "elevationGain": 514.0, "elevationLoss":
        508.0, "averageSpeed": 2.5859999656677246, "averageMovingSpeed": 2.588332581531504,
        "maxSpeed": 4.4039998054504395, "calories": 951.0, "bmrCalories": 101.0, "averageHR":
        121.0, "maxHR": 146.0, "averageRunCadence": 159.34375, "maxRunCadence": 236.0,
        "averageTemperature": 16.0, "maxTemperature": 19.0, "minTemperature": 12.0,
        "averagePower": 333.0, "maxPower": 473.0, "normalizedPower": 353.0, "groundContactTime":
        277.20001220703125, "strideLength": 97.27000122070314, "verticalOscillation":
        8.34000015258789, "verticalRatio": 8.930000305175781, "totalExerciseReps":
        0, "avgVerticalSpeed": 0.0020000000949949026, "avgGradeAdjustedSpeed": 2.947999954223633,
        "splitType": "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain": 514.0,
        "averageElevationGain": 171.0, "maxDistance": 10803, "maxDistanceWithPrecision":
        10803.7}, {"distance": 10347.36, "duration": 3794.001, "movingDuration": 3787.0,
        "elevationGain": 417.0, "elevationLoss": 508.0, "averageSpeed": 2.726999998092651,
        "averageMovingSpeed": 2.732226274747084, "maxSpeed": 4.4039998054504395, "calories":
        908.0, "bmrCalories": 91.0, "averageHR": 123.0, "maxHR": 146.0, "averageRunCadence":
        164.515625, "maxRunCadence": 236.0, "averageTemperature": 16.0, "maxTemperature":
        19.0, "minTemperature": 12.0, "aver[...]
