interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1782856800&after=1767221999&per_page=100
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Powerlifting class: 1RM test (PR deadlift:
        170kg \ud83c\udfc6)", "distance": 0.0, "moving_time": 3600, "elapsed_time":
        3600, "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "workout_type": 30, "id": 19128399013, "id_str": "19128399013", "start_date":
        "2026-06-30T17:00:00Z", "start_date_local": "2026-06-30T19:00:00Z", "timezone":
        "(GMT+01:00) Europe/Rome", "utc_offset": 7200.0, "location_city": null, "location_state":
        null, "location_country": null, "achievement_count": 0, "kudos_count": 0,
        "comment_count": 0, "athlete_count": 1, "photo_count": 0, "map": {"id": "a19128399013",
        "summary_polyline": "", "resource_state": 2}, "trainer": false, "commute":
        false, "manual": true, "private": false, "visibility": "followers_only", "flagged":
        false, "gear_id": null, "start_latlng": [], "end_latlng": [], "average_speed":
        0.0, "max_speed": 0, "has_heartrate": false, "heartrate_opt_out": false, "display_hide_heartrate_option":
        false, "upload_id": null, "external_id": null, "from_accepted_tag": false,
        "pr_count": 0, "total_photo_count": 0, "has_kudoed": false}, {"resource_state":
        2, "athlete": {"id": 115890775, "id_str": "115890775", "resource_state": 1},
        "name": "Biceps", "distance": 0.0, "moving_time": 4318, "elapsed_time": 4318,
        "total_elevation_gain": 0, "type": "WeightTraining", "sport_type": "WeightTraining",
        "workout_type": 30, "device_name": "Garmin Forerunner 965", "id": 19122134732,
        "id_str": "19122134732", "start_date": "2026-06-30T10:09:07Z", "start_date_local":
        "2026-06-30T12:09:07Z", "timezone": "(GMT+02:00) Africa/Blantyre", "utc_offset":
        7200.0, "location_city": null, "location_state": null, "location_country":
        null, "achievement_count": 0, "kudos_count": 2, "comment_count": 0, "athlete_count":
        1, "photo_count": 0, "map": {"id": "a19122134732", "summary_polyline": "",
        "resource_state": 2}, "trainer": true, "commute": false, "manual": false,
        "private": false, "visibility": "followers_only", "flagged": false, "gear_id":
        null, "start_latlng": [], "end_latlng": [], "average_speed": 0.0, "max_speed":
        0.0, "average_temp": 32, "has_heartrate": true, "average_heartrate": 60.4,
        "max_heartrate": 100.0, "heartrate_opt_out": false, "display_hide_heartrate_option":
        true, "upload_id": 20237787328, "upload_id_str": "20237787328", "external_id":
        "garmin_ping_591908177201", "from_accepted_tag": false, "pr_count": 0, "total_photo_count":
        0, "has_kudoed": false}, {"resource_state": 2, "athlete": {"id": 115890775,
        "id_str": "115890775", "resource_state": 1}, "name": "Alzano - Val Vertova
        - cascate", "distance": 42570.2, "moving_time": 7363, "elapsed_time": 8440,
        "total_elevation_gain": 473.0, "type": "Ride", "sport_type": "MountainBikeRide",
        "workout_type": null,[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.strava.com/api/v3/athlete/activities?before=1782856800&after=1767221999&per_page=100&page=2
  response:
    body:
      string: '[{"resource_state": 2, "athlete": {"id": 115890775, "id_str": "115890775",
        "resource_state": 1}, "name": "Legs plyometrics", "distance": 0.0, "moving_time":
        5400, "elapsed_time": 5400, "total_elevation_gain": 0, "type": "WeightTraining",
        "sport_type": "WeightTraining", "[...]
