interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 102, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 51.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3888878, "lactateThresholdHeartRate": 161,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1115481040, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["SATURDAY", "MONDAY", "TUESDAY", "SUNDAY", "THURSDAY", "FRIDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19042748874
  response:
    body:
      string: '{"activityId": 19042748874, "activityUUID": {"uuid": "e151c48c-0914-4071-833d-6ebd8fc6e997"},
        "activityName": "Verdellino - 4x1000m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 993667, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-05-06T15:56:40.0", "uploadedDate":
        "2025-05-06T15:56:39.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        3.9, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 12, "associatedWorkoutId": 1207589858, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 993667}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "personalRecord": false,
        "manualActivity": false, "runPowerWindDataEnabled": true, "trimmed": false,
        "autoCalcCalories": false, "favorite": false, "gcj02": false, "elevationCorrected":
        false}, "summaryDTO": {"startTimeLocal": "2025-05-06T17:00:50.0", "startTimeGMT":
        "2025-05-06T15:00:50.0", "startLatitude": 45.608920622617006, "startLongitude":
        9.616553988307714, "distance": 9277.32, "duration": 2918.416, "movingDuration":
        2879.187, "elapsedDuration": 2970.399, "elevationGain": 31.0, "elevationLoss":
        30.0, "maxElevation": 189.0, "minElevation": 170.2, "averageSpeed": 3.1789999008178715,
        "averageMovingSpeed": 3.2222013797320974, "maxSpeed": 4.916999816894531, "calories":
        654.0, "bmrCalories": 71.0, "averageHR": 131.0, "maxHR": 165.0, "minHR": 84.0,
        "averageRunCadence": 161.90625, "maxRunCadence": 227.0, "averageTemperature":
        21.173927584476676, "maxTemperature": 27.0, "minTemperature": 19.0, "averagePower":
        364.0, "maxPower": 589.0, "minPower": 0.0, "normalizedPower": 401.0, "totalWork":
        253.45941069493705, "groundContactTime": 258.0, "strideLength": 115.64000244140625,
        "verticalOscillation": 8.990000152587891, "trainingEffect": 3.5, "anaerobicTrainingEffect":
        3.4000000953674316, "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_FITNESS_2",
        "anaerobicTrainingEffectMessage": "IMPROVING_ECONOMY_AND_ANAEROBIC_BASE_11",
        "verticalRatio": 8.069999694824219, "endLatitude": 45.609803572297096, "endLongitude":
        9.616654152050614, "maxVerticalSpeed": 0.600006103515625, "waterEstimated":
        800.0, "minRespirationRate": 20.190000534057617, "maxRespirationRate": 46.22999954223633,
        "avgRespirationRate": 36.04999923706055, "trainingEffectLabel": "ANAEROBIC_CAPACITY",
        "activityTrainingLoad": 275.16021728515625, "minActivityLapDuration": 41.336,
        "directWorkoutFeel": 75, "directWorkoutRpe": 70, "directWorkoutComplianceScore":
        100, "moderateIntensityMinutes": 3, "vigorousIntensityMinutes": 44, "steps":
        8038, "beginPotentialStamina": 100.0, "endPotentialStamina": 63.0, "minAvailableStamina":
        54.0, "avgGradeAdjustedSpeed": 3.2049999237060547, "differenceBodyBattery":
        -11}, "locationName": "Verdellino", "splitSummaries": [{"distance": 2880.71,
        "duration": 955.954, "movingDuration": 921.0, "elevationGain": 17.0, "elevationLoss":
        4.0, "averageSpeed": 3.013000011444092, "averageMovingSpeed": 3.1278066894001086,
        "maxSpeed": 4.14300012588501, "calories": 210.0, "bmrCalories": 23.0, "averageHR":
        122.0, "maxHR": 137.0, "averageRunCadence": 155.25, "maxRunCadence": 182.0,
        "averageTemperature": 23.0, "maxTemperature": 27.0, "minTemperature": 21.0,
        "averagePower": 355.0, "maxPower": 514.0, "normalizedPower": 377.0, "groundContactTime":
        260.5, "strideLength": 115.55000000000001, "verticalOscillation": 9.200000000000001,
        "verticalRatio": 8.039999961853027, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.013000000268220901, "avgGradeAdjustedSpeed": 3.0880000591278076, "splitType":
        "INTERVAL_WARMUP", "noOfSplits": 1, "maxElevationGain": 17.0, "averageElevationGain":
        17.0, "maxDistance": 2880, "maxDistanceWithPrecision": 2880.71}, {"distance":
        90.76, "duration": 68.058, "movingDuration": 55.0, "elevationGain": 0.0, "elevationLoss":
        0.0, "averageSpeed": 1.3339999914169312, "averageMovingSpeed": 1.7730748401447018,
        "maxSpeed": 2.0989999771118164, "calories": 13.0, "bmrCalories": 2.0, "averageHR":
        128.0, "maxHR": 155.0, "averageRunCadence": 67.453125, "maxRunCadence": 114.0,
        "averageTemperature": 20.0, "maxTemperature": 22.0, "minTemperature": 19.0,
        "averagePower": 5[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/19042748874/typedsplits
  response:
    body:
      string: '{"activityId": 19042748874, "activityUUID": {"uuid": "e151c48c-0914-4071-833d-6ebd8fc6e997"},
        "splits": [{"startTimeLocal": "2025-05-06T17:00:50.0", "startTimeGMT": "2025-05-06T15:00:50.0",
        "startLatitude": 45.608920622617006, "startLongitude": 9.616553988307714,
        "distance": 453.42, "duration": 141.0, "movingDuration": 136.0, "elapsedDuration":
        141.0, "elevationGain": 2.0, "elevationLoss": 0.0, "averageSpeed": 3.216000080108643,
        "averageMovingSpeed": 3.333970686968635, "maxSpeed": 3.638999938964844, "calories":
        29.0, "bmrCalories": 3.0, "averageHR": 115.0, "maxHR": 127.0, "averageRunCadence":
        156.3125, "maxRunCadence": 172.0, "averageTemperature": 27.0, "maxTemperature":
        27.0, "minTemperature": 26.0, "averagePower": 383.0, "maxPower": 461.0, "normalizedPower":
        414.0, "groundContactTime": 254.60000610351562, "strideLength": 122.10000000000001,
        "verticalOscillation": 9.469999694824219, "verticalRatio": 7.78000020980835,
        "totalExerciseReps": 0, "endLatitude": 45.61290370300412, "endLongitude":
        9.616137240082026, "avgVerticalSpeed": 0.014000000432133675, "avgGradeAdjustedSpeed":
        3.2980000972747803, "avgElapsedDurationVerticalSpeed": 0.014388489208633096,
        "type": "RWD_RUN", "messageIndex": 0, "endTimeGMT": "2025-05-06T15:03:10.0",
        "startElevation": 176.2}, {"startTimeLocal": "2025-05-06T17:00:50.0", "startTimeGMT":
        "2025-05-06T15:00:50.0", "startLatitude": 45.608920622617006, "startLongitude":
        9.616553988307714, "distance": 2880.71, "duration": 955.954, "movingDuration":
        921.0, "elapsedDuration": 1007.937, "elevationGain": 17.0, "elevationLoss":
        4.0, "averageSpeed": 3.013000011444092, "averageMovingSpeed": 3.1278066894001086,
        "maxSpeed": 4.14300012588501, "calories": 210.0, "bmrCalories": 23.0, "averageHR":
        122.0, "maxHR": 137.0, "averageRunCadence": 155.25, "maxRunCadence": 182.0,
        "averageTemperature": 23.0, "maxTemperature": 27.0, "minTemperature": 21.0,
        "averagePower": 355.0, "maxPower": 514.0, "normalizedPower": 377.0, "groundContactTime":
        260.5, "strideLength": 115.55000000000001, "verticalOscillation": 9.200000000000001,
        "verticalRatio": 8.039999961853027, "totalExerciseReps": 0, "endLatitude":
        45.62527765519917, "endLongitude": 9.630192099139094, "avgVerticalSpeed":
        0.013000000268220901, "avgGradeAdjustedSpeed": 3.0880000591278076, "avgElapsedDurationVerticalSpeed":
        0.011940298507462687, "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes":
        [1, 2, 3], "endTimeGMT": "2025-05-06T15:17:36.0", "startElevation": 176.2},
        {"startTimeLocal": "2025-05-06T17:03:11.0", "startTimeGMT": "2025-05-06T15:03:11.0",
        "startLatitude": 45.61293153092265, "startLongitude": 9.616132378578186, "distance":
        6.2, "duration": 2.0, "movingDuration": 0.0, "elapsedDuration": 2.0, "elevationGain":
        0.0, "elevationLoss": 0.0, "averageSpeed": 3.099999904632569, "maxSpeed":
        0.0, "calories": 0.0, "bmrCalories": 0.0, "av[...]
