interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 164, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 56.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        154, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157618665, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["MONDAY", "FRIDAY", "THURSDAY", "TUESDAY", "SATURDAY", "WEDNESDAY", "SUNDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24387737173/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24387737173, "measurementCount": 25, "metricsCount":
        2049, "totalMetricsCount": 2049, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "sumDistance", "unit": {"id":
        1, "key": "meter", "factor": 100.0}}, {"metricsIndex": 2, "key": "directElevation",
        "unit": {"id": 1, "key": "meter", "factor": 100.0}}, {"metricsIndex": 3, "key":
        "directSpeed", "unit": {"id": 20, "key": "mps", "factor": 0.1}}, {"metricsIndex":
        4, "key": "directLongitude", "unit": {"id": 60, "key": "dd", "factor": 1.0}},
        {"metricsIndex": 5, "key": "directRunCadence", "unit": {"id": 92, "key"[...]
