interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE",
        "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD",
        "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE",
        "SCOPE_OMT_CAMPAIGN_READ", "SCOPE_OMT_SUBSCRIPTION_READ", "SCOPE_PRODUCT_SEARCH_READ",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "nameApproved": true, "userProfileFullName": "Paolo", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 3, "userPoint": 102, "levelUpdateDate": "2023-06-11T20:10:14.0",
        "levelIsViewed": false, "levelPointThreshold": 140, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 81000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 51.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3888878, "lactateThresholdHeartRate": 161,
        "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1115481040, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["TUESDAY", "FRIDAY", "MONDAY", "THURSDAY", "SATURDAY", "SUNDAY", "WEDNESDAY"],
        "preferredLongTrainingDays": ["SATURDAY", "SUNDAY"]}, "userSleep": {"sleepTime":
        0, "defaultSleepTime": false, "wakeTime": 28800, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null, "userSleepWindows": [{"sleepWindowFrequency":
        "SUNDAY", "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "MONDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "TUESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "WEDNESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "THURSDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "FRIDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "SATURDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "DAILY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18923007987
  response:
    body:
      string: '{"activityId": 18923007987, "activityUUID": {"uuid": "d982fbc3-6efe-4963-97d2-0039934b7fec"},
        "activityName": "Verdellino - 6x300m", "userProfileId": 113739130, "isMultiSportParent":
        false, "activityTypeDTO": {"typeId": 1, "typeKey": "running", "parentTypeId":
        17, "isHidden": false, "restricted": false, "trimmable": true}, "eventTypeDTO":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "accessControlRuleDTO":
        {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO": {"unitId": 124,
        "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"}, "metadataDTO":
        {"isOriginal": true, "deviceApplicationInstallationId": 993117, "agentApplicationInstallationId":
        null, "agentString": null, "fileFormat": {"formatId": 7, "formatKey": "fit"},
        "associatedCourseId": null, "lastUpdateDate": "2025-04-24T15:56:01.0", "uploadedDate":
        "2025-04-24T15:56:00.0", "videoUrl": null, "hasPolyline": true, "hasChartData":
        true, "hasHrTimeInZones": true, "hasPowerTimeInZones": true, "userInfoDto":
        {"userProfilePk": 113739130, "displayname": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3",
        "fullname": "Paolo", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "ANTPLUS", "antplusDeviceType": "HEART_RATE", "softwareVersion":
        3.9, "batteryStatus": "OK"}], "activityImages": [], "manufacturer": "GARMIN",
        "diveNumber": null, "lapCount": 18, "associatedWorkoutId": 1090297018, "isAtpActivity":
        null, "deviceMetaDataDTO": {"deviceId": "3444001964", "deviceTypePk": 37086,
        "deviceVersionPk": 993117}, "hasIntensityIntervals": true, "hasSplits": true,
        "eBikeMaxAssistModes": null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining":
        null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData": true, "calendarEventInfo":
        null, "groupRideUUID": null, "hasHeatMap": false, "personalRecord": false,
        "autoCalcCalories": false, "favorite": false, "runPowerWindDataEnabled": true,
        "gcj02": false, "manualActivity": false, "trimmed": false, "elevationCorrected":
        false}, "summaryDTO": {"startTimeLocal": "2025-04-24T16:42:20.0", "startTimeGMT":
        "2025-04-24T14:42:20.0", "startLatitude": 45.6090556550771, "startLongitude":
        9.61661584675312, "distance": 9621.27, "duration": 3951.354, "movingDuration":
        3598.523, "elapsedDuration": 4060.752, "elevationGain": 38.0, "elevationLoss":
        35.0, "maxElevation": 190.4, "minElevation": 172.2, "averageSpeed": 2.434999942779541,
        "averageMovingSpeed": 2.6736718216422166, "maxSpeed": 7.250000000000001, "calories":
        801.0, "bmrCalories": 96.0, "averageHR": 123.0, "maxHR": 164.0, "minHR": 80.0,
        "averageRunCadence": 129.90625, "maxRunCadence": 220.0, "averageTemperature":
        26.05018532916739, "maxTemperature": 29.0, "minTemperature": 24.0, "averagePower":
        264.0, "maxPower": 812.0, "minPower": 0.0, "normalizedPower": 364.0, "totalWork":
        248.9248261344815, "groundContactTime": 264.0, "strideLength": 110.3699951171875,
        "verticalOscillation": 8.20999984741211, "trainingEffect": 3.700000047683716,
        "anaerobicTrainingEffect": 4.400000095367432, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_FITNESS_2", "anaerobicTrainingEffectMessage": "HIGHLY_IMPROVING_ANAEROBIC_CAPACITY_AND_POWER_3",
        "verticalRatio": 8.119999885559082, "endLatitude": 45.609086751937866, "endLongitude":
        9.616676112636924, "maxVerticalSpeed": 0.600006103515625, "waterEstimated":
        1014.0, "minRespirationRate": 22.670000076293945, "maxRespirationRate": 50.2599983215332,
        "avgRespirationRate": 37.65999984741211, "trainingEffectLabel": "ANAEROBIC_CAPACITY",
        "activityTrainingLoad": 384.4158630371094, "minActivityLapDuration": 48.294,
        "directWorkoutFeel": 75, "directWorkoutRpe": 60, "directWorkoutComplianceScore":
        100, "moderateIntensityMinutes": 13, "vigorousIntensityMinutes": 51, "steps":
        8946, "beginPotentialStamina": 99.0, "endPotentialStamina": 48.0, "minAvailableStamina":
        47.0, "avgGradeAdjustedSpeed": 2.446000099182129, "differenceBodyBattery":
        -11}, "locationName": "Verdellino", "splitSummaries": [{"distance": 83.03,
        "duration": 264.609, "movingDuration": 0.0, "elevationGain": 0.0, "elevationLoss":
        0.0, "averageSpeed": 0.3140000104904174, "maxSpeed": 0.0, "calories": 39.0,
        "bmrCalories": 6.0, "averageHR": 112.0, "maxHR": 158.0, "averageRunCadence":
        25.875, "maxRunCadence": 105.0, "averageTemperature": 25.0, "maxTemperature":
        28.0, "minTemperature": 24.0, "averagePower": 0.0, "maxPower": 0.0, "normalizedPower":
        206.0, "strideLength": 3.3601212355205496, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0, "avgGradeAdjustedSpeed": 0.0, "splitType": "RWD_STAND", "noOfSplits":
        25, "maxElevationGain": 0.0, "averageElevationGain": 0.0, "maxDistance": 9,
        "maxDistanceWithPrecision": 9.2}, {"distance": 3387.57, "duration": 1196.473,
        "movingDuration": 1175.0, "elevationGain": 7.0, "elevationLoss": 17.0, "averageSpeed":
        2.8310000896453857, "averageMovingSpeed": 2.8830383560505317, "maxSpeed":
        5.644999980926514, "calories": 277.0, "bmrCalories": 29.0, "averageHR": 131.0,
        "maxHR": 157.0, "averageRunCadence": 157.03125, "maxRunCadence": 195.0, "averageTemperature":
        26.0, "maxTemperature": 28.0, "minTemperature": 25.0, "averagePower": 326.0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18923007987/typedsplits
  response:
    body:
      string: '{"activityId": 18923007987, "activityUUID": {"uuid": "d982fbc3-6efe-4963-97d2-0039934b7fec"},
        "splits": [{"startTimeLocal": "2025-04-24T16:42:20.0", "startTimeGMT": "2025-04-24T14:42:20.0",
        "startLatitude": 45.6090556550771, "startLongitude": 9.61661584675312, "distance":
        2864.62, "duration": 938.991, "movingDuration": 938.0, "elapsedDuration":
        943.001, "elevationGain": 21.0, "elevationLoss": 6.0, "averageSpeed": 3.0510001182556157,
        "averageMovingSpeed": 3.053966009794776, "maxSpeed": 3.4800000190734863, "calories":
        226.0, "bmrCalories": 23.0, "averageHR": 125.0, "maxHR": 133.0, "averageRunCadence":
        166.421875, "maxRunCadence": 172.0, "averageTemperature": 26.0, "maxTemperature":
        28.0, "minTemperature": 25.0, "averagePower": 363.0, "maxPower": 438.0, "normalizedPower":
        367.0, "groundContactTime": 266.6000061035156, "strideLength": 111.5300048828125,
        "verticalOscillation": 9.180000305175781, "verticalRatio": 8.239999771118164,
        "totalExerciseReps": 0, "endLatitude": 45.62533289194107, "endLongitude":
        9.63020064868033, "avgVerticalSpeed": 0.01600000075995922, "avgGradeAdjustedSpeed":
        3.125, "avgElapsedDurationVerticalSpeed": 0.016204687578083354, "type": "RWD_RUN",
        "messageIndex": 0, "endTimeGMT": "2025-04-24T14:57:59.0", "startElevation":
        175.2}, {"startTimeLocal": "2025-04-24T16:42:20.0", "startTimeGMT": "2025-04-24T14:42:20.0",
        "startLatitude": 45.6090556550771, "startLongitude": 9.61661584675312, "distance":
        2864.62, "duration": 945.781, "movingDuration": 939.0, "elapsedDuration":
        1055.179, "elevationGain": 21.0, "elevationLoss": 6.0, "averageSpeed": 3.029000043869019,
        "averageMovingSpeed": 3.050713649826944, "maxSpeed": 3.4800000190734863, "calories":
        227.0, "bmrCalories": 23.0, "averageHR": 124.0, "maxHR": 133.0, "averageRunCadence":
        165.1875, "maxRunCadence": 172.0, "averageTemperature": 26.0, "maxTemperature":
        28.0, "minTemperature": 25.0, "averagePower": 360.0, "maxPower": 438.0, "normalizedPower":
        366.0, "groundContactTime": 266.6000061035156, "strideLength": 111.5300048828125,
        "verticalOscillation": 9.180000305175781, "verticalRatio": 8.239999771118164,
        "totalExerciseReps": 0, "endLatitude": 45.62512870877981, "endLongitude":
        9.631214858964086, "avgVerticalSpeed": 0.01600000075995922, "avgGradeAdjustedSpeed":
        3.1019999980926514, "avgElapsedDurationVerticalSpeed": 0.03551725874825647,
        "type": "INTERVAL_WARMUP", "messageIndex": 1, "lapIndexes": [1, 2, 3], "endTimeGMT":
        "2025-04-24T14:59:54.0", "startElevation": 175.2}, {"startTimeLocal": "2025-04-24T16:58:46.0",
        "startTimeGMT": "2025-04-24T14:58:46.0", "duration": 0.0, "elapsedDuration":
        44.0, "totalExerciseReps": 0, "endLatitude": 45.62528335489333, "endLongitude":
        9.630695767700672, "type": "RWD_WALK", "messageIndex": 2, "endTimeGMT": "2025-04-24T14:58:46.0"},
        {"startTimeLocal": "2025-04-24T16:59:20.0", "startTimeGMT": "2025-04-24T14:59:20.0",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?start=0&limit=4&search=6x300m&endDate=2025-04-24&activityType=running
  response:
    body:
      string: '[{"activityId": 18923007987, "activityName": "Verdellino - 6x300m",
        "startTimeLocal": "2025-04-24 16:42:20", "startTimeGMT": "2025-04-24 14:42:20",
        "activityType": {"typeId": 1, "typeKey": "running", "parentTypeId": 17, "isHidden":
        false, "restricted": false, "trimmable": true}, "eventType": {"typeId": 9,
        "typeKey": "uncategorized", "sortOrder": 10}, "distance": 9621.26953125, "duration":
        3951.35400390625, "elapsedDuration": 4060.751953125, "movingDuration": 3598.522994995117,
        "elevationGain": 38.0, "elevationLoss": 35.0, "averageSpeed": 2.434999942779541,
        "maxSpeed": 7.250000000000001, "startLatitude": 45.6090556550771, "startLongitude":
        9.61661584675312, "hasPolyline": true, "hasImages": false, "ownerId": 113739130,
        "ownerDisplayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "ownerFullName":
        "Paolo", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "calories": 801.0, "bmrCalories": 96.0, "averageHR": 123.0, "maxHR": 164.0,
        "averageRunningCadenceInStepsPerMinute": 129.90625, "maxRunningCadenceInStepsPerMinute":
        220.0, "steps": 8946, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_ATP_READ",
        "SCOPE_DIVE_API_WRITE", "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE",
        "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ", "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_TOKEN_ADMIN",
        "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER"],
        "privacy": {"typeId": 3, "typeKey": "subscribers"}, "userPro": false, "hasVideo":
        false, "timeZoneId": 124, "beginTimestamp": 1745505740000, "sportTypeId":
        1, "avgPower": 264.0, "maxPower": 812.0, "aerobicTrainingEffect": 3.700000047683716,
        "anaerobicTrainingEffect": 4.400000095367432, "normPower": 364.0, "avgVerticalOscillation":
        8.20999984741211, "avgGroundContactTime": 264.0, "avgStrideLength": 110.3699951171875,
        "vO2MaxValue": 48.0, "avgVerticalRatio": 8.119999885559082, "workoutId": 1090297018,
        "deviceId": 3444001964, "minTemperature": 24.0, "maxTemperature": 29.0, "minElevation":
        172.1999969482422, "maxElevation": 190.39999389648438, "maxDoubleCadence":
        220.0, "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed":
        0.600006103515625, "manufacturer": "GARMIN", "locationName": "Verdellino",
        "lapCount": 18, "endLatitude": 45.609086751937866, "endLongitude": 9.616676112636924,
        "waterEstimated": 1014.0, "minRespirationRate": 22.670000076293945, "maxRespirationRate":
        50.2599983215332, "avgRespirationRate": 37.65999984741211, "trainingEffectLabel":
        "ANAEROBIC_CAPACITY", "activityTrainingLoad": 384.4158630371094, "minActivityLapDuration":
        48.29399871826172, "aerobicTrainingEffectMessage": "IMPROVING_AEROBIC_FITNESS_2",
        "anaerobicTrainingEffectMessage": "HIGHLY_IMPROVING_ANAEROBIC_CAPACITY_AND_POWER_3",
        "splitSummaries": [{"noOfSplits": 25, "totalAscent": 0.0, "duration": 264.6090087890625,
        "splitType": "RWD_STAND", "numClimbSends": 0, "maxElevationGain": 0.0, "averageElevationGain":
        0.0, "maxDistance": 9, "distance": 83.02999877929688, "averageSpeed": 0.3140000104904175,
        "maxSpeed": 0.0, "numFalls": 0, "elevationLoss": 0.0}, {"noOfSplits": 1, "totalAscent":
        7.0, "duration": 1196.4730224609375, "splitType": "INTERVAL_COOLDOWN", "numClimbSends":
        0, "maxElevationGain": 7.0, "averageElevationGain": 7.0, "maxDistance": 3387,
        "distance": 3387.570068359375, "averageSpeed": 2.8310000896453857, "maxSpeed":
        5.644999980926514, "numFalls": 0, "elevationLoss": 17.0}, {"noOfSplits": 5,
        "totalAscent": 6.0, "duration": 1504.5450439453125, "splitType": "INTERVAL_RECO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/18520928352
  response:
    body:
      string: '{"activityId": 18520928352, "activityUUID": {"uuid": "91eb41fc-17cc-48cb-bb27-7081a6b97395"},
        "activityName": "Verdellino - 6x300m parte 1/2", "description": "Nota: questa
        \u00e8 la prima parte di due. Mentre stavo facendo il quinto 600 m, nell''orologio
        Garmin si \u00e8 attivato l''Incident Detection che voleva inviare un allarme
        al mio numero di emergenza. L''allarme non \u00e8 stato inviato perch\u00e8
        non avevo con me il cellulare. Non so cosa possa averlo attivato: leggo che
        se si sprinta e ci si ferma bruscamente restando immobili, allora potrebbe
        attivarsi; ma nel mio caso stavo facendo i metri [...]
[...]
