interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 408106091, "profileId": 113739130, "garminGUID": "036d4457-1523-4d57-a237-43de978cd7cc",
        "displayName": "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullName": "Paolo",
        "userName": "puntonim@gmail.com", "profileImageType": "UPLOADED_PHOTO", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "hasPremiumSocialIcon": false, "location": "Verdellino, Italy", "facebookUrl":
        null, "twitterUrl": null, "personalWebsite": null, "motivation": 2, "bio":
        null, "primaryActivity": "other", "favoriteActivityTypes": ["running", "cycling",
        "weight_training", "snow_sports"], "runningTrainingSpeed": 0.0, "cyclingTrainingSpeed":
        0.0, "favoriteCyclingActivityTypes": ["road", "mountain"], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "following", "activityStartVisibility": "public", "activityMapVisibility":
        "public", "courseVisibility": "public", "activityHeartRateVisibility": "public",
        "activityPowerVisibility": "public", "badgeVisibility": "private", "showAge":
        false, "showWeight": false, "showHeight": false, "showWeightClass": false,
        "showAgeRange": false, "showGender": false, "showActivityClass": false, "showVO2Max":
        false, "showPersonalRecords": true, "showLast12Months": true, "showLifetimeTotals":
        true, "showUpcomingEvents": true, "showRecentFavorites": true, "showRecentDevice":
        true, "showRecentGear": false, "showBadges": true, "otherActivity": null,
        "otherPrimaryActivity": null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ",
        "SCOPE_ATP_WRITE", "SCOPE_CIQ_APPSTORE_SERVICES_CREATE", "SCOPE_CIQ_APPSTORE_SERVICES_DELETE",
        "SCOPE_CIQ_APPSTORE_SERVICES_READ", "SCOPE_CIQ_APPSTORE_SERVICES_UPDATE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE", "SCOPE_DIVE_API_READ", "SCOPE_DI_API_READ",
        "SCOPE_DI_COACHING_READ", "SCOPE_DI_COACHING_WRITE", "SCOPE_DI_OAUTH_2_AUTHORIZATION_CODE_CREATE",
        "SCOPE_DI_TOUM_NATIVE_REPORTED_DETAIL_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE",
        "SCOPE_GARMINPAY_READ", "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE",
        "SCOPE_GCX_KID_READ", "SCOPE_GCX_KID_WRITE", "SCOPE_GCX_PET_READ", "SCOPE_GCX_PET_WRITE",
        "SCOPE_GHS_SAMD", "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE",
        "SCOPE_INSIGHTS_READ", "SCOPE_INSIGHTS_WRITE", "SCOPE_OMT_CAMPAIGN_READ",
        "SCOPE_OMT_DISCOUNTS_CREATE", "SCOPE_OMT_DISCOUNTS_READ", "SCOPE_OMT_SUBSCRIPTION_READ",
        "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_GARMIN_USER"], "nameApproved": true, "userProfileFullName":
        "Paolo", "makeGolfScorecardsPrivate": true, "allowGolfLiveScoring": false,
        "allowGolfScoringByConnections": true, "userLevel": 4, "userPoint": 164, "levelUpdateDate":
        "2026-01-20T07:26:11.0", "levelIsViewed": false, "levelPointThreshold": 300,
        "userPointOffset": 0, "userPro": false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 113739130, "userData": {"gender": "MALE", "weight": 84000.0,
        "height": 180.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1980-01-18",
        "measurementSystem": "metric", "activityLevel": 7, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 57.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.39444334000000003, "lactateThresholdHeartRate":
        154, "diveNumber": null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        null, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp":
        1157618665, "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": true,
        "trainingStatusPausedDate": null, "weatherLocation": {"useFixedLocation":
        null, "latitude": null, "longitude": null, "locationName": null, "isoCountryCode":
        null, "postalCode": null}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": null, "availableTrainingDays":
        ["WEDNESDAY", "SUNDAY", "TUESDAY", "FRIDAY", "MONDAY", "THURSDAY", "SATURDAY"],
        "preferredLongTrainingDays": ["SUNDAY", "SATURDAY"], "virtualCaddieDataSource":
        null, "numberDivesAutomatically": null, "firstbeatRowingLtTimestamp": null,
        "lactateThresholdRowingPace": null, "lactateThresholdHeartRateRowing": null,
        "lactateThresholdHeartRateCycling": null, "wtrPrimaryActivityType": null},
        "userSleep": {"sleepTime": 0, "defaultSleepTime": false, "wakeTime": 28800,
        "defaultWakeTime": false}, "connectDate": null, "sourceType": null, "userSleepWindows":
        [{"sleepWindowFrequency": "SUNDAY", "startSleepTimeSecondsFromMidnight": 0,
        "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "MONDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "TUESDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "WEDNESDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "THURSDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "FRIDAY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}, {"sleepWindowFrequency": "SATURDAY", "startSleepTimeSecondsFromMidnight":
        0, "endSleepTimeSecondsFromMidnight": 28800}, {"sleepWindowFrequency": "DAILY",
        "startSleepTimeSecondsFromMidnight": 0, "endSleepTimeSecondsFromMidnight":
        28800}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24387737173
  response:
    body:
      string: '{"activityId": 24387737173, "activityUUID": {"uuid": "fc7901c4-2e9e-400a-81d5-e3dafe6e8909"},
        "activityName": "Torre Boldone Track Running", "userProfileId": 113739130,
        "isMultiSportParent": false, "activityTypeDTO": {"typeId": 8, "typeKey": "track_running",
        "parentTypeId": 1, "isHidden": false, "restricted": false, "trimmable": true},
        "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10},
        "accessControlRuleDTO": {"typeId": 3, "typeKey": "subscribers"}, "timeZoneUnitDTO":
        {"unitId": 124, "unitKey": "Europe/Paris", "factor": 0.0, "timeZone": "Europe/Paris"},
        "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId": 1014006,
        "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2026-09-16T18:42:53.0", "uploadedDate": "2026-09-16T18:42:53.0", "videoUrl":
        null, "hasPolyline": true, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": true, "userInfoDto": {"userProfilePk": 113739130, "displayname":
        "3c9af3f5-eec2-4047-b9d8-bc98d3bb88c3", "fullname": "Paolo", "profileImageUrlLarge":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prof.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prfr.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/54ac91f0-443c-4611-a585-eb18d69ae44e-prth.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": [{"manufacturer":
        "GARMIN", "serialNumber": 3511385941, "sku": "006-B4606-00", "fitProductNumber":
        4606, "sourceType": "BLUETOOTH_LOW_ENERGY", "softwareVersion": 5.4, "batteryStatus":
        "GOOD", "bleDeviceType": "HEART_RATE", "batteryLevel": 80}], "activityImages":
        [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount": 5, "associatedWorkoutId":
        null, "isAtpActivity": null, "deviceMetaDataDTO": {"deviceId": "3444001964",
        "deviceTypePk": 37086, "deviceVersionPk": 1014006}, "hasIntensityIntervals":
        false, "hasSplits": true, "eBikeMaxAssistModes": null, "eBikeBatteryUsage":
        null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList": null, "hasRunPowerWindData":
        true, "calendarEventInfo": null, "groupRideUUID": null, "hasHeatMap": false,
        "sessionResultType": "ORIGINAL", "hasMultiDayActivities": false, "thirdPartyGymEquipment":
        [], "trimmed": false, "runPowerWindDataEnabled": true, "elevationCorrected":
        false, "manualActivity": false, "autoCalcCalories": false, "favorite": false,
        "personalRecord": false, "gcj02": false}, "summaryDTO": {"startTimeLocal":
        "2026-09-16T19:58:35.0", "startTimeGMT": "2026-09-16T17:58:35.0", "startLatitude":
        45.71224484592676, "startLongitude": 9.714410696178675, "distance": 7520.0,
        "duration": 2045.275, "movingDuration": 2042.056, "elapsedDuration": 2294.723,
        "elevationGain": 0.0, "elevationLoss": 0.0, "maxElevation": 279.0, "minElevation":
        276.2, "avgElevation": 278.95, "averageSpeed": 3.677000045776367, "averageMovingSpeed":
        3.6825630643327427, "maxSpeed": 5.47700023651123, "calories": 600.0, "bmrCalories":
        50.0, "averageHR": 148.0, "maxHR": 165.0, "minHR": 84.0, "averageRunCadence":
        174.8125, "maxRunCadence": 194.0, "averagePower": 439.0, "maxPower": 624.0,
        "minPower": 0.0, "normalizedPower": 461.0, "totalWork": 214.5574484131341,
        "groundContactTime": 238.6999969482422, "strideLength": 127.3199951171875,
        "verticalOscillation": 9.05, "trainingEffect": 4.199999809265137, "anaerobicTrainingEffect":
        3.4000000953674316, "aerobicTrainingEffectMessage": "HIGHLY_IMPACTING_TEMPO_23",
        "anaerobicTrainingEffectMessage": "IMPROVING_ANAEROBIC_BASE_2", "verticalRatio":
        7.320000171661377, "endLatitude": 45.71280534379184, "endLongitude": 9.714431734755635,
        "maxVerticalSpeed": 2.399993896484375, "waterEstimated": 567.0, "minRespirationRate":
        21.790000915527344, "maxRespirationRate": 52.90999984741211, "avgRespirationRate":
        40.400001525878906, "trainingEffectLabel": "TEMPO", "activityTrainingLoad":
        251.1405792236328, "minActivityLapDuration": 352.531, "directWorkoutFeel":
        50, "directWorkoutRpe": 30, "moderateIntensityMinutes": 0, "vigorousIntensityMinutes":
        35, "steps": 5954, "recoveryHeartRate": 31, "beginPotentialStamina": 99.0,
        "endPotentialStamina": 50.0, "minAvailableStamina": 33.0, "differenceBodyBattery":
        -12}, "locationName": "Torre Boldone", "splitSummaries": [{"distance": 7520.0,
        "duration": 2045.275, "movingDuration": 2042.0, "elevationGain": 0.0, "elevationLoss":
        0.0, "averageSpeed": 3.677000045776367, "averageMovingSpeed": 3.682664054848188,
        "maxSpeed": 5.47700023651123, "calories": 600.0, "bmrCalories": 50.0, "averageHR":
        148.0, "maxHR": 165.0, "averageRunCadence": 174.8125, "maxRunCadence": 194.0,
        "averagePower": 439.0, "maxPower": 624.0, "normalizedPower": 461.0, "groundContactTime":
        238.6999969482422, "strideLength": 127.3199951171875, "verticalOscillation":
        9.05, "verticalRatio": 7.320000171661377, "totalExerciseReps": 0, "avgVerticalSpeed":
        0.0, "splitType": "INTERVAL_ACTIVE", "noOfSplits": 1, "maxElevationGain":
        0.0, "averageElevationGain": 0.0, "maxDistance": 7520, "maxDistanceWithPrecision":
        7520.0, "avgStepFrequency": 174.8125, "avgStepLength": 1.273199951171875},
        {"distance": 4.54, "duration": 1.761, "movingDuration": 0.0, "elevationGain":
        0.0, "elevationLoss": 0.0, "averageSpeed": 2.578000068664551, "maxSpeed":
        0.0, "calories": 0.0, "bmrCalories": 0.0, "averageHR": 90.0, "maxHR": 90.0,
        "averageRunCadence": 0.0, "maxRunCadence": 0.0, "averagePower": 0.0, "maxPower":
        0.0, "normalizedPower": 0.0, "totalExerciseReps": 0, "avgVerticalSpeed": 0.0,
        "splitType": "RWD_STAND", "noOfSplits": 7, "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/24387737173/details?maxChartSize=100000&maxPolylineSize=1
  response:
    body:
      string: '{"activityId": 24387737173, "measurementCount": 25, "metricsCount":
        2049, "totalMetricsCount": 2049, "metricDescriptors": [{"metricsIndex": 0,
        "key": "directAvailableStamina", "unit": {"id": 6, "key": "dimensionless",
        "factor": 1.0}}, {"metricsIndex": 1, "key": "directLongitude", "unit": {"id":
        60, "key": "dd", "factor": 1.0}}, {"metricsIndex": 2, "key": "sumElapsedDuration",
        "unit": {"id": 40, "key": "second", "factor": 1000.0}}, {"metricsIndex": 3,
        "key": "directTimestamp", "unit": {"id": 120, "key": "gmt", "factor": 0.0}},
        {"metricsIndex": 4, "key": "directDoubleCadence", "unit": {"id": 92, "key":
        "stepsPerMinute", "factor":[...]
